
@{
    GMIEntities db = new GMIEntities();

    ViewBag.Title = "Index";

    int flag = 1;

    DateTime fechaInicio = DateTime.Today;
    DateTime fechaFinal = DateTime.Today.AddDays(1);

    string sucursal = "";
    string cuenta = null;
    string canal = "";

    if(ViewBag.Fecha != null)
    {
        fechaInicio = Convert.ToDateTime(ViewBag.Fecha);
        fechaFinal = fechaInicio.AddDays(1);
    }

    if(ViewBag.Sucursal != "")
    {
        sucursal = ViewBag.Sucursal;
    }

    if(ViewBag.Canal != "")
    {
        canal = ViewBag.Canal;
    }

    if (ViewBag.Cuenta != "")
    {
        cuenta = ViewBag.Cuenta;
    }

    var modelo = db.Paciente.Join(db.Cita, n => n.Folio, m => m.Folio, (n, m) => new { N = n, M = m }).
Where(s => s.M.FechaReferencia >= fechaInicio && s.M.FechaReferencia < fechaFinal
&& (s.M.Sucursal.Contains(sucursal) && s.M.Canal.Contains(canal) && s.M.Cuenta == cuenta));

}

<br />
<h2 style="color: white">Contabilidad</h2>
<br />

<form class="form-inline" method="post" enctype="multipart/form-data" action="@Url.Content("~/Maqueta/Index")">
    <div>

        <select name="sucursal" style="font-size:2vh" class="form-control">
            @{
                if (ViewBag.Sucursal == "")
                {
                    <option value="">SUCURSAL</option>
                }
                else
                {
                    <option value="@sucursal">@sucursal</option>
                }
            }

            @{
                foreach (var item in db.Sucursales)
                {
                    <option value="@item.Nombre">@item.Nombre</option>
                }
            }
        </select>

        <select name="cuenta" style="font-size:2vh" class="form-control">
            @{
                if (ViewBag.Cuenta == null || ViewBag.Cuenta == "")
                {
                    <option value="">CUENTA</option>
                }
                else
                {
                    <option value="@cuenta">@cuenta.ToUpper()</option>
                }
            }
            <option value="EFECTIVO">EFECTIVO</option>
            <option value="OXXO">OXXO</option>
            <option value="DEPÓSITO">DEPÓSITOS</option>
            <option value="TRANSFERENCIA">TRANSFERENCIAS</option>
            <option value="ACLARACIÓN">ACLARACIONES</option>
            <option value="EXCEDENTE">EXCEDENTE</option>
        </select>

        <select name="canal" style="font-size:2vh" class="form-control">
            @{
                if (ViewBag.Canal == "")
                {
                    <option value="">CANAL</option>
                }
                else
                {
                    <option value="@canal">@canal.ToUpper()</option>
                }
            }
            <option value="Recepción">RECEPCIÓN</option>
            <option value="Call Center">CALL CENTER</option>
            <option value="Gestoría">GESTOR</option>
        </select>

        <input type="date" name="fecha" class="form-control" />

        <input type="submit" class="btn btn-info" value="Enviar" />
        <a href="~/Maqueta/Index"><button type="button" class="btn btn-success">Limpiar Consulta</button></a>

    </div>

    
</form>

<br />
<div class="tablaScroll">
    <table class="table  table-hover tablas" style="color: #2F2D6B">
        <thead style="color:white">
            <tr>
                <th></th>
                <th>
                    Nombre
                </th>
                <th>
                    Fecha Cita
                </th>
                <th>
                    Sucursal
                </th>
                <th>
                    Referencia
                </th>
                <th>
                    Estatus Pago
                </th>
                <th>
                    Usuario
                </th>
                <th></th>
            </tr>
        </thead>

        @{
            foreach (var item in modelo)
            {
                <tr>
                    <td>
                        @flag
                    </td>
                    <td>
                        <b>@item.N.Nombre</b>
                    </td>
                    <td>
                        @Convert.ToDateTime(item.M.FechaReferencia).ToString("dd-MMMM-yyyy")
                    </td>
                    <td>
                        @item.M.Sucursal
                    </td>
                    <td>
                        @item.M.Referencia
                    </td>
                    <td>
                        @{
                            if (item.M.EstatusPago == "pending_payment")
                            {
                                <span>Pendiente</span>
                            }
                            else
                            {
                                <span>@item.M.EstatusPago</span>
                            }
                        }
                    </td>
                    <td>
                        @item.M.Recepcionista
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Acciones <span class="glyphicon glyphicon-triangle-bottom"></span>
                            </button>

                            <div class="dropdown-menu" style="padding:10px">
                                <a href="#" data-toggle="modal" data-target="#Efectivo_@item.M.idCita"><b>Efectivo</b></a>
                                <div class="dropdown-divider"></div>
                                <a href="#" data-toggle="modal" data-target="#Oxxo_@item.M.idCita"><b>Oxxo</b></a>
                                <div class="dropdown-divider"></div>
                                <a href="#" data-toggle="modal" data-target="#Deposito_@item.M.idCita"><b>Deposito</b></a>
                                <div class="dropdown-divider"></div>
                                <a href="#" data-toggle="modal" data-target="#Transferencia_@item.M.idCita"><b>Transferencia</b></a>
                                <div class="dropdown-divider"></div>
                                <a href="#" data-toggle="modal" data-target="#Aclaracion_@item.M.idCita"><b>Aclaracion</b></a>
                                <div class="dropdown-divider"></div>
                                <a href="#" data-toggle="modal" data-target="#Excedente_@item.M.idCita"><b>Excedente</b></a>
                                <div class="dropdown-divider"></div>

                            </div>

                            <!-- Efectivo -->
                            <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Maqueta/CambiarCuenta")">
                                @Html.AntiForgeryToken()
                                <div class="modal fade" id="Efectivo_@item.M.idCita" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="exampleModalLabel"><b>¿Está seguro de mandar los datos de esta venta a cuentas EN EFECTIVO?</b></h4>
                                            </div>
                                            <div class="modal-body">
                                                <input type="hidden" name="id" value="@item.M.idCita" />
                                                <input type="hidden" name="cuenta" value="EFECTIVO" />
                                                <div class="form-group" style="width:60%; min-width:320px">
                                                    <label for="recipient-name" class="col-form-label">Nombre:</label>
                                                    <b>@item.N.Nombre</b><br />
                                                    <label for="recipient-name" class="col-form-label">CURP:</label>
                                                    <b>@item.N.CURP</b><br />
                                                    <label for="recipient-name" class="col-form-label">NoExpediente:</label>
                                                    <b>@item.M.NoExpediente</b><br />
                                                    <label for="recipient-name" class="col-form-label">Fecha:</label>
                                                    <b>@Convert.ToDateTime(item.M.FechaReferencia).ToString("dd-MMMM-yyyy")</b><br />
                                                    <label for="recipient-name" class="col-form-label">Sucursal:</label>
                                                    <b>@item.M.Sucursal</b><br />
                                                    <label for="recipient-name" class="col-form-label">Doctor:</label>
                                                    <b>@item.M.Doctor</b><br />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                <input type="submit" value="Enviar" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <!-- OXXO -->
                            <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Maqueta/CambiarCuenta")">
                                @Html.AntiForgeryToken()
                                <div class="modal fade" id="Oxxo_@item.M.idCita" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="exampleModalLabel"><b>¿Está seguro de mandar los datos de esta venta a cuentas OXXO?</b></h4>
                                            </div>
                                            <div class="modal-body">
                                                <input type="hidden" name="id" value="@item.M.idCita" />
                                                <input type="hidden" name="cuenta" value="OXXO" />
                                                <div class="form-group" style="width:60%; min-width:320px">
                                                    <label for="recipient-name" class="col-form-label">Nombre:</label>
                                                    <b>@item.N.Nombre</b><br />
                                                    <label for="recipient-name" class="col-form-label">CURP:</label>
                                                    <b>@item.N.CURP</b><br />
                                                    <label for="recipient-name" class="col-form-label">NoExpediente:</label>
                                                    <b>@item.M.NoExpediente</b><br />
                                                    <label for="recipient-name" class="col-form-label">Fecha:</label>
                                                    <b>@Convert.ToDateTime(item.M.FechaReferencia).ToString("dd-MMMM-yyyy")</b><br />
                                                    <label for="recipient-name" class="col-form-label">Sucursal:</label>
                                                    <b>@item.M.Sucursal</b><br />
                                                    <label for="recipient-name" class="col-form-label">Doctor:</label>
                                                    <b>@item.M.Doctor</b><br />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                <input type="submit" value="Enviar" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <!-- Efectivo -->
                            <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Maqueta/CambiarCuenta")">
                                @Html.AntiForgeryToken()
                                <div class="modal fade" id="Deposito_@item.M.idCita" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="exampleModalLabel"><b>¿Está seguro de mandar los datos de esta venta a cuentas EN DEPÓSITO?</b></h4>
                                            </div>
                                            <div class="modal-body">
                                                <input type="hidden" name="id" value="@item.M.idCita" />
                                                <input type="hidden" name="cuenta" value="DEPÓSITO" />
                                                <div class="form-group" style="width:60%; min-width:320px">
                                                    <label for="recipient-name" class="col-form-label">Nombre:</label>
                                                    <b>@item.N.Nombre</b><br />
                                                    <label for="recipient-name" class="col-form-label">CURP:</label>
                                                    <b>@item.N.CURP</b><br />
                                                    <label for="recipient-name" class="col-form-label">NoExpediente:</label>
                                                    <b>@item.M.NoExpediente</b><br />
                                                    <label for="recipient-name" class="col-form-label">Fecha:</label>
                                                    <b>@Convert.ToDateTime(item.M.FechaReferencia).ToString("dd-MMMM-yyyy")</b><br />
                                                    <label for="recipient-name" class="col-form-label">Sucursal:</label>
                                                    <b>@item.M.Sucursal</b><br />
                                                    <label for="recipient-name" class="col-form-label">Doctor:</label>
                                                    <b>@item.M.Doctor</b><br />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                <input type="submit" value="Enviar" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <!-- Efectivo -->
                            <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Maqueta/CambiarCuenta")">
                                @Html.AntiForgeryToken()
                                <div class="modal fade" id="Transferencia_@item.M.idCita" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="exampleModalLabel"><b>¿Está seguro de mandar los datos de esta venta a cuentas EN TRANSFERENCIA?</b></h4>
                                            </div>
                                            <div class="modal-body">
                                                <input type="hidden" name="id" value="@item.M.idCita" />
                                                <input type="hidden" name="cuenta" value="TRANSFERENCIA" />
                                                <div class="form-group" style="width:60%; min-width:320px">
                                                    <label for="recipient-name" class="col-form-label">Nombre:</label>
                                                    <b>@item.N.Nombre</b><br />
                                                    <label for="recipient-name" class="col-form-label">CURP:</label>
                                                    <b>@item.N.CURP</b><br />
                                                    <label for="recipient-name" class="col-form-label">NoExpediente:</label>
                                                    <b>@item.M.NoExpediente</b><br />
                                                    <label for="recipient-name" class="col-form-label">Fecha:</label>
                                                    <b>@Convert.ToDateTime(item.M.FechaReferencia).ToString("dd-MMMM-yyyy")</b><br />
                                                    <label for="recipient-name" class="col-form-label">Sucursal:</label>
                                                    <b>@item.M.Sucursal</b><br />
                                                    <label for="recipient-name" class="col-form-label">Doctor:</label>
                                                    <b>@item.M.Doctor</b><br />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                <input type="submit" value="Enviar" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <!-- Efectivo -->
                            <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Maqueta/CambiarCuenta")">
                                @Html.AntiForgeryToken()
                                <div class="modal fade" id="Aclaracion_@item.M.idCita" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="exampleModalLabel"><b>¿Está seguro de mandar los datos de esta venta a ACLARACIONES?</b></h4>
                                            </div>
                                            <div class="modal-body">
                                                <input type="hidden" name="id" value="@item.M.idCita" />
                                                <input type="hidden" name="cuenta" value="ACLARACIÓN" />
                                                <div class="form-group" style="width:60%; min-width:320px">
                                                    <label for="recipient-name" class="col-form-label">Nombre:</label>
                                                    <b>@item.N.Nombre</b><br />
                                                    <label for="recipient-name" class="col-form-label">CURP:</label>
                                                    <b>@item.N.CURP</b><br />
                                                    <label for="recipient-name" class="col-form-label">NoExpediente:</label>
                                                    <b>@item.M.NoExpediente</b><br />
                                                    <label for="recipient-name" class="col-form-label">Fecha:</label>
                                                    <b>@Convert.ToDateTime(item.M.FechaReferencia).ToString("dd-MMMM-yyyy")</b><br />
                                                    <label for="recipient-name" class="col-form-label">Sucursal:</label>
                                                    <b>@item.M.Sucursal</b><br />
                                                    <label for="recipient-name" class="col-form-label">Doctor:</label>
                                                    <b>@item.M.Doctor</b><br />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                <input type="submit" value="Enviar" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <!-- Efectivo -->
                            <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Maqueta/CambiarCuenta")">
                                @Html.AntiForgeryToken()
                                <div class="modal fade" id="Excedente_@item.M.idCita" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="exampleModalLabel"><b>¿Está seguro de mandar los datos de esta venta a EXCEDENTE?</b></h4>
                                            </div>
                                            <div class="modal-body">
                                                <input type="hidden" name="id" value="@item.M.idCita" />
                                                <input type="hidden" name="cuenta" value="EXCEDENTE" />
                                                <div class="form-group" style="width:60%; min-width:320px">
                                                    <label for="recipient-name" class="col-form-label">Nombre:</label>
                                                    <b>@item.N.Nombre</b><br />
                                                    <label for="recipient-name" class="col-form-label">CURP:</label>
                                                    <b>@item.N.CURP</b><br />
                                                    <label for="recipient-name" class="col-form-label">NoExpediente:</label>
                                                    <b>@item.M.NoExpediente</b><br />
                                                    <label for="recipient-name" class="col-form-label">Fecha:</label>
                                                    <b>@Convert.ToDateTime(item.M.FechaReferencia).ToString("dd-MMMM-yyyy")</b><br />
                                                    <label for="recipient-name" class="col-form-label">Sucursal:</label>
                                                    <b>@item.M.Sucursal</b><br />
                                                    <label for="recipient-name" class="col-form-label">Doctor:</label>
                                                    <b>@item.M.Doctor</b><br />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                <input type="submit" value="Enviar" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                        
                    </td>
                </tr>
                flag++;
            }
        }

    </table>
</div>

