@model IEnumerable<SCT_iCare.Paciente>

@{
    ViewBag.Title = "Citas";

    var oUser = (Usuarios)HttpContext.Current.Session["User"];

    GMIEntities db = new GMIEntities();
    System.Web.Script.Serialization.JavaScriptSerializer js = new System.Web.Script.Serialization.JavaScriptSerializer();

    var Recepcion = new int?();
    var Hospital = "";
    var idHospital = 0;
    string Sucursal = null;
    int idUser = 14;
    string nombreUsuario = null;
    string fila = "";
    int registros;

    string noExpediente = "";
    string idRepetido = "";
    if (TempData["Expediente"] != null)
    {
        noExpediente = TempData["Expediente"].ToString();
        idRepetido = TempData["id"].ToString();

    }

    int flag = 1; //contador de la tabla

    DateTime start = DateTime.Now;
    DateTime finish = DateTime.Now.AddDays(1);

    int year = start.Year;
    int month = start.Month;
    int day = start.Day;

    int year1 = finish.Year;
    int month1 = finish.Month;
    int day1 = finish.Day;

    int tomorrorDay = day + 1;
    DateTime thisDate = ViewBag.Inicio;
    DateTime tomorrowDate = ViewBag.Final;

    var modelo = db.PacienteESP.Where(s => (s.FechaCita >= thisDate && s.FechaCita < tomorrowDate) || (s.EstatusCaptura != "Terminado" && s.EstatusCaptura != "Cancelado")).OrderByDescending(o => o.FechaCita).OrderByDescending(o => o.CancelaComentario == "Urgente");
    int? idRol = 0;

    if (oUser != null)
    {
        idUser = oUser.idUsuario;
        nombreUsuario = oUser.Nombre;
        idRol = oUser.idRol;

        Hospital = "GENERAL";
        Sucursal = Hospital.ToString();

        registros = db.Paciente.Join(db.Cita, n => n.Folio, m => m.Folio, (n, m) => new { N = n, M = m }).Where(s => s.M.FechaCita >= thisDate && s.M.FechaCita < tomorrowDate).Count();

        //if (idUser != 14 && oUser.idRol != 2)
        //{
        //Recepcion = (from r in db.Recepcionista where r.idUsuario == idUser select r.idSucursal).FirstOrDefault();
        //Hospital = (from h in db.Sucursales where h.idSucursal == Recepcion select h.Nombre).FirstOrDefault();
        //idHospital = (from h in db.Sucursales where h.idSucursal == Recepcion select h.idSucursal).FirstOrDefault();
        //Sucursal = Hospital.ToString();

        //registros = db.Paciente.Join(db.Cita, n => n.Folio, m => m.Folio, (n, m) => new { N = n, M = m }).Where(s => s.M.FechaCita >= thisDate && s.M.FechaCita < tomorrowDate && s.M.Sucursal == Sucursal).Count();

        //}
        //else
        //{
        //Hospital = "GENERAL";
        //Sucursal = Hospital.ToString();

        //registros = db.Paciente.Join(db.Cita, n => n.Folio, m => m.Folio, (n, m) => new { N = n, M = m }).Where(s => s.M.FechaCita >= thisDate && s.M.FechaCita < tomorrowDate).Count();

        //}
    }



}

<br />
<br />
<h3 style="color:#AC9070" class="text-center">@Sucursal, <span style="color:white"><a style="text-decoration:none; color:white">@DateTime.Now.ToString("dd-MMMM-yyyy")</a></span></h3>
@*<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal"><span class="glyphicon glyphicon-plus"></span> Cita con Pago</button>
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal2"><span class="glyphicon glyphicon-plus"></span> Crear Referecia de Pago</button>*@

<form class="form-inline" method="post" enctype="multipart/form-data" action="@Url.Content("~/Dictamenes/Citas")">
    <div style="display:inline-block; padding:15px; background-color:gainsboro; border-radius: 5px">
        <label for="recipient-name" style="color:navy" class="col-form-label text-primary">Desde:</label>
        <input type="date" class="form-control" min="2021-08-02" name="inicio" />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <label for="recipient-name" style="color:navy" class="col-form-label text-primary">Hasta:</label>
        <input type="date" class="form-control" name="final" /> &nbsp; &nbsp;
        <input type="submit" class="btn btn-primary" value="Enviar" />
        <a href="~/Dictamenes/Citas"><button type="button" class="btn btn-success">Limpiar Consulta</button></a>
    </div>

    <div class="col-lg-3" id="barras" style="margin: 10px 0 0 10px; display:inline-grid">
        <div class="input-group">
            <input type="text" class="form-control input-g" id="buscador" name="dato" placeholder="Paciente o Expediente">
            <span class="input-group-btn">
                <button class="btn btn-info buscar" id="buscar" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
    </div>
</form>

<br />

<div class="form-inline">
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal"><span class="glyphicon glyphicon-plus"></span> Nueva Cita</button>
    @{
        if (nombreUsuario == "Jesús Zenteno" || nombreUsuario == "Ángel Muñoz" || nombreUsuario == "Administrador")
        {
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#doctores"><span class="glyphicon glyphicon-off"></span> Habilitar/Deshabilitar Doctor</button>
        }
    }
</div>

@section scripts{

    <script>
        var input = document.getElementById("buscador");
        input.addEventListener("keydown", function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("buscar").click();
            }
        });

    </script>

    <script>
    $(function () {
        $(".buscar").click(function () {
            var url = "@Url.Action("Buscar", "Dictamenes")";
            var dato = $("#buscador").val();
            var data = { dato: dato };

            $.post(url, data).done(function (data) {
                console.log(data);
                let miResultado = "";
                if ($.isEmptyObject(data)) {
                    miResultado = "<h3>No se encontraron registros!!</h3>"
                }
                else {
                    miResultado +=  "<thead><tr class=\"bg-primary \"><th>Nombre</th><th>CURP</th><th>NoExpediente</th><th>Tipo Trámite</th><th>Fecha</th><th>Datos</th><th>Estatus</th><th>dkdk</th></tr></thead>"
                    for (let i = 0; i < data.length; i++) {

                        if (data[i].EstatusCaptura === null) {
                            if (data[i].Estatura === null || data[i].Doctor === null || data[i].Metra === null || data[i].Genero === null || data[i].CURP === null || data[i].NoExpediente === null) {
                                miResultado += "<tr style=\"border:1px solid gray\">" +
                                    "<td><b>" + data[i].Nombre + "</b></td>" +
                                    "<td><b>" + data[i].CURP + "</b></td>" +
                                    "<td><b>" + data[i].NoExpediente + "</b></td>" +
                                    "<td><b>" + data[i].TipoTramite + "</b></td>" +
                                    "<td><b>" + data[i].FechaCita + "</b></td>" +
                                    "<td><span class=\"field-tip field-tip3\"><b><mark style=\"background-color: #FFFF00; padding: 5px; border-radius: 7px\">Incompletos</b></mark><span class=\"tip-content\">" +
                                    "<b>CURP: </b><span>" + data[i].CURP + "</span><br/>" +
                                    "<b>NoExpediente: </b><span>" + data[i].NoExpediente + "</span><br/>" +
                                    "<b>Metra: </b><span>" + data[i].Metra + "</span><br/>" +
                                    "<b>Género: </b><span>" + data[i].Genero + "</span><br/>" +
                                    "<b>Estatura: </b><span>" + data[i].Estatura + "</span><br/>" +
                                    "<b>Doctor: </b><span>" + data[i].Doctor + "</span><br/>" +
                                    "</span ></span ></td > " +
                                    "<td><b>Sin iniciar</b></td>" +
                                    "</tr>"
                            } else {
                                miResultado += "<tr style=\"border:1px solid gray\">" +
                                        "<td><b>" + data[i].Nombre + "</b></td>" +
                                        "<td><b>" + data[i].CURP + "</b></td>" +
                                        "<td><b>" + data[i].NoExpediente + "</b></td>" +
                                        "<td><b>" + data[i].TipoTramite + "</b></td>" +
                                        "<td><b>" + data[i].FechaCita + "</b></td>" +
                                        "<td><b><mark style=\"background-color: #41F51A; padding: 5px; border-radius: 7px\">Completos</b></mark></td>" +
                                        "<td><b>Sin iniciar</td>" +
                                        "</tr>"

                            }
                        } else {
                            if (data[i].Estatura === null && data[i].Doctor === null && data[i].Metra === null && data[i].Genero === null && data[i].CURP === null && data[i].NoExpediente === null) {
                                miResultado += "<tr style=\"border:1px solid gray\">" +
                                    "<td><b>" + data[i].Nombre + "</b></td>" +
                                    "<td><b>" + data[i].CURP + "</b></td>" +
                                    "<td><b>" + data[i].NoExpediente + "</b></td>" +
                                    "<td><b>" + data[i].TipoTramite + "</b></td>" +
                                    "<td><b>" + data[i].FechaCita + "</b></td>" +
                                    "<td><span class=\"field-tip field-tip3\"><b><mark style=\"background-color: #FFFF00; padding: 5px; border-radius: 7px\">Incompletos</b></mark><span class=\"tip-content\">" +
                                    "<b>CURP: </b><span>" + data[i].CURP + "</span><br/>" +
                                    "<b>NoExpediente: </b><span>" + data[i].NoExpediente + "</span><br/>" +
                                    "<b>Metra: </b><span>" + data[i].Metra + "</span><br/>" +
                                    "<b>Género: </b><span>" + data[i].Genero + "</span><br/>" +
                                    "<b>Estatura: </b><span>" + data[i].Estatura + "</span><br/>" +
                                    "<b>Doctor: </b><span>" + data[i].Doctor + "</span><br/>" +
                                    "</span ></span ></td > " +
                                    "<td><b>" + data[i].EstatusCaptura + "</b></td>" +
                                    "</tr>"
                            } else {

                                if (data[i].EstatusCaptura === "Terminado") {
                                    var url = '@Url.Action("DescargarPDF","Dictamenes", new {id="xxxx"})';
                                    url = url.replace("xxxx", data[i].idPacienteESP);

                                    miResultado += "<tr style=\"border:1px solid gray\">" +
                                        "<td><b>" + data[i].Nombre + "</b></td>" +
                                        "<td><b>" + data[i].CURP + "</b></td>" +
                                        "<td><b>" + data[i].NoExpediente + "</b></td>" +
                                        "<td><b>" + data[i].TipoTramite + "</b></td>" +
                                        "<td><b>" + data[i].FechaCita + "</b></td>" +
                                        "<td><b><mark style=\"background-color: #41F51A; padding: 5px; border-radius: 7px\">Completos</b></mark></td>" +
                                        "<td><b>" + data[i].EstatusCaptura + "</b></td>" +
                                        "<td><a href=" + url + "><button type=\"button\" class=\"btn btn-warning\">Descargar</button></a></td>" +
                                        "</tr>"
                                }
                                else {
                                    miResultado += "<tr style=\"border:1px solid gray\">" +
                                        "<td><b>" + data[i].Nombre + "</b></td>" +
                                        "<td><b>" + data[i].CURP + "</b></td>" +
                                        "<td><b>" + data[i].NoExpediente + "</b></td>" +
                                        "<td><b>" + data[i].TipoTramite + "</b></td>" +
                                        "<td><b>" + data[i].FechaCita + "</b></td>" +
                                        "<td><b><mark style=\"background-color: #41F51A; padding: 5px; border-radius: 7px\">Completos</b></mark></td>" +
                                        "<td><b>" + data[i].EstatusCaptura + "</td>" +
                                        "</tr>"
                                }
                            }

                        }

                    }
                }

                $('#exampleModal5').modal('show');
                document.getElementById("tablaEjemploSS").innerHTML = miResultado;

            }).fail().always(function () {

            });
        });
    });
    </script>

    @if (TempData["Link"] != null)
    {
        <script>
            @*location.href='@Url.Action("AbrirEPI","EPIs", new { id = TempData["ID"] })';*@
            window.open('@TempData["Link"]');
        </script>
    }

    @if (TempData["Expediente"] != null && TempData["Dictamen"] == null)
    {
        <script>
            $('#repetido').modal('show');
        </script>
    }

    @if (TempData["Dictamen"] != null)
    {
        <script>
            $('#repetido2').modal('show');
        </script>
    }

}

<br />


<div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:70%">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-primary" id="exampleModalLabel"><b>Resultado de la búsqueda:</b></h3>
            </div>
            <div class="modal-body" id="">
                <div class="tablaScroll">
                    <table class="table table-hover tablas table-responsive" id="tablaEjemploSS" style="color: #2F2D6B">
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-primary" id="exampleModalLabel"><b>Registrar cita previamente pagada</b></h3>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Dictamenes/Create1")">
                    @Html.AntiForgeryToken()
                    <div class="form-inline">
                        <label for="recipient-name" class="col-form-label">Cantidad de EPIs requeridos (Autotransporte, Marítimos y Ferroviarios):</label>
                    </div>
                    <div class="form-inline">
                        <span class="">
                            <button class="btn btn-info" id="menos" type="button"><b><span class="glyphicon glyphicon-minus"></span></b></button>
                        </span>
                        <input style="display:inline-block" type="number" class="form-control" id="contador" min="1" name="cantidad" placeholder="Ingresa una cantidad">
                        <span class="">
                            <button class="btn btn-info" id="mas" type="button"><b><span class="glyphicon glyphicon-plus"></span></b></button>
                        </span>
                        <br />
                        <br />
                    </div>
                    <div class="form-inline">
                        <label for="recipient-name" class="col-form-label">Cantidad de EPIs requeridos (Aéreos):</label>
                    </div>
                    <div class="form-inline">
                        <span class="">
                            <button class="btn btn-warning" id="menos0" type="button"><b><span class="glyphicon glyphicon-minus"></span></b></button>
                        </span>
                        <input style="display:inline-block" type="number" class="form-control" id="contador0" min="1" name="cantidadAereo" placeholder="Ingresa una cantidad">
                        <span class="">
                            <button class="btn btn-warning" id="mas0" type="button"><b><span class="glyphicon glyphicon-plus"></span></b></button>
                        </span>
                        <br />
                        <br />
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Nombre del Paciente (o Gestor):</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required />
                    </div>
                    @*<div class="form-group" style="width:60%; min-width:320px">
            <label for="recipient-name" class="col-form-label">Sucursal:</label>
            <select name="sucursal" style="width:100%; min-height:5vh; min-width:99%; font-size:2vh" class="form-select">
                @{
                    var sucursalesOption = from s in db.Sucursales select s.Nombre;
                    foreach (var opcion in sucursalesOption)
                    {
                        <option value="@opcion">@opcion</option>
                    }
                }
            </select>
        </div>*@
                    <input type="hidden" value="@nombreUsuario" name="usuario" />
                    <div class="form-group" style="width:60%; min-width:320px">
                        <label for="recipient-name" class="col-form-label">Referido Por:</label>
                        <select name="referido" style="width:100%; min-height:5vh; min-width:99%; font-size:2vh" class="form-select">
                            <option value="NINGUNO">NINGUNO</option>
                            <option disabled>----------GESTORES ALT----------</option>
                            @{
                                foreach (var referido in (from i in db.Referido where i.Tipo == "GESTOR ALT" orderby i.Nombre select i))
                                {
                                    <option style="font-weight:bold" value="@referido.idReferido">@referido.Nombre</option>
                                }
                            }
                            <option disabled>---------IN SITU--------</option>
                            @{
                                foreach (var referido in (from i in db.Referido where i.Tipo == "IN SITU" orderby i.Nombre select i))
                                {
                                    <option style="font-weight:bold" value="@referido.idReferido">@referido.Nombre</option>
                                }
                            }

                        </select>
                    </div>
</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <input type="submit" value="Enviar" class="btn btn-primary" />
            </div></form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var sumar = document.getElementById("mas");
    var restar = document.getElementById("menos");
    var contador = document.getElementById("contador");
    var importe = document.getElementById("importe");
    var valorBase = 5.20;
    var prevValue;

    function calcular() {
        var value = contador.value;
        var isValid = /^[1-9][0-9]*$/.test(value);

        if (!isValid) {
            contador.value = prevValue;
        } else {
            prevValue = value;
        }

        importe.value = Number.parseFloat(contador.value * valorBase).toFixed(2);
    }

    sumar.onclick = function () {
        contador.value = Number(contador.value) + 1;
        calcular();
    };

    restar.onclick = function () {
        contador.value = Number(contador.value) - 1;
        calcular();
    };

    contador.onchange = function () {
        calcular();
    };

    contador.onkeyup = function () {
        if (contador.value === "") {
            return;
        }
        calcular();
    };

    calcular();
</script>

<script type="text/javascript">
    var sumar0 = document.getElementById("mas0");
    var restar0 = document.getElementById("menos0");
    var contador0 = document.getElementById("contador0");
    var importe0 = document.getElementById("importe0");
    var valorBase0 = 5.20;
    var prevValue0;

    function calcular0() {
        var value0 = contador0.value;
        var isValid0 = /^[1-9][0-9]*$/.test(value0);

        if (!isValid0) {
            contador0.value = prevValue0;
        } else {
            prevValue0 = value0;
        }

        importe0.value = Number.parseFloat(contador0.value * valorBase0).toFixed(2);
    }

    sumar0.onclick = function () {
        contador0.value = Number(contador0.value) + 1;
        calcular0();
    };

    restar0.onclick = function () {
        contador0.value = Number(contador0.value) - 1;
        calcular0();
    };

    contador0.onchange = function () {
        calcular0();
    };

    contador0.onkeyup = function () {
        if (contador0.value === "") {
            return;
        }
        calcular0();
    };

    calcular0();
</script>


@if (modelo.FirstOrDefault() == null)
{
    <br />
    <h1 style="color:white">No existen citas registradas el día de hoy</h1>
}
else
{
    <div class="tablaScroll">
        <br />
        <table class="table tablas" style="color: #2F2D6B">
            <thead>
                <tr class="bg-primary" style="border-top-color: black; font-size:smaller">
                    <th>
                    </th>

                    <th>
                        Nombre-EPI
                    </th>

                    <th>
                        No. Exp.
                    </th>
                    @*@{
                            if (idRol == 2)
                            {
                                <th>Sucursal</th>
                            }
                            else
                            {
                                <th>
                                    Doctor
                                </th>
                            }
                        }*@
                    <th>
                        Doctor
                    </th>
                    <th>
                        Referido Por
                    </th>

                    <th>
                        Tipo de Trámite
                    </th>
                    <th>
                        FechaSolicitud
                    </th>
                    <th>
                        Cita en METRA
                    </th>
                    <th>
                        Datos Cita
                    </th>
                    <th>
                        Dictamen
                    </th>
                    <th></th>
                </tr>
            </thead>


            @foreach (var item in modelo)
            {

                if (item.TipoTramite == "PRIMERA VEZ" && item.TipoLicencia != "AEREO")
                {
                    fila = "#BBDEFB";
                }
                else if (item.TipoTramite != "PRIMERA VEZ" && item.TipoLicencia == "AEREO")
                {
                    fila = "#D1C4E9";
                }
                else if (item.TipoTramite == "PRIMERA VEZ" && item.TipoLicencia == "AEREO")
                {
                    fila = "#9575CD";
                }
                else
                {
                    fila = "white";
                }

                <tr style="background-color:@fila">
                    <td>
                        @flag
                    </td>

                    <td>
                        <span class="field-tip field-tip">
                            <b>@Html.DisplayFor(modelItem => item.Nombre) </b>
                            @{
                                if (item.CancelaComentario == "Urgente")
                                {
                                    <br />
                                    <span style="font-size:x-small;color:red"><b>URGENTE!!</b></span>
                                }
                            }

                            @if (item.Entregado != null)
                            {
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                            }
                            @if (item.CURP != null)
                            {
                                <span class="tip-content">
                                    <b>CURP: </b><span>@item.CURP</span>
                                </span>
                            }
                        </span>
                    </td>

                    <td>
                        <b>@Html.DisplayFor(modelItem => item.NoExpediente)</b>
                    </td>
                    @*@{
                            if (idRol == 2)
                            {
                                <th>
                                    @{
                                        if (item.Doctor != null)
                                        {
                                            <span class="field-tip">
                                                <b>@Html.DisplayFor(modelItem => item.Sucursal)</b>
                                                <span class="tip-content">@item.Doctor</span>
                                            </span>
                                        }
                                        else
                                        {
                                            <b>@Html.DisplayFor(modelItem => item.Sucursal)</b>
                                        }
                                    }

                                </th>


                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Doctor)
                                </td>
                            }
                        }*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Doctor)
                    <td>
                        <span class="field-tip">
                            <b>@item.ReferidoPor</b>
                            <span class="tip-content">
                                <b>Realiza la cita: </b>@item.Solicita <br />
                                <b>Canal: </b>@item.CanalTipo <br />
                                <b>Referido por: </b>@item.ReferidoPor
                            </span>
                        </span>
                    </td>
                    <td>
                        <b>@Html.DisplayFor(modelItem => item.TipoTramite)</b>
                    </td>
                    <td>
                        <span style="font-size:smaller">@Convert.ToDateTime(item.FechaCita).ToString("dd-MMMM-yyyy")</span>
                    </td>
                    <td style="font-size: larger; text-align:center">
                        @if (item.Metra != null)
                        {
                            <b class="text-info"><span class="glyphicon glyphicon-ok"></span></b>
                        }
                        else
                        {
                            <b class="text-danger"><span class="glyphicon glyphicon-minus"></span></b>
                        }
                    </td>
                    <td>
                        @{
                            <span class="field-tip field-tip2">
                                @if (item.Asistencia == "NO")
                                {
                                    <b><mark style="background-color: #FC4B08; padding:5px; border-radius:7px">Cancelado</mark></b>
                                }
                                else if (item.Estatura == null || item.Metra == null || item.CURP == null || item.Doctor == null || item.Genero == null)
                                {
                                    <b><mark style="background-color: #FFFF00; padding:5px; border-radius:7px">Incompletos</mark></b>
                                }
                                else
                                {
                                    <b><mark style="background-color: #41F51A; padding:5px; border-radius:7px">Completos</mark></b>
                                }

                                @if (item.Asistencia != "NO")
                                {
                                    <span class="tip-content">
                                        @if (item.Metra != null)
                                        {
                                            <b>METRA: </b> <span class="glyphicon glyphicon-ok"></span> <br />
                                        }
                                        else
                                        {
                                            <b>METRA: </b> <span class="glyphicon glyphicon-minus"></span> <br />
                                        }

                                        @if (item.Estatura != null)
                                        {
                                            <b>Estatura: </b> <span class="glyphicon glyphicon-ok"></span> <br />
                                        }
                                        else
                                        {
                                            <b>Estatura: </b> <span class="glyphicon glyphicon-minus"></span> <br />
                                        }

                                        @if (item.CURP != null)
                                        {
                                            <b>CURP: </b> <span class="glyphicon glyphicon-ok"></span> <br />
                                        }
                                        else
                                        {
                                            <b>CURP: </b> <span class="glyphicon glyphicon-minus"></span> <br />
                                        }

                                        @if (item.Doctor != null)
                                        {
                                            <b>Doctor: </b> <span class="glyphicon glyphicon-ok"></span> <br />
                                        }
                                        else
                                        {
                                            <b>Doctor: </b> <span class="glyphicon glyphicon-minus"></span> <br />
                                        }

                                        @if (item.Genero != null)
                                        {
                                            <b>Sexo: </b> <span class="glyphicon glyphicon-ok"></span> <br />
                                        }
                                        else
                                        {
                                            <b>Sexo: </b> <span class="glyphicon glyphicon-minus"></span> <br />
                                        }
                                    </span>
                                }

                            </span>
                        }
                    </td>
                    <td style="font-size: smaller">
                        @{
                            if (item.EstatusCaptura == "En Proceso")
                            {
                                <b><mark style="background-color: dodgerblue; padding:5px; border-radius:7px">@item.EstatusCaptura</mark></b>
                            }
                            else if (item.EstatusCaptura == "Cancelado")
                            {
                                <b><mark style="background-color:crimson; padding:5px; border-radius:7px">@item.EstatusCaptura</mark></b>
                                @*<b><mark style="background-color: #41F51A; padding:5px; border-radius:7px">@item.EstatusCaptura</mark></b>*@
                            }
                            else if (item.EstatusCaptura == "Pausado")
                            {
                                <b><mark style="background-color: darkorange; padding:5px; border-radius:7px">@item.EstatusCaptura</mark></b>
                                @*<b><mark style="background-color: #41F51A; padding:5px; border-radius:7px">@item.EstatusCaptura</mark></b>*@
                            }
                            else if (item.EstatusCaptura == "Terminado")
                            {
                                <a href=@Url.Action("DescargarPDF", "Dictamenes", new { id = item.idPacienteESP })><b><mark style="background-color: #41F51A; padding:5px; border-radius:7px">@item.EstatusCaptura</mark></b></a>
                                @*<b><mark style="background-color: #41F51A; padding:5px; border-radius:7px">@item.EstatusCaptura</mark></b>*@
                            }
                            else
                            {
                                <b><mark style="background-color: #FFFF00; padding:5px; border-radius:7px">Pendiente</mark></b>
                                @*<b><mark style="background-color: #41F51A; padding:5px; border-radius:7px">@item.EstatusCaptura</mark></b>*@
                            }
                        }

                    </td>
                    <td>
                        <div class="btn-group">

                            @{
                                if (item.Asistencia == null)
                                {
                                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Acciones <span class="glyphicon glyphicon-triangle-bottom"></span>
                                    </button>
                                }

                                <div class="dropdown-menu" style="padding:10px">
                                    @{
                                        var revisionFoto2 = (from i in db.FotoPacienteESP where i.idPacienteESP == item.idPacienteESP select i.idPacienteESP).FirstOrDefault();
                                        var revisionDocumentos2 = (from i in db.DocumentosESP where i.idPacienteESP == item.idPacienteESP select i.idPacienteESP).FirstOrDefault();
                                        var revisionCartaNO2 = (from i in db.CartaNoAccidentesESP where i.idPacienteESP == item.idPacienteESP select i.idPacienteESP).FirstOrDefault();
                                        var revisionDeclaracion2 = (from i in db.DeclaracionSaludESP where i.idPacienteESP == item.idPacienteESP select i.idPacienteESP).FirstOrDefault();
                                        var revisionGlucosilada2 = (from i in db.HemoglobinaGlucosiladaESP where i.idPacienteESP == item.idPacienteESP select i.idPacienteESP).FirstOrDefault();

                                        if (item.Asistencia == null && (item.NoExpediente == null || item.TipoTramite == null || item.Doctor == null || revisionFoto2 == null || revisionDocumentos2 == null))
                                        {
                                            <a href="#" data-toggle="modal" data-target="#CompletarDatos_@item.idPacienteESP"><b>Completar Datos</b></a>
                                            <div class="dropdown-divider"></div>

                                            if (item.Metra == null)
                                            {
                                                <a href="#" data-toggle="modal" data-target="#Metra_@item.idPacienteESP"><b>Confirmar Metra</b></a>
                                                <div class="dropdown-divider"></div>
                                            }

                                            <a href="#" data-toggle="modal" data-target="#Cancelar_@item.idPacienteESP"><b class="text-danger">Cancelar Cita</b></a>
                                            <div class="dropdown-divider"></div>
                                        }
                                        else if (item.Asistencia == null && (item.NoExpediente != null || item.TipoTramite != null || item.Doctor != null || revisionFoto2 != null || revisionDocumentos2 != null))
                                        {
                                            <a href="#" data-toggle="modal" data-target="#CompletarDatos_@item.idPacienteESP"><b>Editar Datos</b></a>
                                            <div class="dropdown-divider"></div>
                                            @*<a href="#" data-toggle="modal" data-target="#DescargarEPI_@item.idPacienteESP"><b>Descargar EPI</b></a>
                        <div class="dropdown-divider"></div>
                        <a href="#" data-toggle="modal" data-target="#DescargarEKG_@item.idPacienteESP">Electrocardiograma</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" data-toggle="modal" data-target="#DescargarDocumentos_@item.idPacienteESP">Documentación</a>
                        <div class="dropdown-divider"></div>

                        if (revisionCartaNO2 != null)
                        {
                            <a href="#" data-toggle="modal" data-target="#DescargarNoAccidentes_@item.idPacienteESP">Carta NoAccidentes</a>
                            <div class="dropdown-divider"></div>
                        }
                        if (revisionDeclaracion2 != null)
                        {
                            <a href="#" data-toggle="modal" data-target="#DescargarDeclaracionSalud_@item.idPacienteESP">Declaración Salud</a>
                            <div class="dropdown-divider"></div>
                        }
                        if (revisionGlucosilada2 != null)
                        {
                            <a href="#" data-toggle="modal" data-target="#DescargarGlucosilada_@item.idPacienteESP">H. Glucosilada</a>
                            <div class="dropdown-divider"></div>
                        }*@

                                            if (item.Metra == null)
                                            {
                                                <a href="#" data-toggle="modal" data-target="#Metra_@item.idPacienteESP"><b class="text-danger">Confirmar Metra</b></a>
                                                <div class="dropdown-divider"></div>
                                            }

                                            <a href="#" data-toggle="modal" data-target="#Cancelar_@item.idPacienteESP"><b class="text-danger">Cancelar Cita</b></a>
                                            <div class="dropdown-divider"></div>
                                        }
                                    }
                                </div>

                            }

                            <!-- -------------------------------------------------------------------------------------------------------------- -->
                            <!-- Modal para Completar Datos -->
                            <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Dictamenes/CompletarDatos")">
                                @Html.AntiForgeryToken()
                                <div class="modal fade" id="CompletarDatos_@item.idPacienteESP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                @{
                                                    var revisionTL = (from i in db.PacienteESP where i.idPacienteESP == item.idPacienteESP select i).FirstOrDefault();

                                                    if (revisionTL.TipoLicencia == "AEREO")
                                                    {
                                                        <h4 class="modal-title text-danger" id="exampleModalLabel"><b>Completar Datos (Paciente Aereo)</b></h4>
                                                    }
                                                    else
                                                    {
                                                        <h4 class="modal-title text-primary" id="exampleModalLabel"><b>Completar Datos</b></h4>
                                                    }
                                                }

                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label">Nombre del Paciente:</label>
                                                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="@item.Nombre">
                                                </div>

                                                <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label">No. de Expediente:</label>
                                                    @{
                                                        if (item.NoExpediente == null)
                                                        {
                                                            <input type="text" class="form-control" id="numero" name="numero" />
                                                        }
                                                        else
                                                        {
                                                            <input type="text" class="form-control" id="numero" name="numero" placeholder="@item.NoExpediente" />
                                                        }
                                                    }
                                                </div>

                                                <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label">CURP (Clave Única de Registro de Población):</label>
                                                    @{
                                                        if (item.CURP == null)
                                                        {
                                                            <input type="text" class="form-control" id="curp" name="curp" maxlength="18" />
                                                        }
                                                        else
                                                        {
                                                            <input type="text" class="form-control" id="curp" name="curp" maxlength="18" value="@item.CURP" placeholder="@item.CURP" />
                                                        }
                                                    }
                                                    <input type="hidden" class="form-control" id="id" name="id" value="@item.idPacienteESP">
                                                </div>


                                                <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label">Doctor Dictaminador:</label>
                                                    <select name="doctor" style="width:100%; min-height:5vh; min-width:99%; font-size:2vh" class="form-select">
                                                        @{
                                                            var consultorios1 = from c in db.Doctores select c;
                                                            var revisionD = (from i in db.PacienteESP where i.idPacienteESP == item.idPacienteESP select i).FirstOrDefault();

                                                            if (revisionD.Doctor != null)
                                                            {
                                                                <option style="font-weight:bold" value="@revisionTL.Doctor" selected>@revisionTL.Doctor</option>
                                                                <option disabled>----------------------------------------------</option>
                                                            }
                                                            else
                                                            {
                                                                <option style="font-weight:bold" disabled selected>SELECCIONA UNA OPCIÓN</option>
                                                            }

                                                            foreach (var i in db.Doctores.Where(w => w.ALT == "SI"))
                                                            {
                                                                <option style="font-weight:bold" value="@i.Nombre">@i.Nombre</option>
                                                            }

                                                            @*foreach (var item1 in consultorios1)
                                        {
                                            <option style="font-weight:bold" value="@item1.Nombre">@item1.Nombre</option>
                                        }*@

                                                        }
                                                    </select>
                                                </div>
                                                @*@{
                                var consultaAereo1 = (from c in db.PacienteESP where c.idPacienteESP == item.idPacienteESP select c.TipoLicencia).FirstOrDefault();
                                if (consultaAereo1 == "AEREO")
                                {
                                    <input type="hidden" name="tipoL" id="tipoL" value="AEREO" />
                                }
                                else
                                {
                                    <div class="form-group" style="width:80%; min-width:320px">
                                        <label for="recipient-name" class="col-form-label">Tipo de Licencia:</label>
                                        <select name="tipoL" style="width:100%; min-height:5vh; min-width:99%; font-size:2vh" class="form-select">

                                            @{
                                                var revisionTL2 = (from i in db.PacienteESP where i.idPacienteESP == item.idPacienteESP select i).FirstOrDefault();

                                                if (revisionTL2.TipoLicencia != null)
                                                {
                                                    <option value="@revisionTL2.TipoLicencia" selected>@revisionTL2.TipoLicencia</option>
                                                    <option disabled>----------------------------------------</option>
                                                    <option value="AUTOTRANSPORTE">AUTOTRANSPORTE</option>
                                                    <option value="MARITIMO">MARITIMO</option>
                                                    <option value="FERROVIARIO">FERROVIARIO</option>
                                                }
                                                else
                                                {
                                                    <option value="AUTOTRANSPORTE">AUTOTRANSPORTE</option>
                                                    <option value="MARITIMO">MARITIMO</option>
                                                    <option value="FERROVIARIO">FERROVIARIO</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                }
                            }*@

                                                <div class="form-group" style="width:80%; min-width:320px">
                                                    <label for="recipient-name" class="col-form-label">Tipo de Trámite:</label>
                                                    <select name="tipoT" style="width:100%; min-height:5vh; min-width:99%; font-size:2vh" class="form-select">
                                                        @{
                                                            var revisionTT = (from i in db.PacienteESP where i.idPacienteESP == item.idPacienteESP select i.TipoTramite).FirstOrDefault();

                                                            if (revisionTT != null)
                                                            {
                                                                <option value="@revisionTT" selected>@revisionTT</option>
                                                                <option disabled>----------------------------------------</option>
                                                                <option value="REVALIDACIÓN">REVALIDACIÓN</option>
                                                                <option value="PRIMERA VEZ">PRIMERA VEZ</option>
                                                                <option value="REVALORACIÓN">REVALORACIÓN</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="REVALIDACIÓN">REVALIDACIÓN</option>
                                                                <option value="PRIMERA VEZ">PRIMERA VEZ</option>
                                                                <option value="REVALORACIÓN">REVALORACIÓN</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label">Género:</label>
                                                    <select name="genero" style="width:100%; min-height:5vh; min-width:99%; font-size:2vh" class="form-select">
                                                        @{
                                                            var revisionSexo = (from i in db.PacienteESP where i.idPacienteESP == item.idPacienteESP select i).FirstOrDefault();
                                                            if (revisionSexo.Genero == null)
                                                            {
                                                                <option style="font-weight:bold" disabled selected>SELECCIONE UN GÉNERO</option>
                                                            }
                                                            if (revisionSexo.Genero != null)
                                                            {
                                                                string Genero = "";
                                                                if (revisionSexo.Genero == "M")
                                                                {
                                                                    Genero = "MASCULINO";
                                                                }
                                                                else
                                                                {
                                                                    Genero = "FEMENINO";
                                                                }
                                                                <option style="font-weight:bold" value="@revisionSexo.Genero" selected>@Genero</option>
                                                                <option disabled>----------------------------------------------</option>
                                                            }



                                                            <option style="font-weight:bold" value="F">FEMENINO</option>
                                                            <option style="font-weight:bold" value="M">MASCULINO</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label">Estatura (en cms):</label>
                                                    @{
                                                        if (item.Estatura == null)
                                                        {
                                                            <input type="number" class="form-control" id="curp" max="210" min="140" name="estatura" />
                                                        }
                                                        else
                                                        {
                                                            <input type="number" class="form-control" id="curp" name="estatura" max="210" min="140" value="@item.Estatura" placeholder="@item.Estatura" />
                                                        }
                                                    }
                                                    <input type="hidden" class="form-control" id="id" name="id" value="@item.idPacienteESP">
                                                </div>
                                                @*<div class="form-group">
                                @if (item.Metra == null)
                                {
                                    <input type="checkbox" name="metra" />
                                }
                                else
                                {
                                    <input type="checkbox" checked name="metra" />
                                }
                                <label for="file" class="col-form-label">¿Cita registrada en METRA?:</label>
                            </div>*@
                                                <hr />
                                                <div class="form-group">
                                                    <label for="file" class="col-form-label">Capturar Foto:</label>
                                                    <input type="file" name="file" capture="camera" />
                                                </div>
                                                <br />
                                                <div class="form-group">
                                                    <label for="file" class="col-form-label">Cargar Documentos del Paciente:</label>
                                                    <input type="file" name="documentos" />
                                                </div>
                                                <hr />
                                                <div class="form-group">
                                                    <label for="file" class="col-form-label">Cargar Declaración de Salud:</label>
                                                    <input type="file" name="declaracion" />
                                                </div>
                                                <hr />
                                                <div class="form-group">
                                                    <label for="file" class="col-form-label">Cargar Carta de NO ACCIDENTES (sólo si aplica):</label>
                                                    <input type="file" name="carta" />
                                                </div>
                                                <hr />
                                                <div class="form-group">
                                                    <label for="file" class="col-form-label">Hemoglobina Glucosilada (sólo si aplica):</label>
                                                    <input type="file" name="glucosilada" />
                                                </div>
                                                <hr />
                                                <div class="form-group" style="background-color:ghostwhite; padding:5px; border:solid 1px darkblue; border-radius:4px">
                                                    <label for="file" class="col-form-label">Cargar Huellas:</label><br />
                                                    <b>Dedo #2</b><input type="file" name="huella2" />
                                                    <b>Dedo #3</b><input type="file" name="huella3" />
                                                    <b>Dedo #7</b><input type="file" name="huella7" />
                                                    <b>Dedo #8</b><input type="file" name="huella8" /><br />
                                                </div>
                                                <div class="form-group" style="background-color:ghostwhite; padding:5px; border:solid 1px darkblue; border-radius:4px">
                                                    <label for="file" class="col-form-label">Cargar Firma:</label><br />
                                                    <input type="file" name="firma" />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                <input type="submit" value="Guardar" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>


                            <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Dictamenes/Metra")">
                                @Html.AntiForgeryToken()
                                <div class="modal fade" id="Metra_@item.idPacienteESP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title text-primary" id="exampleModalLabel"><b>Confirmar la cita en METRA</b></h4>
                                            </div>
                                            <div class="modal-body">
                                                @{
                                                    var nombrePaciente = (from i in db.PacienteESP where i.idPacienteESP == item.idPacienteESP select i.Nombre).FirstOrDefault();

                                                    <h4>¿Confirma que ha realizado la cita del paciente <b>@nombrePaciente</b> en METRA?</h4>
                                                }

                                                <input type="hidden" name="id" value="@item.idPacienteESP" />
                                                <input type="hidden" name="usuario" value="@nombreUsuario" />
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                <input type="submit" value="Confirmar" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <!-- Modal para preguntar si quiere Cancelar Cita-->
                            <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Dictamenes/CancelarCita")">
                                @Html.AntiForgeryToken()
                                <div class="modal fade" id="Cancelar_@item.idPacienteESP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="exampleModalLabel"><b>¿Desea cancelar la cita de <span class="text-danger">@item.Nombre</span>?</b></h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label">¿Cual es el motivo?:</label>
                                                    <input type="text" maxlength="200" class="form-control" id="comentario" name="comentario" required>
                                                    <input type="hidden" name="id" value="@item.idPacienteESP" />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                <input type="submit" value="Enviar" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            @{
                                if (TempData["Expediente"] != null && TempData["Dictamen"] == null)
                                {
                                    var pacienteRepetido = (from i in db.PacienteESP where i.NoExpediente == noExpediente orderby i.idPacienteESP descending select i).FirstOrDefault();

                                    <!-- Modal para Completar Datos -->
                                    <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Dictamenes/CompletarDatosRepetidos")">
                                        @Html.AntiForgeryToken()
                                        <div class="modal fade" id="repetido" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title text-primary" id="exampleModalLabel"><b>El número de Expediente @noExpediente ya está asignado al siguiente paciente.</b></h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        @if (pacienteRepetido != null)
                                                        {
                                                            <h5><b>Nombre: </b>@pacienteRepetido.Nombre</h5>
                                                            <h5><b>No. Expediente: </b>@pacienteRepetido.NoExpediente</h5>

                                                            if (pacienteRepetido.CURP != null)
                                                            {
                                                                <h5><b>CURP: </b>@pacienteRepetido.CURP</h5>
                                                            }
                                                            if (pacienteRepetido.TipoLicencia != null)
                                                            {
                                                                <h5><b>Tipo de Licencia: </b>@pacienteRepetido.TipoLicencia</h5>
                                                            }
                                                        }
                                                        <input type="hidden" name="id" value="@idRepetido" />
                                                        <input type="hidden" name="nombre" value="@pacienteRepetido.Nombre" />
                                                        <input type="hidden" name="numero" value="@pacienteRepetido.NoExpediente" />
                                                        <input type="hidden" name="tipoT" value="REVALIDACIÓN" />
                                                        <input type="hidden" name="doctor" value="" />
                                                        @{
                                                            if (pacienteRepetido.Estatura != null)
                                                            {
                                                                <input type="hidden" name="estatura" value="@pacienteRepetido.Estatura" />
                                                            }
                                                            else
                                                            {
                                                                <input type="hidden" name="numero" value="" />
                                                            }

                                                            if (pacienteRepetido.CURP != null)
                                                            {
                                                                <input type="hidden" name="curp" value="@pacienteRepetido.CURP" />
                                                            }
                                                            else
                                                            {
                                                                <input type="hidden" name="curp" value="" />
                                                            }

                                                            if (pacienteRepetido.Genero != null)
                                                            {
                                                                <input type="hidden" name="genero" value="@pacienteRepetido.Genero" />
                                                            }
                                                            else
                                                            {
                                                                <input type="hidden" name="genero" value="" />
                                                            }
                                                        }
                                                        <input type="hidden" value="@nombreUsuario" name="usuario" />
                                                        <hr />
                                                        <h5 class="text-danger" id="exampleModalLabel">Si el Expediente corresponde al paciente al cual se le hará la cita seleccione "Aceptar". En caso contrario cierre la ventana y busque el número correcto o solicite correción</h5>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                        <input type="submit" name="repetido" value="Aceptar" class="btn btn-primary" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                                            }
                                                            else if (TempData["Expediente"] != null)
                                                            {
                                                                var pacienteRepetido = (from i in db.PacienteESP where i.NoExpediente == noExpediente orderby i.idPacienteESP descending select i).FirstOrDefault();
                                    <div class="modal fade" id="repetido2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title text-primary" id="exampleModalLabel"><b>El número de Expediente @noExpediente ya está asignado al siguiente paciente.</b></h4>
                                                </div>
                                                <div class="modal-body">
                                                    @if (pacienteRepetido != null)
                                                    {
                                                        <h5><b>Nombre: </b>@pacienteRepetido.Nombre</h5>
                                                        <h5><b>No. Expediente: </b>@pacienteRepetido.NoExpediente</h5>

                                                        if (pacienteRepetido.CURP != null)
                                                        {
                                                            <h5><b>CURP: </b>@pacienteRepetido.CURP</h5>
                                                        }
                                                        if (pacienteRepetido.TipoLicencia != null)
                                                        {
                                                            <h5><b>Tipo de Licencia: </b>@pacienteRepetido.TipoLicencia</h5>
                                                        }
                                                    }
                                                    <input type="hidden" name="id" value="@idRepetido" />
                                                    <input type="hidden" name="nombre" value="@pacienteRepetido.Nombre" />
                                                    <input type="hidden" name="numero" value="@pacienteRepetido.NoExpediente" />
                                                    <input type="hidden" name="tipoT" value="REVALIDACIÓN" />
                                                    <input type="hidden" name="doctor" value="" />
                                                    @{
                                                        if (pacienteRepetido.Estatura != null)
                                                        {
                                                            <input type="hidden" name="estatura" value="@pacienteRepetido.Estatura" />
                                                        }
                                                        else
                                                        {
                                                            <input type="hidden" name="numero" value="" />
                                                        }

                                                        if (pacienteRepetido.CURP != null)
                                                        {
                                                            <input type="hidden" name="curp" value="@pacienteRepetido.CURP" />
                                                        }
                                                        else
                                                        {
                                                            <input type="hidden" name="curp" value="" />
                                                        }

                                                        if (pacienteRepetido.Genero != null)
                                                        {
                                                            <input type="hidden" name="genero" value="@pacienteRepetido.Genero" />
                                                        }
                                                        else
                                                        {
                                                            <input type="hidden" name="genero" value="" />
                                                        }
                                                    }

                                                    <hr />
                                                    <h4 class="text-danger" id="exampleModalLabel">Este paciente ya fue DICTAMINADO</h4>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            }



                        </div>

                    </td>
                </tr>

                flag += 1;

            }

        </table>
    </div>
}


<form method="post" enctype="multipart/form-data" action="@Url.Content("~/Dictamenes/HabilitarDoctores")">
    @Html.AntiForgeryToken()
    <div class="modal fade" id="doctores" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-primary" id="exampleModalLabel"><b>Seleccione los Doctores a habilitar o deshabilitar</b></h4>
                </div>
                <div class="modal-body">
                    @{
                        var doctores = from i in db.Doctores orderby i.Nombre select i;

                        foreach (var item in doctores)
                        {
                            <div class="form-group">
                                @{
                                    if (item.ALT == "SI")
                                    {
                                        <input type="checkbox" id="" name="id_@item.idDoctor" checked>
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="" name="id_@item.idDoctor">
                                    }
                                }

                                <label>@item.Nombre</label>
                            </div>
                        }
                    }

                    @*<input type="hidden" name="id" value="@item.idPacienteESP" />
                        <input type="hidden" name="usuario" value="@nombreUsuario" />*@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <input type="submit" value="Confirmar" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</form>


