@model SCT_iCare.Sucursales

@{
    ViewBag.Title = "Details";
}

<br />

<h3 style="color:white" class="text-center">Detalles de la Sucursal</h3>

<br />
<br />

<div>

    <dl class="dl-horizontal labelGral">
        <dt>
            <h4>@Html.DisplayNameFor(model => model.Nombre)</h4>
        </dt>

        <dd class="labelInfo">
            <h4>@Html.DisplayFor(model => model.Nombre)</h4>
        </dd>

        <dt>
            <h4>@Html.DisplayNameFor(model => model.Calle)</h4>
        </dt>

        <dd class="labelInfo">
            <h4>@Html.DisplayFor(model => model.Calle)</h4>
        </dd>

        <dt>
            <h4>@Html.DisplayNameFor(model => model.Colonia)</h4>
        </dt>

        <dd class="labelInfo">
            <h4>@Html.DisplayFor(model => model.Colonia)</h4>
        </dd>

        <dt>
            <h4>@Html.DisplayNameFor(model => model.Ciudades.Ciudad)</h4>
        </dt>

        <dd class="labelInfo">
            <h4>@Html.DisplayFor(model => model.Ciudades.Ciudad)</h4>
        </dd>

    </dl>
</div>
<br />
<br />
<p class="enlaceSinBoton" style="color:white">
    @Html.ActionLink("Editar Sucursal", "Edit", new { id = Model.idSucursal }) |
    @Html.ActionLink("Volver a Sucursales", "Index")
</p>
