@*@model IEnumerable<SCT_iCare.EPI>*@

@{
    ViewBag.Title = "capturaSucursal";

    var oUser = (Usuarios)HttpContext.Current.Session["User"];
    string nombreUsuario = null;
    int idUser = 0;

    if (oUser != null)
    {
        idUser = oUser.idUsuario;
        nombreUsuario = oUser.Nombre;
    }

    SCTiCareEntities1 db = new SCTiCareEntities1();
    var Recepcion = (from r in db.Recepcionista where r.idUsuario == idUser select r.idSucursal).FirstOrDefault();
    var Hospital = (from h in db.Sucursales where h.idSucursal == Recepcion select h.Nombre).FirstOrDefault();
    string Sucursal = ViewBag.Sucursal;

    DateTime start = DateTime.Now;
    //DateTime startDay = Convert.ToDateTime(start.Day);

    int year = start.Year;
    int month = start.Month;
    int day = start.Day;
    int tomorrorDay = day + 1;
    DateTime thisDate = new DateTime(year, month, day);
    DateTime tomorrowDate = new DateTime(year, month, tomorrorDay);

    var Restriccion1 = db.Captura.Where(w => w.FechaExpediente >= thisDate && w.FechaExpediente < tomorrowDate).ToList();
    var Restriccion = from r in Restriccion1 orderby r.TipoTramite where r.Sucursal == ViewBag.Sucursal select r;

    string fila = "";
}

<br />
<br />
<h3 style="color:white" class="text-center">EPI Center</h3>
<h4 style="color:#AC9070" class="text-center">Captura de la sucursal: <span style="color:white">@ViewBag.Sucursal</span></h4>

<script>
    var i = 0;
    //var id = setInterval('document.location.reload()', 1000);

    var id = setInterval(function () {
        document.location.reload();

        i++;
        
    } if (i == 2) {
        clearInterval(id);
    }, 1000);

    

</script>

<div class="enlaceSinBoton">
    @Html.ActionLink("Volver a la Sucursales", "Captura")
</div>

<br />
@using (Html.BeginForm("EditExpediente", "EPIs"))
{
    @Html.AntiForgeryToken()
    <table class="table tablas table-responsive" style="color: #2F2D6B">
        <tr style="background-color:#62E3C9">
            <th>
                Nombre Paciente
            </th>

            <th>
                NoExpediente
            </th>
            <th>
                Trámite
            </th>
            <th>
                Estatus
            </th>
            <th>
                Fecha Expediente
            </th>
            <th>
                Inicio Captura
            </th>
            <th>
                Final Captura
            </th>
            <th>
                Doctor Dictaminador
            </th>
            <th>
                Sucursal
            </th>
            <th>
                Recepcionista
            </th>
            <th>Acciones</th>
        </tr>

        @foreach (var item in Restriccion)
        {

            if (item.TipoTramite == "PRIMERA VEZ")
            {
                fila = "bg-warning";
            }
            else
            {
                fila = "bg-default";
            }


            <tr class=@fila>
                <td>
                    <b>@Html.DisplayFor(modelItem => item.NombrePaciente)</b>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NoExpediente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoTramite)
                </td>
                <td>
                    <b><i>@Html.DisplayFor(modelItem => item.EstatusCaptura)</i></b>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaExpediente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InicioCaptura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinalCaptura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sucursal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capturista)
                </td>
                <td>
                    @{
                        if (item.EstatusCaptura == "No iniciado")
                        {
                            @*<input type="submit" value="Capturar" class="btn btn-outline-warning boton-transparente botonesGral" />*@
                            @*@Html.ActionLink("Capturar", "EditExpediente", new { id = item.idEPI })*@
                            <a href=@Url.Action("EditExpediente", "EPIs", new { id = item.idCaptura, usuario = nombreUsuario  }) target="_blank" onclick="location.href = 'capturaSucursal?sucursal=@Sucursal';" @*onclick="window.location.reload();"*@ @*onsubmit="location.reload()"*@><button type="button" class="btn btn-info">Capturar</button></a>
                        }
                        else if (item.EstatusCaptura == "En captura...")
                        {
                            <a href=@Url.Action("SubirDictamen", "EPIs", new { id = item.idCaptura})><button type="button" class="btn btn-warning">Dictaminar</button></a>
                        }
                        else if (item.EstatusCaptura == "Terminado")
                        {
                            <a href=@Url.Action("DescargarPDF", "EPIs", new { id = item.idCaptura })><button type="button" class="btn btn-danger">Descargar</button></a>
                        }

                    }

                    @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1" data-id="@item.idEPI">Open modal for @item.idEPI</button>
                        @Html.ActionLink("Editar", "#", new { id = item.idEPI }, new { @data_toggle = "modal", @data_target = "#modalEdit" }) |
                        @Html.ActionLink("Detalles", "#", new { id = item.idEPI }, new { @data_toggle = "modal", @data_target = "#YourModalId" })*@
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.idEPI }) |
                        @Html.ActionLink("Details", "Details", new { id = item.idEPI }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.idEPI })*@
                </td>
            </tr>


        }

    </table>

}


<div class="modal fade" id="Dictaminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-primary" id="exampleModalLabel"><b>Selecciona un archivo PDF para subir el Dictamen</b></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" action="@Url.Content("~/EPIs/Create")">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Nombre del Paciente:</label>
                        <input type="text" class="form-control" id="paciente" name="paciente" required>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Número de Folio:</label>
                        <input type="text" class="form-control" id="folio" name="folio" required>
                    </div>
                    <div class="form-group">
                        <label for="file" class="col-form-label">Archivo:</label>
                        <input type="file" name="file" asp-for="file" class="" required value="file" />
                        <input type="hidden" name="sucursal" asp-for="file" class="" required value="@Sucursal" />
                        <input type="hidden" name="usuario" asp-for="file" class="" required value="@nombreUsuario" />
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Doctor asignado en METRA:</label>

                        <select name="doctor" style="width:100%; min-height:5vh; min-width:99%; font-size:2vh" class="form-select">
                            @{
                                var consultorios = from c in db.Doctores select c;

                                foreach (var item in consultorios)
                                {
                                    <option value="@item.Nombre">@item.Nombre</option>
                                }
                            }
                        </select>

                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Tipo de EPI:</label>

                        <select name="tipo" style="width:100%; min-height:5vh; min-width:99%; font-size:2vh" class="form-select">
                            <option value="REVALIDACIÓN">REVALIDACIÓN</option>
                            <option value="PRIMERA VEZ">PRIMERA VEZ</option>
                        </select>

                    </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <input type="submit" value="Subir PDF" class="btn btn-primary" />
            </div></form>
        </div>
    </div>
</div>



