@using PagedList.Mvc;
@model PagedList.IPagedList<SCT_iCare.Cita>

@{
    ViewBag.Title = "Captura";

    GMIEntities db = new GMIEntities();

    DateTime start = DateTime.Now;
    //DateTime startDay = Convert.ToDateTime(start.Day);

    var oUser = (Usuarios)HttpContext.Current.Session["User"];

    string nombreUsuario = null;
    int idUser = 0;
    int? idRol = 0;

    if (oUser != null)
    {
        idUser = oUser.idUsuario;
        nombreUsuario = oUser.Nombre;
        idRol = oUser.idRol;
    }

    string Query = "";
    if (TempData["ERROR"] == "ESTE EXPEDIENTE YA HA SIDO TOMADO POR OTRO USUARIO")
    {
        Query = TempData["ERROR"].ToString();
    }



    string parameter = ViewBag.Parameter;
    DateTime rango = Convert.ToDateTime(ViewBag.Fecha);


    int year = start.Year;
    int month = start.Month;
    int day = start.Day;
    int tomorrorDay = day + 1;
    DateTime thisDate = Convert.ToDateTime(ViewBag.Inicio);
    DateTime tomorrowDate = Convert.ToDateTime(ViewBag.Final);


    //var repoCentral = (from r in db.EPI orderby r.TipoEPI select r).Select(i => new { i.Capturista, i.Dictamen, i.Doctor, i.Estatus, i.FechaExpediente, i.FinalCaptura, i.idEPI, i.InicioCaptura, i.NoFolio, i.NombrePaciente, i.Sucursal, i.TipoEPI, i.Usuario }).Where(w => w.FechaExpediente >= thisDate && w.FechaExpediente < tomorrowDate).ToList();
    var repoCentral = (from r in db.Captura orderby r.TipoTramite select r).Where(w => w.FechaExpdiente >= thisDate && w.FechaExpdiente < tomorrowDate && w.EstatusCaptura != "Terminado").ToList();

    var repoCentral2 = (from r in db.Captura select r).Where(w => w.FechaExpdiente >= thisDate && w.FechaExpdiente < tomorrowDate && w.EstatusCaptura != "Terminado").Count();


    int epis = (from e in db.Captura select e).Where(w => w.FechaExpdiente >= thisDate && w.FechaExpdiente < tomorrowDate).Count();
    int episSinIniciar = (from e in db.Captura select e).Where(w => w.FechaExpdiente >= thisDate && w.FechaExpdiente < tomorrowDate && w.EstatusCaptura != "Terminado").Count();


    int dictamenes = (from e in db.Captura select e).Where(w => w.FechaExpdiente >= thisDate && w.FechaExpdiente < tomorrowDate && w.EstatusCaptura == "Terminado").Count();

    int pendientes = (from e in db.Captura select e).Where(w => w.FechaExpdiente >= thisDate && w.FechaExpdiente < tomorrowDate && w.EstatusCaptura == "No iniciado").Count();

    int enCaptura = (from e in db.Captura select e).Where(w => w.FechaExpdiente >= thisDate && w.FechaExpdiente < tomorrowDate && w.EstatusCaptura == "En captura...").Count();

    int incidencia = (from e in db.Captura select e).Where(w => w.FechaExpdiente >= thisDate && w.FechaExpdiente < tomorrowDate && w.EstatusCaptura == "Pendiente").Count();

    var sucursalesLista = from s in db.Sucursales select s.Nombre;

    var capturistas = from c in db.Usuarios where c.idRol == 7 && c.idUsuario != 13 && c.idUsuario != 25 select c.Nombre;

    var capturistasAnexa = from c in db.Usuarios where c.idRol == 9 select c.Nombre;

    string fecha = DateTime.Now.ToString("dd-MMMM-yyyy");

    string fila = "";
    int flag = 1; //contador de la tabla

}

<br />
<br />
@*<h5 style="color:white" class="text-right">@fecha</h5>*@
<h3 style="color:white" class="text-center">EPI Center &nbsp; &nbsp; &nbsp;<span class="h4" style="color:#AC9070"><b>@fecha</b></span></h3>
@if (ViewBag.Estado == 1)
{
    <h5 style="color:darkgray">Mostrando resultados de <span style="color:white">@ViewBag.Inicio.ToString("dd-MMMM-yyyy")</span> hasta <span style="color:white">@ViewBag.Final.ToString("dd-MMMM-yyyy")</span></h5>
}



@{
    if (nombreUsuario == "Daniela Fabila Navarro" || nombreUsuario == "Captura" || nombreUsuario == "Viridiana España" || nombreUsuario == "Soporte Captura" || idRol == 2)
    {
        <form class="form-inline" method="post" enctype="multipart/form-data" action="@Url.Content("~/EPIs/Captura")">
            <div style="display:inline-block; padding:10px; background-color:gainsboro; border-radius: 5px">
                <label for="recipient-name" style="color:navy" class="col-form-label text-primary">Desde:</label>
                <input type="date" class="form-control" name="inicio" />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <label for="recipient-name" style="color:navy" class="col-form-label text-primary">Hasta:</label>
                <input type="date" class="form-control" name="final" /> &nbsp; &nbsp;
                <input type="submit" class="btn btn-primary" value="Enviar" />
                <a href="~/EPIs/Captura"><button type="button" class="btn btn-success">Limpiar Consulta</button></a>
            </div>
            <div class="input-group pull-right">
                <input type="text" class="form-control" id="buscador" name="dato" placeholder="Paciente o Expediente">
                <span class="input-group-btn">
                    <button class="btn btn-info buscar" id="buscar" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </form>
        <br />
        <br />
    }
    else
    {
        int episProgeso = (from e in db.Captura select e).Where(w => w.FechaExpdiente >= thisDate && w.FechaExpdiente < tomorrowDate).Count();
        int dictamenesProgreso = (from e in db.Captura select e).Where(w => w.FechaExpdiente >= thisDate && w.FechaExpdiente < tomorrowDate && w.EstatusCaptura == "Terminado").Count();

        int porcentaje;

        if (episProgeso == 0)
        {
            porcentaje = 0;
        }
        else
        {
            porcentaje = (dictamenesProgreso * 100) / episProgeso;
        }

        string progreso = "Progreso:";

        if (porcentaje == 0)
        {
            progreso = "Comenzamos el día. Vamos a capturar esos EPIs!";
        }
        else if (porcentaje > 0 && porcentaje < 10)
        {
            progreso = "Vamos bien. Echémosle galleta!";
        }
        else if (porcentaje >= 10 && porcentaje < 45)
        {
            progreso = "Uff. Si le echamos montón vamos a terminar rápido";
        }
        else if (porcentaje >= 45 && porcentaje < 55)
        {
            progreso = "Estamos a la mitad del camino";
        }
        else if (porcentaje >= 55 && porcentaje < 75)
        {
            progreso = "Ya estamos más para acá que para allá!";
        }
        else if (porcentaje >= 75 && porcentaje < 95)
        {
            progreso = "Unos cuantos más y lo logramos!!";
        }
        else if (porcentaje >= 95 && porcentaje < 100)
        {
            progreso = "SI SE PUEDE!! SI SE PUEDE!!";
        }
        else if (porcentaje == 100)
        {
            progreso = "LO LOGRAMOS!!!!";
        }


        <h4 style="color:chartreuse">@progreso</h4>
        <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" style="width: @porcentaje%; background-color:#57D94E" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">@porcentaje%</div>
        </div>

        <br />
    }

}


@{ if (nombreUsuario == "Daniela Fabila Navarro" || nombreUsuario == "Captura" || nombreUsuario == "Viridiana España" || nombreUsuario == "Soporte Captura" || idRol == 2)
    {

        @*<p class="col-md-4">
                <button type="button" class="btn btn-outline-warning boton-transparenteIndicadorAm botonesGral" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1"><h4><span class="glyphicon glyphicon-duplicate"></span> &nbsp; &nbsp;EPIs Existentes: <b>@epis</b></h4></button>
            </p>
            <div class="collapse col-md-4" id="collapseExample1">
                <div class="card card-body  col-md-4" style="padding:20px; width:40%; min-width:400px; border-radius: 10px; background-color: white">
                    @{
                        foreach (var item in sucursalesLista)
                        {
                            var elemento = (from v in db.EPI where v.Sucursal == item select v).Where(w => w.FechaExpediente >= thisDate && w.FechaExpediente < tomorrowDate).Count();
                            <h4><b>@item:</b> @elemento</h4>
                        }
                    }
                </div>
                <hr />
            </div>*@

        <div class="container">

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-warning boton-transparenteIndicadorAm botonesGral col-md-4" data-toggle="modal" data-target="#exampleModal1" style="color:white">
                <h4><span class="glyphicon glyphicon-duplicate"></span> &nbsp; &nbsp;EPIs TOTALES: <b>@epis</b></h4>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:gold">
                            <h3 class="modal-title" id="exampleModalLabel"><span class="glyphicon glyphicon-duplicate"></span> &nbsp; &nbsp;EPIs Existentes: <b>@epis</b></h3>
                        </div>
                        <div class="modal-body">
                            @{
                                foreach (var item in sucursalesLista)
                                {
                                    var elemento = (from v in db.Captura where v.Sucursal == item select v).Where(w => w.FechaExpdiente >= thisDate && w.FechaExpdiente < tomorrowDate).Count();
                                    <h4><b>@item:</b> @elemento</h4>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-warning boton-transparenteIndicadorAz botonesGral col-md-4" data-toggle="modal" data-target="#exampleModal2" style="color:white">
                <h4><span class="glyphicon glyphicon-ok"></span> &nbsp; &nbsp;Dictámenes Generados: <b>@dictamenes</b></h4>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:aquamarine">
                            <h3 class="modal-title" id="exampleModalLabel"><span class="glyphicon glyphicon-ok"></span> &nbsp; &nbsp;Dictámenes Generados: <b>@dictamenes</b></h3>
                        </div>
                        <div class="modal-body">
                            @{
                                foreach (var item in sucursalesLista)
                                {
                                    var elemento = (from v in db.Captura where v.Sucursal == item && v.EstatusCaptura == "Terminado" && v.FechaExpdiente >= thisDate && v.FechaExpdiente < tomorrowDate select v).Count();
                                    <h4><b>@item:</b> @elemento</h4>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-warning boton-transparenteIndicadorRo botonesGral col-md-4" data-toggle="modal" data-target="#exampleModal3" style="color:white">
                <h4><span class="glyphicon glyphicon-time"></span> &nbsp; &nbsp;EPIs NO Iniciados: <b>@pendientes</b></h4>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:orangered">
                            <h3 class="modal-title" id="exampleModalLabel"><span class="glyphicon glyphicon-duplicate"></span> &nbsp; &nbsp;EPIs NO Iniciados: <b>@pendientes</b></h3>
                        </div>
                        <div class="modal-body">
                            @{
                                foreach (var item in sucursalesLista)
                                {
                                    var elemento = (from v in db.Captura where v.Sucursal == item && v.EstatusCaptura == "No iniciado" && v.FechaExpdiente >= thisDate && v.FechaExpdiente < tomorrowDate select v).Count();
                                    <h4><b>@item:</b> @elemento</h4>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-warning boton-transparenteIndicadorAm botonesGral col-md-4" data-toggle="modal" data-target="#exampleModal4" style="color:white">
                <h4><span class="glyphicon glyphicon-duplicate"></span> &nbsp; &nbsp;EPIs en Captura: <b>@enCaptura</b></h4>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:gold">
                            <h3 class="modal-title" id="exampleModalLabel"><span class="glyphicon glyphicon-duplicate"></span> &nbsp; &nbsp;EPIs en Captura: <b>@enCaptura</b></h3>
                        </div>
                        <div class="modal-body">
                            @{
                                foreach (var item in sucursalesLista)
                                {
                                    var elemento = (from v in db.Captura where v.Sucursal == item select v).Where(w => w.FechaExpdiente >= thisDate && w.FechaExpdiente < tomorrowDate && w.EstatusCaptura == "En captura...").Count();
                                    <h4><b>@item:</b> @elemento</h4>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-warning boton-transparenteIndicadorAz botonesGral col-md-4" data-toggle="modal" data-target="#exampleModal5" style="color:white">
                <h4><span class="glyphicon glyphicon-user"></span> &nbsp; &nbsp;Dictámenes por Capturista</h4>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:aquamarine">
                            <h3 class="modal-title" id="exampleModalLabel"><span class="glyphicon glyphicon-user"></span> &nbsp; &nbsp;Dictámenes por Capturista</h3>
                        </div>
                        <div class="modal-body">
                            @{
                                foreach (var item in capturistas)
                                {
                                    var elemento = (from v in db.Captura where v.EstatusCaptura == "Terminado" && v.FechaExpdiente >= thisDate && v.FechaExpdiente < tomorrowDate && v.Capturista == item select v).Count();
                                    var sumaMinutos = ((from v in db.Captura where v.EstatusCaptura == "Terminado" && v.FechaExpdiente >= thisDate && v.FechaExpdiente < tomorrowDate && v.Capturista == item select v.Duracion).Sum()) / elemento;
                                    if (sumaMinutos == null)
                                    {
                                        sumaMinutos = 0;
                                    }
                                    <h4><b>@item:</b> @elemento <b class="text-primary h6">(@sumaMinutos mins/Dictamen)</b></h4>
                                }
                                <h4>----------------------</h4>
                                foreach (var item in capturistasAnexa)
                                {
                                    var elemento = (from v in db.Captura where v.EstatusCaptura == "Terminado" && v.FechaExpdiente >= thisDate && v.FechaExpdiente < tomorrowDate && v.Capturista == item select v).Count();
                                    <h4><b>@item (Anexa):</b> @elemento</h4>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-warning boton-transparenteIndicadorRo botonesGral col-md-4" data-toggle="modal" data-target="#exampleModal6" style="color:white">
                <h4><span class="glyphicon glyphicon-alert"></span> &nbsp; &nbsp;Pendientes por Dictaminar: <b>@incidencia</b></h4>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:orange">
                            <h3 class="modal-title" id="exampleModalLabel"><span class="glyphicon glyphicon-alert"></span> &nbsp; &nbsp;Pendientes por Dictaminar: <b>@incidencia</b></h3>
                        </div>
                        <div class="modal-body">
                            @{
                                foreach (var item in sucursalesLista)
                                {
                                    var elemento = (from v in db.Captura where v.Sucursal == item && v.EstatusCaptura == "Pendiente" select v).Where(w => w.FechaExpdiente >= thisDate && w.FechaExpdiente < tomorrowDate).Count();
                                    <h4><b>@item:</b> @elemento</h4>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />


        @*<div id="contenedor_carga" style="background-color:white">
                <div id="carga" >
                </div>
            </div>

            <script>
                window.onload = function () {
                    var contenedor = document.getElementById('contenedor_carga');

                    contenedor.style.visibility = 'hidden';
                    contenedor.style.opacity = '0';
                }
            </script>*@
    }
    else
    {
        <div class="container">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-warning boton-transparenteIndicadorAm botonesGral col-md-4" data-toggle="modal" data-target="#exampleModal4" style="color:white">
                <h4><span class="glyphicon glyphicon-duplicate"></span> &nbsp; &nbsp;EPIs en Captura: <b>@enCaptura</b></h4>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:gold">
                            <h3 class="modal-title" id="exampleModalLabel"><span class="glyphicon glyphicon-duplicate"></span> &nbsp; &nbsp;EPIs en Captura: <b>@enCaptura</b></h3>
                        </div>
                        <div class="modal-body">
                            @{
                                foreach (var item in sucursalesLista)
                                {
                                    var elemento = (from v in db.Captura where v.Sucursal == item select v).Where(w => w.FechaExpdiente >= thisDate && w.FechaExpdiente < tomorrowDate && w.EstatusCaptura == "En captura...").Count();
                                    <h4><b>@item:</b> @elemento</h4>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-warning boton-transparenteIndicadorRo botonesGral col-md-4" data-toggle="modal" data-target="#exampleModal6" style="color:white">
                <h4><span class="glyphicon glyphicon-alert"></span> &nbsp; &nbsp;Pendientes por Dictaminar: <b>@incidencia</b></h4>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:orange">
                            <h3 class="modal-title" id="exampleModalLabel"><span class="glyphicon glyphicon-alert"></span> &nbsp; &nbsp;Pendientes por Dictaminar: <b>@incidencia</b></h3>
                        </div>
                        <div class="modal-body">
                            @{
                                foreach (var item in sucursalesLista)
                                {
                                    var elemento = (from v in db.Captura where v.Sucursal == item && v.EstatusCaptura == "Pendiente" select v).Where(w => w.FechaExpdiente >= thisDate && w.FechaExpdiente < tomorrowDate).Count();
                                    <h4><b>@item:</b> @elemento</h4>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <br />

    }


}

<h4 style="color:white" class="text-center">Sucursales</h4>
<center>
    @{
        var sucursales = from s in db.Sucursales select s;
        string sucursal = null;

        foreach (var item in sucursales)
        {
            sucursal = item.Nombre;
            <a href=@Url.Action("capturaSucursal", "EPIs", new { sucursal = sucursal })><button style="color:white" type="button" class="btn btn-outline-warning boton-transparenteExcel botonesGral"><span class="glyphicon glyphicon-folder-open"></span> &nbsp; &nbsp;@item.Nombre</button></a>

        }
        if (nombreUsuario == "Daniela Fabila Navarro" || nombreUsuario == "Captura" || nombreUsuario == "Viridiana España" || nombreUsuario == "Soporte Captura" || oUser.idRol == 2)
        {
            <a href=@Url.Action("Index", "ControlDictamen")><button style="color:white" type="button" class="btn btn-outline-warning boton-transparenteAzul botonesGral"><span class="glyphicon glyphicon-th-list"></span> &nbsp; &nbsp;CENTRO DE CONTROL</button></a>
        }
    }
</center>
<br />
<br />



@*@using (Html.BeginForm("EditExpediente", "EPIs"))*@
@{

    if (epis != 0 && episSinIniciar != 0)
    {
        <div class="tablaScroll">
            <table class="table tablas table-responsive" id="tablaEjemplo" style="color: #2F2D6B">
                <thead>
                    <tr class="bg-primary" @*style="background-color:#62E3C9"*@>
                        <th>
                        </th>
                        <th>
                            Nombre Paciente
                        </th>

                        <th>
                            NoExpediente
                        </th>
                        <th>
                            Tipo de Trámite
                        </th>
                        <th>
                            Estatus
                        </th>
                        <th>
                            Inicio Captura
                        </th>
                        <th>
                            Final Captura
                        </th>
                        <th>
                            Doctor Dictaminador
                        </th>
                        <th>
                            Sucursal
                        </th>
                        <th>
                            Capturista
                        </th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                


                @if (ViewBag.Estado == 1)
                {
                    var repoCompleta = (from r in db.Captura select r).Where(w => w.FechaExpdiente >= thisDate && w.FechaExpdiente < tomorrowDate).OrderBy(o => o.FechaExpdiente).ThenBy(t => t.NombrePaciente).ToList();

                    foreach (var item in repoCompleta)
                    {

                        if (item.TipoTramite == "PRIMERA VEZ")
                        {
                            fila = "bg-info";
                        }
                        else
                        {
                            fila = "bg-default";
                        }

                        var Licencia = (from l in db.Cita where l.idPaciente == item.idPaciente select l).FirstOrDefault();

                        if (Licencia.TipoLicencia == "AEREO")
                        {
                            fila = "bg-warning";
                        }


                        <tr class=@fila>
                            <td>
                                @flag
                            </td>
                            <td>
                                @{
                                    if ((item.EstatusCaptura != "En captura..." && item.EstatusCaptura != "Terminado") && (idUser != 2 && idUser != 3 && idUser != 13 && idUser != 25))
                                    {
                                        @Html.DisplayFor(modelItem => item.NombrePaciente)
                                    }
                                    else
                                    {
                                        <b>@Html.ActionLink(item.NombrePaciente, "AbrirEPI_EC", new { id = item.idCaptura }, new { style = "color: black; text-decoration: none" })</b>
                                    }
                                }
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.NoExpediente)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TipoTramite)
                            </td>
                            <td>
                                <b><i>@Html.DisplayFor(modelItem => item.EstatusCaptura)</i></b>
                            </td>
                            <td>

                                @Html.DisplayFor(modelItem => item.InicioCaptura)
                            </td>
                            <td>
                                @if (item.Duracion != null)
                                {
                                    @Html.DisplayFor(modelItem => item.FinalCaptura)<b> (Dur: @item.Duracion min)</b>
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.FinalCaptura)
                                }

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Doctor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sucursal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Capturista)
                            </td>
                            <td>
                                @{
                                    if (item.EstatusCaptura == "No iniciado")
                                    {
                                        using (Html.BeginForm("EditExpediente", "EPIs"))
                                        {
                                            @Html.AntiForgeryToken()
                                            <a href=@Url.Action("EditExpedienteEC", "EPIs", new { id = item.idCaptura, usuario = nombreUsuario }) @*target="_blank" onclick="location.href = 'capturaSucursal?sucursal=@Sucursal';"*@ @*onclick="window.location.reload();"*@ @*onsubmit="location.reload()"*@><button type="button" class="btn btn-info">Capturar</button></a>
                                        }
                                    }
                                    else if (item.EstatusCaptura == "En captura..." || item.EstatusCaptura == "Pendiente")
                                    {
                                        <div class="btn-group">
                                            @*<a href=@Url.Action("SubirDictamen", "EPIs", new { id = item.idCaptura})><button type="button" class="btn btn-warning">Dictaminar</button></a>*@
                                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Acciones <span class="glyphicon glyphicon-triangle-bottom"></span>
                                            </button>

                                            <div class="dropdown-menu" style="padding:10px">
                                                <b>@Html.ActionLink("Abrir EPI", "AbrirEPI_EC", new { id = item.idCaptura })</b>
                                                <div class="dropdown-divider"></div>
                                                <b>@Html.ActionLink("Dictaminar", "SubirDictamen", new { id = item.idCaptura })</b>
                                                <div class="dropdown-divider"></div>
                                            </div>
                                        </div>

                                    }
                                    else if (item.EstatusCaptura == "Terminado")
                                    {
                                        <a href=@Url.Action("DescargarPDF", "EPIs", new { id = item.idCaptura })><button type="button" class="btn btn-danger">Descargar</button></a>
                                    }

                                }
                            </td>
                        </tr>
                        flag++;
                    }
                }
                else
                {
                    foreach (var item in repoCentral)
                    {

                        if (item.TipoTramite == "PRIMERA VEZ")
                        {
                            fila = "bg-info";
                        }
                        else
                        {
                            fila = "bg-default";
                        }


                        <tr class=@fila>
                            <td>
                                @flag
                            </td>
                            <td>
                                @{
                                    if ((item.EstatusCaptura != "En captura..." && item.EstatusCaptura != "Terminado") && (idUser != 2 && idUser != 3 && idUser != 13 && idUser != 25 && idRol != 2))
                                    {
                                        @Html.DisplayFor(modelItem => item.NombrePaciente)
                                    }
                                    else
                                    {
                                        <b>@Html.ActionLink(item.NombrePaciente, "AbrirEPI_EC", new { id = item.idCaptura }, new { style = "color: black; text-decoration: none" })</b>
                                    }
                                }
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.NoExpediente)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TipoTramite)
                            </td>
                            <td>
                                <b><i>@Html.DisplayFor(modelItem => item.EstatusCaptura)</i></b>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InicioCaptura)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FinalCaptura)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Doctor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sucursal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Capturista)
                            </td>
                            <td>
                                @{
                                    if (item.EstatusCaptura == "No iniciado")
                                    {
                                        using (Html.BeginForm("EditExpediente", "EPIs"))
                                        {
                                            @Html.AntiForgeryToken()
                                            <a href=@Url.Action("EditExpedienteEC", "EPIs", new { id = item.idCaptura, usuario = nombreUsuario }) @*target="_blank" onclick="location.href = 'capturaSucursal?sucursal=@Sucursal';"*@ @*onclick="window.location.reload();"*@ @*onsubmit="location.reload()"*@><button type="button" class="btn btn-info">Capturar</button></a>
                                        }
                                    }
                                    else if (item.EstatusCaptura == "En captura..." || item.EstatusCaptura == "Pausado" || item.EstatusCaptura == "Pendiente")
                                    {
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Acciones <span class="glyphicon glyphicon-triangle-bottom"></span>
                                            </button>

                                            <div class="dropdown-menu" style="padding:10px">
                                                @if (item.EstatusCaptura != "Pausado")
                                                {
                                                    <b>@Html.ActionLink("Abrir EPI", "AbrirEPI_EC", new { id = item.idCaptura })</b>
                                                    <div class="dropdown-divider"></div>
                                                    <b>@Html.ActionLink("Dictaminar", "SubirDictamen", new { id = item.idCaptura })</b>
                                                    <div class="dropdown-divider"></div>
                                                }

                                                @{
                                                    if ((nombreUsuario == "Daniela Fabila Navarro" || nombreUsuario == "Captura" || nombreUsuario == "Viridiana España") && item.EstatusCaptura != "Pausado" && item.EstatusCaptura != "Pendiente")
                                                    {
                                                        <a href="#" data-toggle="modal" data-target="#Pausa_@item.idCaptura"><span class="glyphicon glyphicon-pause text-warning"></span><b> Pausa</b></a>
                                                        <div class="dropdown-divider"></div>
                                                    }
                                                    if ((nombreUsuario == "Daniela Fabila Navarro" || nombreUsuario == "Captura" || nombreUsuario == "Viridiana España") && item.EstatusCaptura == "Pausado" && item.EstatusCaptura != "Pendiente")
                                                    {

                                                        //using (Html.BeginForm("Reanudar", "EPIs"))
                                                        //{
                                                        <span class="glyphicon glyphicon-play text-success"></span><b>
                                                            @*@Url.Action("Reanudar", "Reanudar", new { idCaptura = item.idCaptura })*@
                                                            @Html.ActionLink("Reanudar", "Reanudar", new { idCaptura = item.idCaptura })
                                                        </b>
                                                        <div class="dropdown-divider"></div>
                                                        //}
                                                    }
                                                }
                                            </div>

                                            <form method="post" enctype="multipart/form-data" action="@Url.Content("~/EPIs/Pausa")">
                                                @Html.AntiForgeryToken()
                                                <div class="modal fade" id="Pausa_@item.idCaptura" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title" id="exampleModalLabel"><b>Describa el motivo de la pausa</b></h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="form-group" style="width:60%; min-width:320px">
                                                                    <label for="recipient-name" class="col-form-label">Motivo:</label>
                                                                    <input type="text" class="form-control" id="motivo" name="motivo" required>
                                                                    <input type="hidden" class="form-control" id="idCaptura" name="idCaptura" value="@item.idCaptura">
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                                <input type="submit" value="Guardar" class="btn btn-primary" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>

                                    }
                                    else if (item.EstatusCaptura == "Terminado")
                                    {
                                        <a href=@Url.Action("DescargarPDF", "EPIs", new { id = item.idCaptura })><button type="button" class="btn btn-danger">Descargar</button></a>
                                    }


                                }
                            </td>
                        </tr>
                        flag++;
                    }
                }



            </table>
        </div>

        <br />

        @*using (Html.BeginForm("Captura", "EPIs", FormMethod.Post))
        {
            <p>
                <h5 class="labelGral">
                    Mostrando: <select name="PageSize" id="PageSize" onchange="this.form.submit();">
                        <option @if ((int)ViewBag.PageSize == 10) { @Html.Raw("selected") } value="10">10</option>
                        <option @if ((int)ViewBag.PageSize == 20) { @Html.Raw("selected") } value="20">20</option>
                        <option @if ((int)ViewBag.PageSize == 50) { @Html.Raw("selected") } value="50">50</option>
                        <option @if ((int)ViewBag.PageSize == 100) { @Html.Raw("selected") } value="100">100</option>
                    </select> registros
                </h5>
            </p>
        }

        <h5 class="labelGral">Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount. Elementos totales: @Model.TotalItemCount</h5>

        @Html.PagedListPager(Model, page => Url.Action("Captura", "EPIs", new { page, pageSize = ViewBag.PageSize }))*@
    }
    else
    {
        <h1 class="text-center" style="color:white">No existen EPIs digitalizados el día de hoy!!</h1>
    }


}

@section scripts{
    @if (TempData["ID"] != null)
    {
        <script>
            @*location.href='@Url.Action("AbrirEPI","EPIs", new { id = TempData["ID"] })';*@
            window.open('@Url.Action("AbrirEPI","EPIs", new { id = TempData["ID"] })');
        </script>
    }

    @if (Query == "ESTE EXPEDIENTE YA HA SIDO TOMADO POR OTRO USUARIO")
    {
        <script>
            alert("ESTE EXPEDIENTE YA HA SIDO TOMADO POR OTRO USUARIO");
        </script>
    }

    <script>
    $(function () {
        $(".buscar").click(function () {
            var url = "@Url.Action("BuscarTodo", "EPIs")";
            var dato = $("#buscador").val();
            var data = { dato: dato };

            $.post(url, data).done(function (data) {
                console.log(data);
                let miResultado = "";
                if ($.isEmptyObject(data)) {
                    miResultado = "<h3>No se encontraron registros.</h3>"
                }
                else {
                    miResultado += "<tr class=\"bg-primary\"><th>Nombre</th><th>Expediente</th><th>Email</th><th>Teléfono</th><th>Fecha Cita</th><th>Sucursal</th></tr>"
                    for (let i = 0; i < data.length; i++) {
                        miResultado += "<tr style=\"border:1px solid gray\">" +
                            "<td><b>" + data[i].Nombre + "</b></td>" +
                            "<td><b>" + data[i].NoExpediente + "</b></td>" +
                            "<td><b>" + data[i].Email + "</b></td>" +
                            "<td><b>" + data[i].Telefono + "</b></td>" +
                            "<td><b>" + data[i].FechaReferencia + "</b></td>" +
                            "<td><b>" + data[i].Sucursal + "</b></td>" +
                            "</tr>"
                    }
                }

                $('#exampleModal10').modal('show');
                document.getElementById("tablaEjemploSS").innerHTML = miResultado;

            }).fail().always(function () {

            });
        });
    });

    </script>

    <script>
        var input = document.getElementById("buscador");
        input.addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("buscar").click();
            }
        });

    </script>

}


<div class="modal fade" id="exampleModal10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-primary" id="exampleModalLabel"><b>Resultado de la búsqueda:</b></h3>
            </div>
            <div class="modal-body">
                <div class="tablaScroll">
                    <table class="table tablas table-responsive" id="tablaEjemploSS" style="color: #2F2D6B">
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>



