@model SCT_iCare.EPI

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EPI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombrePaciente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombrePaciente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BytesArchivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BytesArchivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoFolio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoFolio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoEPI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoEPI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaExpediente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaExpediente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InicioCaptura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InicioCaptura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinalCaptura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalCaptura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sucursal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sucursal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dictamen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dictamen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idEPI }) |
    @Html.ActionLink("Back to List", "Index")
</p>
