@model SCT_iCare.Consultorios

@{
    ViewBag.Title = "Delete";
}

<br />

<h3 style="color:white">¿Quieres eliminar éste Consultorio?</h3>

<div>
    <hr />
    <dl class="dl-horizontal labelGral">
        <dt>
            <h4>@Html.DisplayNameFor(model => model.NombreDoctor)</h4>
        </dt>

        <dd class="labelInfo">
            <h4>@Html.DisplayFor(model => model.NombreDoctor)</h4>
        </dd>

        <dt>
            <h4>@Html.DisplayNameFor(model => model.RFC)</h4>
        </dt>

        <dd class="labelInfo">
            <h4>@Html.DisplayFor(model => model.RFC)</h4>
        </dd>

        <dt>
            <h4>@Html.DisplayNameFor(model => model.CURP)</h4>
        </dt>

        <dd class="labelInfo">
            <h4>@Html.DisplayFor(model => model.CURP)</h4>
        </dd>

        <dt>
            <h4>@Html.DisplayNameFor(model => model.Cedula)</h4>
        </dt>

        <dd class="labelInfo">
            <h4>@Html.DisplayFor(model => model.Cedula)</h4>
        </dd>

        <dt>
            <h4>@Html.DisplayNameFor(model => model.Direccion)</h4>
        </dt>

        <dd class="labelInfo">
            <h4>@Html.DisplayFor(model => model.Direccion)</h4>
        </dd>

        <dt>
            <h4>@Html.DisplayNameFor(model => model.Colonia)</h4>
        </dt>

        <dd class="labelInfo">
            <h4>@Html.DisplayFor(model => model.Colonia)</h4>
        </dd>

        <dt>
            <h4>@Html.DisplayNameFor(model => model.CP)</h4>
        </dt>

        <dd class="labelInfo">
            <h4>@Html.DisplayFor(model => model.CP)</h4>
        </dd>

        <dt>
            <h4>@Html.DisplayNameFor(model => model.Estado)</h4>
        </dt>

        <dd class="labelInfo">
            <h4>@Html.DisplayFor(model => model.Estado)</h4>
        </dd>

        <dt>
            <h4>@Html.DisplayNameFor(model => model.Ciudad)</h4>
        </dt>

        <dd class="labelInfo">
            <h4>@Html.DisplayFor(model => model.Ciudad)</h4>
        </dd>

        <dt>
            <h4>@Html.DisplayNameFor(model => model.Consultorio)</h4>
        </dt>

        <dd class="labelInfo">
            <h4>@Html.DisplayFor(model => model.Consultorio)</h4>
        </dd>

        <dt>
            <h4>@Html.DisplayNameFor(model => model.NoConsultorio)</h4>
        </dt>

        <dd class="labelInfo">
            <h4>@Html.DisplayFor(model => model.NoConsultorio)</h4>
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color enlaceSinBoton">
            <input type="submit" value="Eliminar" class="btn btn-outline-warning boton-transparente botonesGral" /> |
            @Html.ActionLink("Volver a Consultorios", "Index")
        </div>
    }
</div>
