@model IEnumerable<SCT_iCare.Consultorios>

@{
    ViewBag.Title = "Index";
}

<br />
<br />
<a href="~/Consultorios/Create"><button type="button" class="btn btn-outline-warning boton-transparente botonesGral" data-toggle="modal" data-target="#registrerModal">Nuevo Consultorio</button></a>

<br />

<hr />

<div class="tablaScroll">
    <table class="table tablas">
        <thead>
            <tr class="bg-info">
                <th>
                    @Html.DisplayNameFor(model => model.NombreDoctor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RFC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CURP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cedula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Colonia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ciudad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Consultorio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NoConsultorio)
                </th>
                <th>
                    Recepcionista
                </th>
                <th></th>
            </tr>
        </thead>
        

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreDoctor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RFC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CURP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Colonia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ciudad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Consultorio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoConsultorio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuarios.Nombre)
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Acción
                        </button>
                        <div class="dropdown-menu">
                            <h5>@Html.ActionLink("Editar", "Edit", new { id = item.id })</h5>
                            <div class="dropdown-divider"></div>
                            <h5>@Html.ActionLink("Detalles", "Details", new { id = item.id })</h5>
                            <div class="dropdown-divider"></div>
                            <h5>@Html.ActionLink("Eliminar", "Delete", new { id = item.id })</h5>
                        </div>
                    </div>
                </td>
            </tr>
        }

    </table>
</div>


