@*XLSX *@
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>

@{
    ViewBag.Title = "Conciliacion";

    GMIEntities db = new GMIEntities();
    var oUser = (Usuarios)HttpContext.Current.Session["User"];

    DateTime fecha1 = DateTime.Today;
    DateTime fecha2 = DateTime.Today.AddDays(1);
    DateTime fechaF = DateTime.Today;

    if (ViewBag.FechaInicio != null)
    {
        fecha1 = Convert.ToDateTime(ViewBag.FechaInicio);
    }

    if (ViewBag.FechaFinal != null)
    {
        fecha2 = Convert.ToDateTime(ViewBag.FechaFinal);
        fechaF = Convert.ToDateTime(ViewBag.FechaFinal);
        fecha2 = fecha2.AddDays(1);
    }

    int dinero = 0;

    int totalFooterEPIS = 0;
    int totalFooterCuenta = 0;
    int totalFooterBancos = 0;
    int totalFooterConekta = 0;
    int totalFooterBajio = 0;
    int totalFooterBanorte = 0;
    int totalFooterSantander = 0;
    int totalFooterCoppelTLS = 0;
    int totalFooterCoppelLC = 0;
    int totalFooterAztecaTLS = 0;
    int totalFooterAztecaLC = 0;
    int totalFooterCXC = 0;
    int totalFooterAclaraciones = 0;
}

<br />
<h2 style="color: white">Conciliación</h2>
<br />

<form class="form-inline" method="post" enctype="multipart/form-data" action="@Url.Content("~/Contabilidad/Conciliacion")">
    <div>

        @{

            DateTime ViewBagFechaInicio = Convert.ToDateTime(ViewBag.fechaInicio);
            var SetFechaInicio = ViewBagFechaInicio.Date.ToString("yyyy-MM-dd");

            if (ViewBag.fechaInicio != null)
            {

                <input type="date" name="fechaInicio" class="form-control" value="@SetFechaInicio" style="width: 160px;" />

            }

            else

            {

                <input type="date" name="fechaInicio" class="form-control" value="" style="width: 160px;" />

            }

        }

        @{

            DateTime ViewBagFechaFinal = Convert.ToDateTime(ViewBag.fechaFinal);
            var SetFechaFinal = ViewBagFechaFinal.Date.ToString("yyyy-MM-dd");

            if (ViewBag.fechaFinal != null)
            {

                <input type="date" name="fechaFinal" class="form-control" value="@SetFechaFinal" style="width: 160px;" />

            }

            else

            {

                <input type="date" name="fechaFinal" class="form-control" value="" style="width: 160px;" />

            }

        }



        <input type="submit" class="btn btn-info" value="Enviar" />
        <a href="~/Contabilidad/Conciliacion">
            <span type="button" class="btn btn-success">Limpiar</span>
        </a>

    </div>
    <br />

</form>

<script>

    function ExportToExcel(type, fn, dl)
    {
        var elt = document.getElementById('Excel');
        var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
        return dl ?
            XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
            XLSX.writeFile(wb, fn || ('Resumen de conciliacion' + ' del @Convert.ToDateTime(fecha1).ToString("dd-MM-yy")' + ' al @Convert.ToDateTime(fechaF).ToString("dd-MM-yy").' + (type || 'xlsx')));
    }

</script>

<div>
    <button style="background-color:limegreen" class="btn btn-info dropdown-toggle" onclick="ExportToExcel('xlsx')">Exportar Datos a XLSX</button>
</div>

<h3 style="color: white">EPIs</h3>
<div class="tablaScroll" style="min-height: 300px; max-height:450px">
    <table id="Excel" class="table  table-hover tablas table-bordered" style="color: #2F2D6B">
        <thead style="color:white">
            <tr>
                <th style="text-align:center">
                    Sucursal
                </th>
                <th style="text-align: center">
                    EPIs
                </th>
                <th style="text-align: center">
                    CAJA
                </th>
                <th style="text-align: center">
                    BANCOS
                </th>
                <th style="text-align:center">
                    @Html.ActionLink("CXC", "Index", new { tipoPago = "Pendiente de Pago", fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: white; text-decoration: none" })
                </th>
                <th style="text-align:center">
                    @Html.ActionLink("Conekta", "Index", new { tipoPago = "OXXO", fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: white; text-decoration: none" })
                </th>
                <th style="text-align:center">
                    @Html.ActionLink("BanBajío", "Index", new { tipoPago = "BanBajío", fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: white; text-decoration: none" })
                </th>
                <th style="text-align:center">
                    @Html.ActionLink("Banorte", "Index", new { tipoPago = "Banorte", fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: white; text-decoration: none" })
                </th>
                <th style="text-align:center">
                    @Html.ActionLink("Santander", "Index", new { tipoPago = "Santander", fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: white; text-decoration: none" })
                </th>
                <th style="text-align:center">
                    @Html.ActionLink("Coppel TLS", "Index", new { tipoPago = "Coppel TLS", fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: white; text-decoration: none" })
                </th>
                <th style="text-align:center">
                    @Html.ActionLink("Azteca TLS", "Index", new { tipoPago = "Azteca TLS", fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: white; text-decoration: none" })
                </th>
                <th style="text-align:center">
                    @Html.ActionLink("Coppel LC", "Index", new { tipoPago = "Coppel LC", fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: white; text-decoration: none" })
                </th>
                <th style="text-align:center">
                    @Html.ActionLink("Azteca LC", "Index", new { tipoPago = "Azteca LC", fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: white; text-decoration: none" })
                </th>
                <th style="text-align:center">
                    @Html.ActionLink("Aclarciones", "Index", new { cuenta = "ACLARCIONES", fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: white; text-decoration: none" })
                </th>
            </tr>
        </thead>


        @*PACIENTES NORMALES DE SUCURSAL EN LA TABLA*@

        @{
            foreach (var item in db.Sucursales.Where(w => w.Nombre != "MIXCOAC" && w.Nombre != "IN SITU"))
            {
                <tr>
                    <td style="border-right-color: black"><b>@Html.ActionLink(item.Nombre, "Index", new { sucursal = item.Nombre, fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: #2F2D6B; text-decoration: none" })</b></td>

                    @*//EPIs*@
                    <td style="text-align:center">
                        @{
                            int epis = db.Cita.Join(db.Captura, n => n.idPaciente, m => m.idPaciente, (n, m) => new { N = n, M = m }).
                            Where(w => w.M.FechaExpdiente >= fecha1 && w.M.FechaExpdiente < fecha2 &&
                            w.M.EstatusCaptura == "Terminado" && w.M.Sucursal == item.Nombre && w.M.TipoTramite != "REVALORACIÓN").Count();

                            totalFooterEPIS += epis;
                        }
                        <span><b>@Html.ActionLink(epis.ToString(), "Index", new { sucursal = item.Nombre, fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: #2F2D6B; text-decoration: none" })</b></span>

                    </td>

                    @*//Caja*@
                    <td style="text-align:center">
                        @{
                            int Cuenta = db.Cita.Join(db.Captura, n => n.idPaciente, m => m.idPaciente, (n, m) => new { N = n, M = m }).
                            Where(w => w.M.FechaExpdiente >= fecha1 && w.M.FechaExpdiente < fecha2 &&
                            w.M.EstatusCaptura == "Terminado" && w.M.Sucursal == item.Nombre && w.M.TipoTramite != "REVALORACIÓN" && w.N.Conciliado == null && w.N.Cuenta != "CUENTAS X COBRAR").Count();

                            int CuentaR = db.Cita.Join(db.Captura, n => n.idPaciente, m => m.idPaciente, (n, m) => new { N = n, M = m }).
                            Where(w => w.M.FechaExpdiente >= fecha1 && w.M.FechaExpdiente < fecha2 &&
                            w.M.EstatusCaptura == "Terminado" && w.M.Sucursal == item.Nombre && w.M.TipoTramite != "REVALORACIÓN" && w.N.Conciliado != null).Count();

                            int CuentaP = Cuenta - CuentaR;
                            totalFooterCuenta += CuentaP;
                        }

                        <span><b>@Html.ActionLink(CuentaP.ToString(), "Index", new { sucursal = item.Nombre, conciliadooo = "NO CONCILIADOS", fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: #2F2D6B; text-decoration: none" })</b></span>

                    </td>

                    @*//Bancos*@
                    <td style="text-align:center">
                        @{

                            int Banco = db.Cita.Join(db.Captura, n => n.idPaciente, m => m.idPaciente, (n, m) => new { N = n, M = m }).
                            Where(w => w.M.FechaExpdiente >= fecha1 && w.M.FechaExpdiente < fecha2 &&
                            w.M.EstatusCaptura == "Terminado" && w.M.Sucursal == item.Nombre && w.M.TipoTramite != "REVALORACIÓN" && w.N.Conciliado != null).Count();

                            totalFooterBancos += Banco;
                        }

                        <span><b>@Html.ActionLink(Banco.ToString(), "Index", new { sucursal = item.Nombre, conciliadooo = "CONCILIADOS", fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: #2F2D6B; text-decoration: none" })</b></span>

                    </td>

                    @*//CXC*@
                    <td style="text-align: center; border-right-color: black">
                        @{
                            int cxc = db.Cita.Join(db.Captura, n => n.idPaciente, m => m.idPaciente, (n, m) => new { N = n, M = m }).
                                Where(w => w.M.FechaExpdiente >= fecha1 && w.M.FechaExpdiente < fecha2 &&
                                w.M.EstatusCaptura == "Terminado" && w.M.Sucursal == item.Nombre && w.M.TipoTramite != "REVALORACIÓN" &&
                                w.N.TipoPago == "Pendiente de Pago").Count();

                            totalFooterCXC += cxc;
                        }
                        <span><b>@Html.ActionLink(cxc.ToString(), "Index", new { tipoPago = "Pendiente de Pago", sucursal = item.Nombre, fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: #2F2D6B; text-decoration: none" })</b></span>
                    </td>

                    @*//Conekta*@
                    <td style="text-align:center">
                        @{
                            int conekta = db.Cita.Join(db.Captura, n => n.idPaciente, m => m.idPaciente, (n, m) => new { N = n, M = m }).
                                Where(w => w.M.FechaExpdiente >= fecha1 && w.M.FechaExpdiente < fecha2 &&
                                w.M.EstatusCaptura == "Terminado" && w.M.Sucursal == item.Nombre && w.M.TipoTramite != "REVALORACIÓN" &&
                                (w.N.TipoPago == "Referencia OXXO" || w.N.TipoPago == "Pago con Tarjeta")).Count();

                            totalFooterConekta += conekta;
                        }
                        <span>@Html.ActionLink(conekta.ToString(), "Index", new { tipoPago = "OXXO", sucursal = item.Nombre, fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: #2F2D6B; text-decoration: none" })</span>

                    </td>

                    @*//Bajio*@
                    <td style="text-align:center">
                        @{
                            int rbajio = db.Cita.Join(db.Captura, n => n.idPaciente, m => m.idPaciente, (n, m) => new { N = n, M = m }).
                                Where(w => w.M.FechaExpdiente >= fecha1 && w.M.FechaExpdiente < fecha2 &&
                                w.M.EstatusCaptura == "Terminado" && w.M.Sucursal == item.Nombre && w.M.TipoTramite != "REVALORACIÓN" &&
                                (w.N.TipoPago == "Referencía BanBajío" || w.N.TipoPago == "Referencia BanBajío")).Count();

                            int tbajio = db.Cita.Join(db.Captura, n => n.idPaciente, m => m.idPaciente, (n, m) => new { N = n, M = m }).
                                Where(w => w.M.FechaExpdiente >= fecha1 && w.M.FechaExpdiente < fecha2 &&
                                w.M.EstatusCaptura == "Terminado" && w.M.Sucursal == item.Nombre && w.M.TipoTramite != "REVALORACIÓN" &&
                                (w.N.TipoPago == "Transferencia vía BanBajío")).Count();

                            int BajioP = tbajio + rbajio;
                            totalFooterBajio += BajioP;
                        }
                        <span>@Html.ActionLink(BajioP.ToString(), "Index", new { tipoPago = "BAJIO", sucursal = item.Nombre, fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: #2F2D6B; text-decoration: none" })</span>
                    </td>

                    @*//Banorte*@
                    <td style="text-align:center">
                        @{
                            int banorte = db.Cita.Join(db.Captura, n => n.idPaciente, m => m.idPaciente, (n, m) => new { N = n, M = m }).
                                Where(w => w.M.FechaExpdiente >= fecha1 && w.M.FechaExpdiente < fecha2 &&
                                w.M.EstatusCaptura == "Terminado" && w.M.Sucursal == item.Nombre && w.M.TipoTramite != "REVALORACIÓN" &&
                                w.N.TipoPago == "Banorte").Count();

                            totalFooterBanorte += banorte;
                        }
                        <span>@Html.ActionLink(banorte.ToString(), "Index", new { tipoPago = "Banorte", sucursal = item.Nombre, fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: #2F2D6B; text-decoration: none" })</span>
                    </td>

                    @*//Santander*@
                    <td style="text-align:center">
                        @{
                            int santander = db.Cita.Join(db.Captura, n => n.idPaciente, m => m.idPaciente, (n, m) => new { N = n, M = m }).
                                Where(w => w.M.FechaExpdiente >= fecha1 && w.M.FechaExpdiente < fecha2 &&
                                w.M.EstatusCaptura == "Terminado" && w.M.Sucursal == item.Nombre && w.M.TipoTramite != "REVALORACIÓN" &&
                                w.N.TipoPago == "Santander").Count();

                            totalFooterSantander += santander;
                        }
                        <span>@Html.ActionLink(santander.ToString(), "Index", new { tipoPago = "Santander", sucursal = item.Nombre, fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: #2F2D6B; text-decoration: none" })</span>
                    </td>

                    @*//CoppelTLS*@
                    <td style="text-align:center">
                        @{
                            int coppelTLS = db.Cita.Join(db.Captura, n => n.idPaciente, m => m.idPaciente, (n, m) => new { N = n, M = m }).
                                Where(w => w.M.FechaExpdiente >= fecha1 && w.M.FechaExpdiente < fecha2 &&
                                w.M.EstatusCaptura == "Terminado" && w.M.Sucursal == item.Nombre && w.M.TipoTramite != "REVALORACIÓN" &&
                                w.N.TipoPago == "BanCoppel TLS").Count();

                            totalFooterCoppelTLS += coppelTLS;
                        }
                        <span>@Html.ActionLink(coppelTLS.ToString(), "Index", new { tipoPago = "Coppel TLS", sucursal = item.Nombre, fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: #2F2D6B; text-decoration: none" })</span>
                    </td>

                    @*//AztecaTLS*@
                    <td style="text-align:center">
                        @{
                            int aztecaTLS = db.Cita.Join(db.Captura, n => n.idPaciente, m => m.idPaciente, (n, m) => new { N = n, M = m }).
                                Where(w => w.M.FechaExpdiente >= fecha1 && w.M.FechaExpdiente < fecha2 &&
                                w.M.EstatusCaptura == "Terminado" && w.M.Sucursal == item.Nombre && w.M.TipoTramite != "REVALORACIÓN" &&
                                w.N.TipoPago == "Banco Azteca TLS").Count();

                            totalFooterAztecaTLS += aztecaTLS;
                        }
                        <span>@Html.ActionLink(aztecaTLS.ToString(), "Index", new { tipoPago = "Azteca TLS", sucursal = item.Nombre, fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: #2F2D6B; text-decoration: none" })</span>
                    </td>

                    @*//CoppelLC*@
                    <td style="text-align:center">
                        @{
                            int coppelLC = db.Cita.Join(db.Captura, n => n.idPaciente, m => m.idPaciente, (n, m) => new { N = n, M = m }).
                                Where(w => w.M.FechaExpdiente >= fecha1 && w.M.FechaExpdiente < fecha2 &&
                                w.M.EstatusCaptura == "Terminado" && w.M.Sucursal == item.Nombre && w.M.TipoTramite != "REVALORACIÓN" &&
                                w.N.TipoPago == "BanCoppel LC").Count();

                            totalFooterCoppelLC += coppelLC;
                        }
                        <span>@Html.ActionLink(coppelLC.ToString(), "Index", new { tipoPago = "Coppel LC", sucursal = item.Nombre, fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: #2F2D6B; text-decoration: none" })</span>
                    </td>

                    @*//AztecaLC*@
                    <td style="text-align:center">
                        @{
                            int aztecaLC = db.Cita.Join(db.Captura, n => n.idPaciente, m => m.idPaciente, (n, m) => new { N = n, M = m }).
                                Where(w => w.M.FechaExpdiente >= fecha1 && w.M.FechaExpdiente < fecha2 &&
                                w.M.EstatusCaptura == "Terminado" && w.M.Sucursal == item.Nombre && w.M.TipoTramite != "REVALORACIÓN" &&
                                w.N.TipoPago == "Banco Azteca LC").Count();

                            totalFooterAztecaLC += aztecaLC;
                        }
                        <span>@Html.ActionLink(aztecaLC.ToString(), "Index", new { tipoPago = "Azteca LC", sucursal = item.Nombre, fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: #2F2D6B; text-decoration: none" })</span>
                    </td>

                    @*//Aclaraciones*@
                    <td style="text-align:center">
                        @{
                            int aclaraciones = db.Cita.Join(db.Captura, n => n.idPaciente, m => m.idPaciente, (n, m) => new { N = n, M = m }).
                                Where(w => w.M.FechaExpdiente >= fecha1 && w.M.FechaExpdiente < fecha2 &&
                                w.M.EstatusCaptura == "Terminado" && w.M.Sucursal == item.Nombre && w.M.TipoTramite != "REVALORACIÓN" &&
                                w.N.Cuenta == "ACLARACIÓN").Count();

                            totalFooterAclaraciones += aclaraciones;
                        }
                        <span>@Html.ActionLink(aclaraciones.ToString(), "Index", new { Cuenta = "ACLARACIONES", sucursal = item.Nombre, fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: #2F2D6B; text-decoration: none" })</span>
                    </td>
                </tr>

            }
        }




        @*ESTOS SON LOS PACIENTES ALT EN LA TABLA*@

        @{
            foreach (var item in db.Canales.Where(w => w.NombreCanal == "IN SITU" || w.NombreCanal == "GESTOR ALT"))
            {
                <tr>
                    <td style="border-right-color: black"><b>@Html.ActionLink(item.NombreCanal, "Index", new { Canal = item.NombreCanal, fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: #2F2D6B; text-decoration: none" })</b></td>

                    @*//EPIs*@
                    <td style="text-align:center">
                        @{
                            int epis = db.PacienteESP.Where(w => w.FechaCaptura >= fecha1 && w.FechaCaptura < fecha2 &&
                                w.EstatusCaptura == "Terminado" && w.CanalTipo == item.NombreCanal && w.TipoTramite != "REVALORACIÓN").Count();

                            totalFooterEPIS += epis;

                        }
                        <span><b>@epis</b></span>
                    </td>

                    @*//Caja*@
                    <td style="text-align:center">
                        @{
                            int cuentaALT = db.PacienteESP.Where(w => w.FechaCaptura >= fecha1 && w.FechaCaptura < fecha2 &&
                                w.EstatusCaptura == "Terminado" && w.CanalTipo == item.NombreCanal && w.TipoTramite != "REVALORACIÓN" && w.Conciliado == null && w.Cuenta != "CUENTAS X COBRAR").Count();

                            int cuentaALTR = db.PacienteESP.Where(w => w.FechaCaptura >= fecha1 && w.FechaCaptura < fecha2 &&
                                w.EstatusCaptura == "Terminado" && w.CanalTipo == item.NombreCanal && w.TipoTramite != "REVALORACIÓN" && w.Conciliado != null).Count();

                            int CuentasALTP = cuentaALT - cuentaALTR;
                            totalFooterCuenta += CuentasALTP;
                        }
                        <span><b>@Html.ActionLink(CuentasALTP.ToString(), "Index", new { Canal = item.NombreCanal, fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: #2F2D6B text-decoration: none" })</b></span>
                    </td>

                    @*//Bancos*@
                    <td style="text-align:center">
                        @{
                            int Bancos = db.PacienteESP.Where(w => w.FechaCaptura >= fecha1 && w.FechaCaptura < fecha2 &&
                                w.EstatusCaptura == "Terminado" && w.CanalTipo == item.NombreCanal && w.TipoTramite != "REVALORACIÓN" && w.Conciliado != null).Count();

                            totalFooterBancos += Bancos;
                        }
                        <span><b>@Html.ActionLink(Bancos.ToString(), "Index", new { Canal = item.NombreCanal, fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: #2F2D6B text-decoration: none" })</b></span>
                    </td>

                    @*//CXC*@
                    <td style="text-align: center; border-right-color: black">
                        @{
                            int cxc = db.PacienteESP.Where(w => w.FechaCaptura >= fecha1 && w.FechaCaptura < fecha2 &&
                                w.EstatusCaptura == "Terminado" && w.CanalTipo == item.NombreCanal && w.TipoTramite != "REVALORACIÓN" &&
                                w.TipoPago == "Pendiente de Pago").Count();

                            totalFooterCXC += cxc;


                        }
                        <span><b>@Html.ActionLink(cxc.ToString(), "Index", new { tipoPago = "Pendiente de Pago", Canal = item.NombreCanal, fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: #2F2D6B; text-decoration: none" })</b></span>
                    </td>

                    @*//Conekta*@
                    <td style="text-align:center">
                        @{
                            int conekta = db.PacienteESP.Where(w => w.FechaCaptura >= fecha1 && w.FechaCaptura < fecha2 &&
                                w.EstatusCaptura == "Terminado" && w.CanalTipo == item.NombreCanal && w.TipoTramite != "REVALORACIÓN" &&
                                (w.TipoPago == "Referencia OXXO" || w.TipoPago == "Pago con Tarjeta")).Count();

                            totalFooterConekta += conekta;
                        }
                        <span>@Html.ActionLink(conekta.ToString(), "Index", new { tipoPago = "OXXO", Canal = item.NombreCanal, fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: #2F2D6B text-decoration: none" })</span>
                    </td>

                    @*//Bajio*@
                    <td style="text-align:center">
                        @{
                            int bajio = db.PacienteESP.Where(w => w.FechaCaptura >= fecha1 && w.FechaCaptura < fecha2 &&
                                w.EstatusCaptura == "Terminado" && w.CanalTipo == item.NombreCanal && w.TipoTramite != "REVALORACIÓN" &&
                                (w.TipoPago == "Referencía BanBajío" || w.TipoPago == "Referencia BanBajío")).Count();

                            int bajioR = db.PacienteESP.Where(w => w.FechaCaptura >= fecha1 && w.FechaCaptura < fecha2 &&
                                w.EstatusCaptura == "Terminado" && w.CanalTipo == item.NombreCanal && w.TipoTramite != "REVALORACIÓN" &&
                                w.TipoPago == "Transferencia vía BanBajío").Count();

                            int BajioALTP = bajio + bajioR;
                            totalFooterBajio += BajioALTP;
                        }
                        <span>@Html.ActionLink(BajioALTP.ToString(), "Index", new { tipoPago = "Bajío", Canal = item.NombreCanal, fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: #2F2D6B; text-decoration: none" })</span>
                    </td>

                    @*//Banorte*@
                    <td style="text-align:center">
                        @{
                            int banorte = db.PacienteESP.Where(w => w.FechaCaptura >= fecha1 && w.FechaCaptura < fecha2 &&
                                w.EstatusCaptura == "Terminado" && w.CanalTipo == item.NombreCanal && w.TipoTramite != "REVALORACIÓN" &&
                                w.TipoPago == "Banorte").Count();

                            totalFooterBanorte += banorte;
                        }
                        <span>@Html.ActionLink(banorte.ToString(), "Index", new { tipoPago = "Banorte", Canal = item.NombreCanal, fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: #2F2D6B; text-decoration: none" })</span>
                    </td>

                    @*//Banorte*@
                    <td style="text-align:center">
                        @{
                            int santander = db.PacienteESP.Where(w => w.FechaCaptura >= fecha1 && w.FechaCaptura < fecha2 &&
                                w.EstatusCaptura == "Terminado" && w.CanalTipo == item.NombreCanal && w.TipoTramite != "REVALORACIÓN" &&
                                w.TipoPago == "Santander").Count();

                            totalFooterSantander += santander;
                        }
                        <span>@Html.ActionLink(santander.ToString(), "Index", new { tipoPago = "Santander", Canal = item.NombreCanal, fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: #2F2D6B; text-decoration: none" })</span>
                    </td>

                    @*//BanCoppelTLS*@
                    <td style="text-align:center">
                        @{
                            int coppelTLS = db.PacienteESP.Where(w => w.FechaCaptura >= fecha1 && w.FechaCaptura < fecha2 &&
                                w.EstatusCaptura == "Terminado" && w.CanalTipo == item.NombreCanal && w.TipoTramite != "REVALORACIÓN" &&
                                w.TipoPago == "BanCoppel TLS").Count();


                            totalFooterCoppelTLS += coppelTLS;
                        }
                        <span>@Html.ActionLink(coppelTLS.ToString(), "Index", new { tipoPago = "Coppel TLS", Canal = item.NombreCanal, fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: #2F2D6B; text-decoration: none" })</span>
                    </td>

                    @*//BancoAztecaTLS*@
                    <td style="text-align:center">
                        @{
                            int aztecaTLS = db.PacienteESP.Where(w => w.FechaCaptura >= fecha1 && w.FechaCaptura < fecha2 &&
                                w.EstatusCaptura == "Terminado" && w.CanalTipo == item.NombreCanal && w.TipoTramite != "REVALORACIÓN" &&
                                w.TipoPago == "Banco Azteca TLS").Count();

                            totalFooterAztecaTLS += aztecaTLS;
                        }
                        <span>@Html.ActionLink(aztecaTLS.ToString(), "Index", new { tipoPago = "Azteca TLS", Canal = item.NombreCanal, fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: #2F2D6B; text-decoration: none" })</span>
                    </td>

                    @*//BanCoppelLC*@
                    <td style="text-align:center">
                        @{
                            int coppelLC = db.PacienteESP.Where(w => w.FechaCaptura >= fecha1 && w.FechaCaptura < fecha2 &&
                                w.EstatusCaptura == "Terminado" && w.CanalTipo == item.NombreCanal && w.TipoTramite != "REVALORACIÓN" &&
                                w.TipoPago == "BanCoppel LC").Count();

                            totalFooterCoppelLC += coppelLC;

                        }
                        <span>@Html.ActionLink(coppelLC.ToString(), "Index", new { tipoPago = "Coppel LC", Canal = item.NombreCanal, fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: #2F2D6B; text-decoration: none" })</span>
                    </td>

                    @*//BancoAztecaLC*@
                    <td style="text-align:center">
                        @{
                            int aztecaLC = db.PacienteESP.Where(w => w.FechaCaptura >= fecha1 && w.FechaCaptura < fecha2 &&
                                w.EstatusCaptura == "Terminado" && w.CanalTipo == item.NombreCanal && w.TipoTramite != "REVALORACIÓN" &&
                                w.TipoPago == "Banco Azteca LC").Count();

                            totalFooterAztecaLC += aztecaLC;

                        }
                        <span>@Html.ActionLink(aztecaLC.ToString(), "Index", new { tipoPago = "Azteca LC", Canal = item.NombreCanal, fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: #2F2D6B; text-decoration: none" })</span>
                    </td>

                    @*//Aclaraciones*@
                    <td style="text-align:center">
                        @{
                            int aclaraciones = db.PacienteESP.Where(w => w.FechaCaptura >= fecha1 && w.FechaCaptura < fecha2 &&
                                w.EstatusCaptura == "Terminado" && w.CanalTipo == item.NombreCanal && w.TipoTramite != "REVALORACIÓN" &&
                                w.TipoPago == "ACLARACIÓN").Count();

                            totalFooterAclaraciones += aclaraciones;
                        }
                        <span>@Html.ActionLink(aclaraciones.ToString(), "Index", new { cuenta = "ACLARACIONES", Canal = item.NombreCanal, fechaInicio = fecha1, fechaFinal = fecha2.AddDays(-1) }, new { style = "color: #2F2D6B; text-decoration: none" })</span>
                    </td>
                </tr>

            }
        }

        <tr>
            <td style="border-right-color: black"><b>TOTALES</b></td>
            <td style="text-align: center""><b>@totalFooterEPIS</b></td>
            <td style="text-align: center"><b>@totalFooterCuenta</b></td>
            <td style="text-align:center"><b>@totalFooterBancos</b></td>
            <td style="text-align: center; border-right-color: black"><b>@totalFooterCXC</b></td>
            <td style="text-align: center">@totalFooterConekta</td>
            <td style="text-align:center">@totalFooterBajio</td>
            <td style="text-align:center">@totalFooterBanorte</td>
            <td style="text-align:center">@totalFooterSantander</td>
            <td style="text-align:center">@totalFooterCoppelTLS</td>
            <td style="text-align:center">@totalFooterAztecaTLS</td>
            <td style="text-align:center">@totalFooterCoppelLC</td>
            <td style="text-align:center">@totalFooterAztecaLC</td>
            <td style="text-align:center">@totalFooterAclaraciones</td>
        </tr>

    </table>
</div>

@{
    totalFooterEPIS = 0;
    totalFooterCuenta = 0;
    totalFooterBancos = 0;
    totalFooterConekta = 0;
    totalFooterBajio = 0;
    totalFooterBanorte = 0;
    totalFooterCoppelTLS = 0;
    totalFooterCoppelLC = 0;
    totalFooterAztecaTLS = 0;
    totalFooterAztecaLC = 0;
    totalFooterCXC = 0;
    totalFooterAclaraciones = 0;
}

<h3 style="color: white">Cantidades</h3>
<div class="tablaScroll" style="min-height: 300px; max-height:450px">
    <table class="table  table-hover tablas table-bordered" style="color: #2F2D6B">
        <thead style="color:white">
            <tr>
                <th style="text-align:center">
                    Sucursal
                </th>
                <th style="text-align:center">
                    EPIs
                </th>
                <th style="text-align:center">
                    Conekta
                </th>
                <th style="text-align:center">
                    BanBajío
                </th>
                <th style="text-align:center">
                    Banorte
                </th>
                <th style="text-align:center">
                    Coppel TLS
                </th>
                <th style="text-align:center">
                    Azteca TLS
                </th>
                <th style="text-align:center">
                    Coppel LC
                </th>
                <th style="text-align:center">
                    Azteca LC
                </th>
                <th style="text-align:center">
                    CXC
                </th>
                <th style="text-align:center">
                    Aclaraciones
                </th>
            </tr>
        </thead>

        @{
            foreach (var item in db.Sucursales.Where(w => w.Nombre != "MIXCOAC" && w.Nombre != "IN SITU"))
            {
                <tr>
                    <td><b>@item.Nombre</b></td>
                    <td style="text-align:center">
                        @{
                            dinero = 0;

                            var epis = db.Cita.Join(db.Captura, n => n.idPaciente, m => m.idPaciente, (n, m) => new { N = n, M = m }).
                                Where(w => w.M.FechaExpdiente >= fecha1 && w.M.FechaExpdiente < fecha2 &&
                                w.M.EstatusCaptura == "Terminado" && w.M.Sucursal == item.Nombre && w.M.TipoTramite != "REVALORACIÓN");

                            foreach (var i in epis)
                            {
                                var precio = (from e in db.Referido where e.Nombre == i.N.ReferidoPor && e.Tipo == i.N.CanalTipo select e).FirstOrDefault();

                                if (i.N.TipoTramite == "AEREO")
                                {
                                    dinero += 3480;

                                    totalFooterEPIS += 3480;
                                }
                                else
                                {
                                    if (precio.PrecioNormalconIVA != null)
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormalconIVA);
                                        totalFooterEPIS += Convert.ToInt32(precio.PrecioNormalconIVA);
                                    }
                                    else
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormal);
                                        totalFooterEPIS += Convert.ToInt32(precio.PrecioNormal);
                                    }
                                }
                            }
                        }
                        @{
                            if (dinero == 0)
                            {
                                <span>-------</span>
                            }
                            else
                            {
                                <span><b>$@dinero.ToString("###,###,###,###")</b></span>
                            }
                        }
                    </td>
                    <td style="text-align:center">
                        @{
                            dinero = 0;

                            var conekta = db.Cita.Join(db.Captura, n => n.idPaciente, m => m.idPaciente, (n, m) => new { N = n, M = m }).
                                            Where(w => w.M.FechaExpdiente >= fecha1 && w.M.FechaExpdiente < fecha2 &&
                                            w.M.EstatusCaptura == "Terminado" && w.M.Sucursal == item.Nombre && w.M.TipoTramite != "REVALORACIÓN" &&
                                            (w.N.TipoPago == "Referencia OXXO" || w.N.TipoPago == "Pago con Tarjeta"));

                            foreach (var i in conekta)
                            {
                                var precio = (from e in db.Referido where e.Nombre == i.N.ReferidoPor && e.Tipo == i.N.CanalTipo select e).FirstOrDefault();

                                if (i.N.TipoTramite == "AEREO")
                                {
                                    dinero += 3480;
                                    totalFooterConekta += 3480;
                                }
                                else
                                {
                                    if (precio.PrecioNormalconIVA != null)
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormalconIVA);
                                        totalFooterConekta += Convert.ToInt32(precio.PrecioNormalconIVA);
                                    }
                                    else
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormal);
                                        totalFooterConekta += Convert.ToInt32(precio.PrecioNormal);
                                    }
                                }
                            }
                        }
                        @{
                            if (dinero == 0)
                            {
                                <span>-------</span>
                            }
                            else
                            {
                                <span>$@dinero.ToString("###,###,###,###")</span>
                            }
                        }
                    </td>
                    <td style="text-align:center">
                        @{
                            dinero = 0;

                            var bajio = db.Cita.Join(db.Captura, n => n.idPaciente, m => m.idPaciente, (n, m) => new { N = n, M = m }).
                                            Where(w => w.M.FechaExpdiente >= fecha1 && w.M.FechaExpdiente < fecha2 &&
                                            w.M.EstatusCaptura == "Terminado" && w.M.Sucursal == item.Nombre && w.M.TipoTramite != "REVALORACIÓN" &&
                                            (w.N.TipoPago == "Referencía BanBajío" || w.N.TipoPago == "Transferencia vía BanBajío" || w.N.TipoPago == "Referencia BanBajío"));

                            foreach (var i in bajio)
                            {
                                var precio = (from e in db.Referido where e.Nombre == i.N.ReferidoPor && e.Tipo == i.N.CanalTipo select e).FirstOrDefault();

                                if (i.N.TipoTramite == "AEREO")
                                {
                                    dinero += 3480;
                                    totalFooterBajio += 3480; ;
                                }
                                else
                                {
                                    if (precio.PrecioNormalconIVA != null)
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormalconIVA);
                                        totalFooterBajio += Convert.ToInt32(precio.PrecioNormalconIVA);
                                    }
                                    else
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormal);
                                        totalFooterBajio += Convert.ToInt32(precio.PrecioNormal);
                                    }
                                }
                            }
                        }
                        @{
                            if (dinero == 0)
                            {
                                <span>-------</span>
                            }
                            else
                            {
                                <span>$@dinero.ToString("###,###,###,###")</span>
                            }
                        }
                    </td>
                    <td style="text-align:center">
                        @{
                            dinero = 0;

                            var banorte = db.Cita.Join(db.Captura, n => n.idPaciente, m => m.idPaciente, (n, m) => new { N = n, M = m }).
                                            Where(w => w.M.FechaExpdiente >= fecha1 && w.M.FechaExpdiente < fecha2 &&
                                            w.M.EstatusCaptura == "Terminado" && w.M.Sucursal == item.Nombre && w.M.TipoTramite != "REVALORACIÓN" &&
                                            w.N.TipoPago == "Banorte");

                            foreach (var i in banorte)
                            {
                                var precio = (from e in db.Referido where e.Nombre == i.N.ReferidoPor && e.Tipo == i.N.CanalTipo select e).FirstOrDefault();

                                if (i.N.TipoTramite == "AEREO")
                                {
                                    dinero += 3480;
                                    totalFooterBanorte += 3480;
                                }
                                else
                                {
                                    if (precio.PrecioNormalconIVA != null)
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormalconIVA);
                                        totalFooterBanorte += Convert.ToInt32(precio.PrecioNormalconIVA);
                                    }
                                    else
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormal);
                                        totalFooterBanorte += Convert.ToInt32(precio.PrecioNormal);
                                    }
                                }
                            }
                        }
                        @{
                            if (dinero == 0)
                            {
                                <span>-------</span>
                            }
                            else
                            {
                                <span>$@dinero.ToString("###,###,###,###")</span>
                            }
                        }
                    </td>
                    <td style="text-align:center">
                        @{
                            dinero = 0;

                            var coppelTLS = db.Cita.Join(db.Captura, n => n.idPaciente, m => m.idPaciente, (n, m) => new { N = n, M = m }).
                                            Where(w => w.M.FechaExpdiente >= fecha1 && w.M.FechaExpdiente < fecha2 &&
                                            w.M.EstatusCaptura == "Terminado" && w.M.Sucursal == item.Nombre && w.M.TipoTramite != "REVALORACIÓN" &&
                                            w.N.TipoPago == "BanCoppel TLS");

                            foreach (var i in coppelTLS)
                            {
                                var precio = (from e in db.Referido where e.Nombre == i.N.ReferidoPor && e.Tipo == i.N.CanalTipo select e).FirstOrDefault();

                                if (i.N.TipoTramite == "AEREO")
                                {
                                    dinero += 3480;
                                    totalFooterCoppelTLS += 3480;

                                }
                                else
                                {
                                    if (precio.PrecioNormalconIVA != null)
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormalconIVA);
                                        totalFooterCoppelTLS += Convert.ToInt32(precio.PrecioNormalconIVA);

                                    }
                                    else
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormal);
                                        totalFooterCoppelTLS += Convert.ToInt32(precio.PrecioNormal);

                                    }
                                }
                            }
                        }
                        @{
                            if (dinero == 0)
                            {
                                <span>-------</span>
                            }
                            else
                            {
                                <span>$@dinero.ToString("###,###,###,###")</span>
                            }
                        }
                    </td>
                    <td style="text-align:center">
                        @{
                            dinero = 0;

                            var aztecaTLS = db.Cita.Join(db.Captura, n => n.idPaciente, m => m.idPaciente, (n, m) => new { N = n, M = m }).
                                            Where(w => w.M.FechaExpdiente >= fecha1 && w.M.FechaExpdiente < fecha2 &&
                                            w.M.EstatusCaptura == "Terminado" && w.M.Sucursal == item.Nombre && w.M.TipoTramite != "REVALORACIÓN" &&
                                            w.N.TipoPago == "Banco Azteca TLS");

                            foreach (var i in aztecaTLS)
                            {
                                var precio = (from e in db.Referido where e.Nombre == i.N.ReferidoPor && e.Tipo == i.N.CanalTipo select e).FirstOrDefault();

                                if (i.N.TipoTramite == "AEREO")
                                {
                                    dinero += 3480;
                                    totalFooterAztecaTLS += 3480;
                                }
                                else
                                {
                                    if (precio.PrecioNormalconIVA != null)
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormalconIVA);
                                        totalFooterAztecaTLS += Convert.ToInt32(precio.PrecioNormalconIVA);
                                    }
                                    else
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormal);
                                        totalFooterAztecaTLS += Convert.ToInt32(precio.PrecioNormal);
                                    }
                                }
                            }
                        }
                        @{
                            if (dinero == 0)
                            {
                                <span>-------</span>
                            }
                            else
                            {
                                <span>$@dinero.ToString("###,###,###,###")</span>
                            }
                        }
                    </td>
                    <td style="text-align:center">
                        @{
                            dinero = 0;

                            var coppelLC = db.Cita.Join(db.Captura, n => n.idPaciente, m => m.idPaciente, (n, m) => new { N = n, M = m }).
                                            Where(w => w.M.FechaExpdiente >= fecha1 && w.M.FechaExpdiente < fecha2 &&
                                            w.M.EstatusCaptura == "Terminado" && w.M.Sucursal == item.Nombre && w.M.TipoTramite != "REVALORACIÓN" &&
                                            w.N.TipoPago == "BanCoppel LC");

                            foreach (var i in coppelLC)
                            {
                                var precio = (from e in db.Referido where e.Nombre == i.N.ReferidoPor && e.Tipo == i.N.CanalTipo select e).FirstOrDefault();

                                if (i.N.TipoTramite == "AEREO")
                                {
                                    dinero += 3480;
                                    totalFooterCoppelLC += 3480;
                                }
                                else
                                {
                                    if (precio.PrecioNormalconIVA != null)
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormalconIVA);
                                        totalFooterCoppelLC += Convert.ToInt32(precio.PrecioNormalconIVA);
                                    }
                                    else
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormal);
                                        totalFooterCoppelLC += Convert.ToInt32(precio.PrecioNormal);
                                    }
                                }
                            }
                        }
                        @{
                            if (dinero == 0)
                            {
                                <span>-------</span>
                            }
                            else
                            {
                                <span>$@dinero.ToString("###,###,###,###")</span>
                            }
                        }
                    </td>
                    <td style="text-align:center">
                        @{
                            dinero = 0;

                            var aztecaLC = db.Cita.Join(db.Captura, n => n.idPaciente, m => m.idPaciente, (n, m) => new { N = n, M = m }).
                                            Where(w => w.M.FechaExpdiente >= fecha1 && w.M.FechaExpdiente < fecha2 &&
                                            w.M.EstatusCaptura == "Terminado" && w.M.Sucursal == item.Nombre && w.M.TipoTramite != "REVALORACIÓN" &&
                                            w.N.TipoPago == "Banco Azteca LC");

                            foreach (var i in aztecaLC)
                            {
                                var precio = (from e in db.Referido where e.Nombre == i.N.ReferidoPor && e.Tipo == i.N.CanalTipo select e).FirstOrDefault();

                                if (i.N.TipoTramite == "AEREO")
                                {
                                    dinero += 3480;
                                    totalFooterAztecaLC += 3480;
                                }
                                else
                                {
                                    if (precio.PrecioNormalconIVA != null)
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormalconIVA);
                                        totalFooterAztecaLC += Convert.ToInt32(precio.PrecioNormalconIVA);
                                    }
                                    else
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormal);
                                        totalFooterAztecaLC += Convert.ToInt32(precio.PrecioNormal);
                                    }
                                }
                            }
                        }
                        @{
                            if (dinero == 0)
                            {
                                <span>-------</span>
                            }
                            else
                            {
                                <span>$@dinero.ToString("###,###,###,###")</span>
                            }
                        }
                    </td>
                    <td style="text-align:center">
                        @{
                            dinero = 0;

                            var cxc = db.Cita.Join(db.Captura, n => n.idPaciente, m => m.idPaciente, (n, m) => new { N = n, M = m }).
                                            Where(w => w.M.FechaExpdiente >= fecha1 && w.M.FechaExpdiente < fecha2 &&
                                            w.M.EstatusCaptura == "Terminado" && w.M.Sucursal == item.Nombre && w.M.TipoTramite != "REVALORACIÓN" &&
                                            w.N.TipoPago == "Pendiente de Pago");

                            foreach (var i in cxc)
                            {
                                var precio = (from e in db.Referido where e.Nombre == i.N.ReferidoPor && e.Tipo == i.N.CanalTipo select e).FirstOrDefault();

                                if (i.N.TipoTramite == "AEREO")
                                {
                                    dinero += 3480;
                                    totalFooterCXC += 3480;
                                }
                                else
                                {
                                    if (precio.PrecioNormalconIVA != null)
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormalconIVA);
                                        totalFooterCXC += Convert.ToInt32(precio.PrecioNormalconIVA);
                                    }
                                    else
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormal);
                                        totalFooterCXC += Convert.ToInt32(precio.PrecioNormal);
                                    }
                                }
                            }
                        }
                        @{
                            if (dinero == 0)
                            {
                                <span>-------</span>
                            }
                            else
                            {
                                <span>$@dinero.ToString("###,###,###,###")</span>
                            }
                        }
                    </td>
                    <td style="text-align:center">
                        @{
                            dinero = 0;

                            var aclaraciones = db.Cita.Join(db.Captura, n => n.idPaciente, m => m.idPaciente, (n, m) => new { N = n, M = m }).
                                            Where(w => w.M.FechaExpdiente >= fecha1 && w.M.FechaExpdiente < fecha2 &&
                                            w.M.EstatusCaptura == "Terminado" && w.M.Sucursal == item.Nombre && w.M.TipoTramite != "REVALORACIÓN" &&
                                            w.N.Cuenta == "ACLARACIÓN");

                            foreach (var i in aclaraciones)
                            {
                                var precio = (from e in db.Referido where e.Nombre == i.N.ReferidoPor && e.Tipo == i.N.CanalTipo select e).FirstOrDefault();

                                if (i.N.TipoTramite == "AEREO")
                                {
                                    dinero += 3480;
                                    totalFooterAclaraciones += 3480;
                                }
                                else
                                {
                                    if (precio.PrecioNormalconIVA != null)
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormalconIVA);
                                        totalFooterAclaraciones += Convert.ToInt32(precio.PrecioNormalconIVA);
                                    }
                                    else
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormal);
                                        totalFooterAclaraciones += Convert.ToInt32(precio.PrecioNormal);
                                    }
                                }
                            }
                        }
                        @{
                            if (dinero == 0)
                            {
                                <span>-------</span>
                            }
                            else
                            {
                                <span>$@dinero.ToString("###,###,###,###")</span>
                            }
                        }
                    </td>
                </tr>

            }
        }

        @{
            foreach (var item in db.Canales.Where(w => w.NombreCanal == "IN SITU" || w.NombreCanal == "GESTOR ALT"))
            {
                <tr>
                    <td><b>@item.NombreCanal</b></td>
                    <td style="text-align:center">
                        @{
                            dinero = 0;

                            var epis = db.PacienteESP.Where(w => w.FechaCaptura >= fecha1 && w.FechaCaptura < fecha2 &&
                                w.EstatusCaptura == "Terminado" && w.CanalTipo == item.NombreCanal && w.TipoTramite != "REVALORACIÓN");

                            foreach (var i in epis)
                            {
                                var precio = (from e in db.Referido where e.Nombre == i.ReferidoPor && e.Tipo == i.CanalTipo select e).FirstOrDefault();

                                if (i.TipoTramite == "AEREO")
                                {
                                    dinero += 3480;
                                    totalFooterEPIS += 3480;
                                }
                                else
                                {
                                    if (precio.PrecioNormalconIVA != null)
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormalconIVA);
                                        totalFooterEPIS += Convert.ToInt32(precio.PrecioNormalconIVA);
                                    }
                                    else
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormal);
                                        totalFooterEPIS += Convert.ToInt32(precio.PrecioNormal);
                                    }
                                }
                            }
                        }
                        @{
                            if (dinero == 0)
                            {
                                <span>-------</span>
                            }
                            else
                            {
                                <span><b>$@dinero.ToString("###,###,###,###")</b></span>
                            }
                        }
                    </td>
                    <td style="text-align:center">
                        @{
                            dinero = 0;

                            var conekta = db.PacienteESP.Where(w => w.FechaCaptura >= fecha1 && w.FechaCaptura < fecha2 &&
                                w.EstatusCaptura == "Terminado" && w.CanalTipo == item.NombreCanal && w.TipoTramite != "REVALORACIÓN" &&
                                (w.TipoPago == "Referencia OXXO" || w.TipoPago == "Pago con Tarjeta"));

                            foreach (var i in conekta)
                            {
                                var precio = (from e in db.Referido where e.Nombre == i.ReferidoPor && e.Tipo == i.CanalTipo select e).FirstOrDefault();

                                if (i.TipoTramite == "AEREO")
                                {
                                    dinero += 3480;
                                    totalFooterConekta += 3480;
                                }
                                else
                                {
                                    if (precio.PrecioNormalconIVA != null)
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormalconIVA);
                                        totalFooterConekta += Convert.ToInt32(precio.PrecioNormalconIVA);
                                    }
                                    else
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormal);
                                        totalFooterConekta += Convert.ToInt32(precio.PrecioNormal);
                                    }
                                }
                            }
                        }
                        @{
                            if (dinero == 0)
                            {
                                <span>-------</span>
                            }
                            else
                            {
                                <span>$@dinero.ToString("###,###,###,###")</span>
                            }
                        }
                    </td>
                    <td style="text-align:center">
                        @{
                            dinero = 0;

                            var bajio = db.PacienteESP.Where(w => w.FechaCaptura >= fecha1 && w.FechaCaptura < fecha2 &&
                                w.EstatusCaptura == "Terminado" && w.CanalTipo == item.NombreCanal && w.TipoTramite != "REVALORACIÓN" &&
                                (w.TipoPago == "Referencía BanBajío" || w.TipoPago == "Transferencia vía BanBajío" || w.TipoPago == "Referencia BanBajío"));

                            foreach (var i in bajio)
                            {
                                var precio = (from e in db.Referido where e.Nombre == i.ReferidoPor && e.Tipo == i.CanalTipo select e).FirstOrDefault();

                                if (i.TipoTramite == "AEREO")
                                {
                                    dinero += 3480;
                                    totalFooterBajio += 3480;
                                }
                                else
                                {
                                    if (precio.PrecioNormalconIVA != null)
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormalconIVA);
                                        totalFooterBajio += Convert.ToInt32(precio.PrecioNormalconIVA);
                                    }
                                    else
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormal);
                                        totalFooterBajio += Convert.ToInt32(precio.PrecioNormal);
                                    }
                                }
                            }
                        }
                        @{
                            if (dinero == 0)
                            {
                                <span>-------</span>
                            }
                            else
                            {
                                <span>$@dinero.ToString("###,###,###,###")</span>
                            }
                        }
                    </td>
                    <td style="text-align:center">
                        @{
                            dinero = 0;

                            var banorte = db.PacienteESP.Where(w => w.FechaCaptura >= fecha1 && w.FechaCaptura < fecha2 &&
                                w.EstatusCaptura == "Terminado" && w.CanalTipo == item.NombreCanal && w.TipoTramite != "REVALORACIÓN" &&
                                w.TipoPago == "Banorte");

                            foreach (var i in banorte)
                            {
                                var precio = (from e in db.Referido where e.Nombre == i.ReferidoPor && e.Tipo == i.CanalTipo select e).FirstOrDefault();

                                if (i.TipoTramite == "AEREO")
                                {
                                    dinero += 3480;
                                    totalFooterBanorte += 3480;
                                }
                                else
                                {
                                    if (precio.PrecioNormalconIVA != null)
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormalconIVA);
                                        totalFooterBanorte += Convert.ToInt32(precio.PrecioNormalconIVA);
                                    }
                                    else
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormal);
                                        totalFooterBanorte += Convert.ToInt32(precio.PrecioNormal);
                                    }
                                }
                            }
                        }
                        @{
                            if (dinero == 0)
                            {
                                <span>-------</span>
                            }
                            else
                            {
                                <span>$@dinero.ToString("###,###,###,###")</span>
                            }
                        }
                    </td>
                    <td style="text-align:center">
                        @{
                            dinero = 0;

                            var coppelTLS = db.PacienteESP.Where(w => w.FechaCaptura >= fecha1 && w.FechaCaptura < fecha2 &&
                                w.EstatusCaptura == "Terminado" && w.CanalTipo == item.NombreCanal && w.TipoTramite != "REVALORACIÓN" &&
                                w.TipoPago == "BanCoppel TLS");

                            foreach (var i in coppelTLS)
                            {
                                var precio = (from e in db.Referido where e.Nombre == i.ReferidoPor && e.Tipo == i.CanalTipo select e).FirstOrDefault();

                                if (i.TipoTramite == "AEREO")
                                {
                                    dinero += 3480;
                                    totalFooterCoppelTLS += 3480;
                                }
                                else
                                {
                                    if (precio.PrecioNormalconIVA != null)
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormalconIVA);
                                        totalFooterCoppelTLS += Convert.ToInt32(precio.PrecioNormalconIVA);
                                    }
                                    else
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormal);
                                        totalFooterCoppelTLS += Convert.ToInt32(precio.PrecioNormal);
                                    }
                                }
                            }
                        }
                        @{
                            if (dinero == 0)
                            {
                                <span>-------</span>
                            }
                            else
                            {
                                <span>$@dinero.ToString("###,###,###,###")</span>
                            }
                        }
                    </td>
                    <td style="text-align:center">
                        @{
                            dinero = 0;

                            var aztecaTLS = db.PacienteESP.Where(w => w.FechaCaptura >= fecha1 && w.FechaCaptura < fecha2 &&
                                w.EstatusCaptura == "Terminado" && w.CanalTipo == item.NombreCanal && w.TipoTramite != "REVALORACIÓN" &&
                                w.TipoPago == "Banco Azteca TLS");

                            foreach (var i in aztecaTLS)
                            {
                                var precio = (from e in db.Referido where e.Nombre == i.ReferidoPor && e.Tipo == i.CanalTipo select e).FirstOrDefault();

                                if (i.TipoTramite == "AEREO")
                                {
                                    dinero += 3480;
                                    totalFooterAztecaTLS += 3480;
                                }
                                else
                                {
                                    if (precio.PrecioNormalconIVA != null)
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormalconIVA);
                                        totalFooterAztecaTLS += Convert.ToInt32(precio.PrecioNormalconIVA);
                                    }
                                    else
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormal);
                                        totalFooterAztecaTLS += Convert.ToInt32(precio.PrecioNormal);
                                    }
                                }
                            }
                        }
                        @{
                            if (dinero == 0)
                            {
                                <span>-------</span>
                            }
                            else
                            {
                                <span>$@dinero.ToString("###,###,###,###")</span>
                            }
                        }
                    </td>
                    <td style="text-align:center">
                        @{
                            dinero = 0;

                            var coppelLC = db.PacienteESP.Where(w => w.FechaCaptura >= fecha1 && w.FechaCaptura < fecha2 &&
                                w.EstatusCaptura == "Terminado" && w.CanalTipo == item.NombreCanal && w.TipoTramite != "REVALORACIÓN" &&
                                w.TipoPago == "BanCoppel LC");

                            foreach (var i in coppelLC)
                            {
                                var precio = (from e in db.Referido where e.Nombre == i.ReferidoPor && e.Tipo == i.CanalTipo select e).FirstOrDefault();

                                if (i.TipoTramite == "AEREO")
                                {
                                    dinero += 3480;
                                    totalFooterCoppelLC += 3480;
                                }
                                else
                                {
                                    if (precio.PrecioNormalconIVA != null)
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormalconIVA);
                                        totalFooterCoppelLC += Convert.ToInt32(precio.PrecioNormalconIVA);
                                    }
                                    else
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormal);
                                        totalFooterCoppelLC += Convert.ToInt32(precio.PrecioNormal);
                                    }
                                }
                            }
                        }
                        @{
                            if (dinero == 0)
                            {
                                <span>-------</span>
                            }
                            else
                            {
                                <span>$@dinero.ToString("###,###,###,###")</span>
                            }
                        }
                    </td>
                    <td style="text-align:center">
                        @{
                            dinero = 0;

                            var aztecaLC = db.PacienteESP.Where(w => w.FechaCaptura >= fecha1 && w.FechaCaptura < fecha2 &&
                                w.EstatusCaptura == "Terminado" && w.CanalTipo == item.NombreCanal && w.TipoTramite != "REVALORACIÓN" &&
                                w.TipoPago == "Banco Azteca LC");

                            foreach (var i in aztecaLC)
                            {
                                var precio = (from e in db.Referido where e.Nombre == i.ReferidoPor && e.Tipo == i.CanalTipo select e).FirstOrDefault();

                                if (i.TipoTramite == "AEREO")
                                {
                                    dinero += 3480;
                                    totalFooterAztecaLC += 3480;
                                }
                                else
                                {
                                    if (precio.PrecioNormalconIVA != null)
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormalconIVA);
                                        totalFooterAztecaLC += Convert.ToInt32(precio.PrecioNormalconIVA);
                                    }
                                    else
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormal);
                                        totalFooterAztecaLC += Convert.ToInt32(precio.PrecioNormal);
                                    }
                                }
                            }
                        }
                        @{
                            if (dinero == 0)
                            {
                                <span>-------</span>
                            }
                            else
                            {
                                <span>$@dinero.ToString("###,###,###,###")</span>
                            }
                        }
                    </td>
                    <td style="text-align:center">
                        @{
                            dinero = 0;

                            var cxc = db.PacienteESP.Where(w => w.FechaCaptura >= fecha1 && w.FechaCaptura < fecha2 &&
                                w.EstatusCaptura == "Terminado" && w.CanalTipo == item.NombreCanal && w.TipoTramite != "REVALORACIÓN" &&
                                w.TipoPago == "Pendiente de Pago");

                            foreach (var i in cxc)
                            {
                                var precio = (from e in db.Referido where e.Nombre == i.ReferidoPor && e.Tipo == i.CanalTipo select e).FirstOrDefault();

                                if (i.TipoTramite == "AEREO")
                                {
                                    dinero += 3480;
                                    totalFooterCXC += 3480;
                                }
                                else
                                {
                                    if (precio.PrecioNormalconIVA != null)
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormalconIVA);
                                        totalFooterCXC += Convert.ToInt32(precio.PrecioNormalconIVA);
                                    }
                                    else
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormal);
                                        totalFooterCXC += Convert.ToInt32(precio.PrecioNormal);
                                    }
                                }
                            }
                        }
                        @{
                            if (dinero == 0)
                            {
                                <span>-------</span>
                            }
                            else
                            {
                                <span>$@dinero.ToString("###,###,###,###")</span>
                            }
                        }
                    </td>
                    <td style="text-align:center">
                        @{
                            dinero = 0;

                            var aclaraciones = db.PacienteESP.Where(w => w.FechaCaptura >= fecha1 && w.FechaCaptura < fecha2 &&
                                w.EstatusCaptura == "Terminado" && w.CanalTipo == item.NombreCanal && w.TipoTramite != "REVALORACIÓN" &&
                                w.TipoPago == "ACLARACIÓN");

                            foreach (var i in aclaraciones)
                            {
                                var precio = (from e in db.Referido where e.Nombre == i.ReferidoPor && e.Tipo == i.CanalTipo select e).FirstOrDefault();

                                if (i.TipoTramite == "AEREO")
                                {
                                    dinero += 3480;
                                    totalFooterAclaraciones += 3480;
                                }
                                else
                                {
                                    if (precio.PrecioNormalconIVA != null)
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormalconIVA);
                                        totalFooterAclaraciones += Convert.ToInt32(precio.PrecioNormalconIVA);
                                    }
                                    else
                                    {
                                        dinero += Convert.ToInt32(precio.PrecioNormal);
                                        totalFooterAclaraciones += Convert.ToInt32(precio.PrecioNormal);
                                    }
                                }
                            }
                        }
                        @{
                            if (dinero == 0)
                            {
                                <span>-------</span>
                            }
                            else
                            {
                                <span>$@dinero.ToString("###,###,###,###")</span>
                            }
                        }
                    </td>
                </tr>

            }
        }

        <tr>
            <td><b>TOTALES</b></td>
            @{
                if (totalFooterEPIS != 0)
                {
                    <td style="text-align:center"><b>$@totalFooterEPIS.ToString("###,###,###,###")</b></td>
                }
                else
                {
                    <td style="text-align:center"><b>-----</b></td>
                }

                if (totalFooterConekta != 0)
                {
                    <td style="text-align:center"><b>$@totalFooterConekta.ToString("###,###,###,###")</b></td>
                }
                else
                {
                    <td style="text-align:center"><b>-----</b></td>
                }

                if (totalFooterBajio != 0)
                {
                    <td style="text-align:center"><b>$@totalFooterBajio.ToString("###,###,###,###")</b></td>
                }
                else
                {
                    <td style="text-align:center"><b>-----</b></td>
                }

                if (totalFooterBanorte != 0)
                {
                    <td style="text-align:center"><b>$@totalFooterBanorte.ToString("###,###,###,###")</b></td>
                }
                else
                {
                    <td style="text-align:center"><b>-----</b></td>
                }

                if (totalFooterCoppelTLS != 0)
                {
                    <td style="text-align:center"><b>$@totalFooterCoppelTLS.ToString("###,###,###,###")</b></td>
                }
                else
                {
                    <td style="text-align:center"><b>-----</b></td>
                }

                if (totalFooterAztecaTLS != 0)
                {
                    <td style="text-align:center"><b>$@totalFooterAztecaTLS.ToString("###,###,###,###")</b></td>
                }
                else
                {
                    <td style="text-align:center"><b>-----</b></td>
                }

                if (totalFooterCoppelLC != 0)
                {
                    <td style="text-align:center"><b>$@totalFooterCoppelLC.ToString("###,###,###,###")</b></td>
                }
                else
                {
                    <td style="text-align:center"><b>-----</b></td>
                }

                if (totalFooterAztecaLC != 0)
                {
                    <td style="text-align:center"><b>$@totalFooterAztecaLC.ToString("###,###,###,###")</b></td>
                }
                else
                {
                    <td style="text-align:center"><b>-----</b></td>
                }

                if (totalFooterCXC != 0)
                {
                    <td style="text-align:center"><b>$@totalFooterCXC.ToString("###,###,###,###")</b></td>
                }
                else
                {
                    <td style="text-align:center"><b>-----</b></td>
                }

                if (totalFooterAclaraciones != 0)
                {
                    <td style="text-align:center"><b>$@totalFooterAclaraciones.ToString("###,###,###,###")</b></td>
                }
                else
                {
                    <td style="text-align:center"><b>-----</b></td>
                }
            }
        </tr>

    </table>
</div>

