@*XLSX *@
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>

@{
    GMIEntities db = new GMIEntities();
    var oUser = (Usuarios)HttpContext.Current.Session["User"];
    ViewBag.Title = "Index";

    int flag = 1;

    DateTime fechaInicio = DateTime.Today;
    DateTime fechaFinal = DateTime.Today.AddDays(1);

    string sucursal = "";
    string cuenta = null;
    string canal = "";

    if (ViewBag.Fecha != null)
    {
        fechaInicio = Convert.ToDateTime(ViewBag.Fecha);
        fechaFinal = fechaInicio.AddDays(1);
    }

    if (ViewBag.Sucursal != "")
    {
        sucursal = ViewBag.Sucursal;
    }

    if (ViewBag.Canal != "")
    {
        canal = ViewBag.Canal;
    }

    string nombreExcel = "Contabilidad";

    if (ViewBag.Cuenta != "")
    {
        cuenta = ViewBag.Cuenta;
        nombreExcel = ViewBag.Cuenta;
    }


    var modelo = db.Paciente.Join(db.Cita, n => n.Folio, m => m.Folio, (n, m) => new { N = n, M = m }).
Where(s => s.M.FechaReferencia >= fechaInicio && s.M.FechaReferencia < fechaFinal
&& (s.M.Sucursal.Contains(sucursal) && s.M.CanalTipo.Contains(canal) && s.M.Cuenta == cuenta));

    var modelo1 = db.PacienteESP.Where(s => s.FechaCaptura >= fechaInicio && s.FechaCaptura < fechaFinal && (s.CanalTipo.Contains(canal) && s.Cuenta == cuenta));

}

<br />
<h2 style="color: white">Contabilidad</h2>
<br />

<form class="form-inline" method="post" enctype="multipart/form-data" action="@Url.Content("~/Contabilidad/Index")">
    <div>

        <select name="sucursal" style="font-size:2vh" class="form-control">
            @{
                if (ViewBag.Sucursal == "")
                {
                    <option value="">SUCURSAL</option>
                }
                else
                {
                    <option value="@sucursal">@sucursal</option>
                }
            }

            @{
                foreach (var item in db.Sucursales)
                {
                    <option value="@item.Nombre">@item.Nombre</option>
                }
            }
        </select>

        <select name="cuenta" style="font-size:2vh" class="form-control">
            @{
                if (ViewBag.Cuenta == null || ViewBag.Cuenta == "")
                {
                    <option value="">CUENTA</option>
                }
                else
                {
                    <option value="@cuenta">@cuenta.ToUpper()</option>
                }
            }
            <option value="BANCOS">BANCOS</option>
            <option value="ANTICIPOS">ANTICIPOS</option>
            <option value="CUENTAS X COBRAR">CUENTAS X COBRAR</option>
            <option value="ACLARACIONES">ACLARACIONES</option>
            <option value="DEVOLUCIONES">DEVOLUCIONES</option>
        </select>

        <select name="canal" style="font-size:2vh" class="form-control">
            @{
                if (ViewBag.Canal == "")
                {
                    <option value="">CANAL</option>
                }
                else
                {
                    <option value="@canal">@canal.ToUpper()</option>
                }
            }
            @{
                foreach (var item in db.Canales)
                {
                    <option value="@item.NombreCanal">@item.NombreCanal</option>
                }
            }
        </select>

        @{

            DateTime ViewBagFecha = Convert.ToDateTime(ViewBag.fecha);
            int IDia = 0;
            int IMes = 0;
            string Dia = null;
            string Mes = null;
            string Anio = null;
            string DiaMenor = null;
            string MesMenor = null;
            string SetFecha = null;

            if (ViewBag.fecha != null)
            {
                Dia = Convert.ToString(ViewBagFecha.Day);
                Mes = Convert.ToString(ViewBagFecha.Month);
                Anio = Convert.ToString(ViewBagFecha.Year);
                IDia = Convert.ToInt32(ViewBagFecha.Day);
                IMes = Convert.ToInt32(ViewBagFecha.Month);

                if (IDia < 10 && IMes < 10)
                {

                    MesMenor = "-0";
                    DiaMenor = "-0";
                    SetFecha = Anio + MesMenor + Mes + DiaMenor + Dia;

                }

                else if (IDia < 10 && IMes >= 10)

                {

                    MesMenor = "-";
                    DiaMenor = "-0";
                    SetFecha = Anio + MesMenor + Mes + DiaMenor + Dia;

                }

                else if (IMes < 10 && IDia >= 10)

                {

                    MesMenor = "-0";
                    DiaMenor = "-";
                    SetFecha = Anio + MesMenor + Mes + DiaMenor + Dia;

                }

                else

                {

                    MesMenor = "-";
                    DiaMenor = "-";
                    SetFecha = Anio + MesMenor + Mes + DiaMenor + Dia;

                }

                <input type="date" name="fecha" class="form-control" value="@SetFecha" />

            }

            else

            {

                <input type="date" name="fecha" class="form-control" value="" />

            }

        }

        <input type="submit" class="btn btn-info" value="Enviar" />
        <a href="~/Contabilidad/Index"><button type="button" class="btn btn-success">Limpiar Consulta</button></a>

    </div>


</form>

<script>

    function ExportToExcel(type, fn, dl) {
        var elt = document.getElementById('tbl_exporttable_to_xls');
        var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
        return dl ?
            XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
            XLSX.writeFile(wb, fn || ('@nombreExcel' + ' @Convert.ToDateTime(fechaInicio).ToString("dd-MM-yy").' + (type || 'xlsx')));
    }

</script>

|   <div>
        <button style="background-color:limegreen" class="btn btn-info dropdown-toggle" onclick="ExportToExcel('xlsx')">Exportar Datos a XLSX</button>
    </div>

<br />
<div class="tablaScroll">
    <table class="table  table-hover tablas" style="color: #2F2D6B">
        <thead style="color:white">
            <tr>
                <th></th>
                <th>
                    Nombre
                </th>
                <th>
                    Fecha Cita
                </th>
                <th>
                    Sucursal
                </th>
                <th>
                    Referencia
                </th><!--Referido Por(vía y canal), Tipo de pago (Conekta, BanBajio, Banco Alternativo) / Fecha de pago-->
                <th>
                    ReferidoPor
                </th>
                <th>
                    TipoPago
                </th>
                <th>
                    FechaPago
                </th>
                <th>
                    Precio
                </th>
                <th>
                    Usuario
                </th>
                <th></th>
            </tr>
        </thead>

        @{
            foreach (var item in modelo)
            {
                <tr>
                    <td>
                        @flag
                    </td>
                    <td>
                        @{
                            string[] historico = item.M.CuentaComentario != null ? item.M.CuentaComentario.Split('+') : null;
                            int flag0 = 1;

                            if (item.M.CuentaComentario == null)
                            {
                                <b>@item.N.Nombre</b>
                            }
                            else
                            {
                                <span class="field-tip">
                                    <b>@item.N.Nombre</b>
                                    <span class="tip-content">
                                        @{
                                            foreach (var i in historico)
                                            {
                                                <span>@flag0 @i</span><br />
                                                flag0++;
                                            }
                                        }
                                    </span>
                                </span>
                            }
                        }
                    </td>
                    <td>
                        @Convert.ToDateTime(item.M.FechaCita).ToString("dd-MMMM-yyyy")
                    </td>
                    <td>
                        @item.M.Sucursal
                    </td>
                    <td>
                        @item.M.Referencia
                    </td>
                    <td>
                        <span class="field-tip">
                            <b>@item.M.ReferidoPor</b>
                            <span class="tip-content">
                                Canal: @item.M.CanalTipo
                            </span>
                        </span>
                    </td>
                    <td>
                        @{
                            if (item.M.TipoPago == "Referencia OXXO" || item.M.TipoPago == "Pago con Tarjeta")
                            {
                                <span>Conekta</span>
                            }
                            else if (item.M.TipoPago == "Referencia BanBajío" || item.M.TipoPago == "Transferencia vía BanBajío")
                            {
                                <span>BanBajío</span>
                            }
                            else
                            {
                                <span>Banco Alternativo</span>
                            }
                        }
                    </td>
                    <td>
                        @Convert.ToDateTime(item.M.FechaReferencia).ToString("dd-MMMM-yyyy")
                    </td>
                    <td>
                        @{
                            if (item.M.TipoLicencia != "AEREO")
                            {
                                var costo = (from i in db.Referido where i.Nombre == item.M.ReferidoPor && i.Tipo == item.M.CanalTipo select i.PrecioNormal).FirstOrDefault();

                                <span><b>$@Convert.ToDouble(costo).ToString("####.##")</b></span>
                            }

                        }
                        @*@{
                                if (item.M.EstatusPago == "pending_payment")
                                {
                                    <span>Pendiente</span>
                                }
                                else
                                {
                                    <span>@item.M.EstatusPago</span>
                                }
                            }*@
                    </td>
                    <td>
                        @item.M.Recepcionista
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Acciones <span class="glyphicon glyphicon-triangle-bottom"></span>
                            </button>

                            <div class="dropdown-menu" style="padding:10px">
                                <a href="#" data-toggle="modal" data-target="#Efectivo_@item.M.idCita"><b>Bancos</b></a>
                                <div class="dropdown-divider"></div>
                                <a href="#" data-toggle="modal" data-target="#Anticipos_@item.M.idCita"><b>Anticipos</b></a>
                                <div class="dropdown-divider"></div>
                                <a href="#" data-toggle="modal" data-target="#CXC_@item.M.idCita"><b>CuentasXCobrar</b></a>
                                <div class="dropdown-divider"></div>
                                <a href="#" data-toggle="modal" data-target="#Aclaracion_@item.M.idCita"><b>Aclaracion</b></a>
                                <div class="dropdown-divider"></div>
                                <a href="#" data-toggle="modal" data-target="#Devoluciones_@item.M.idCita"><b>Devoluciones</b></a>
                                <div class="dropdown-divider"></div>

                            </div>

                            <!-- Efectivo -->
                            <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Contabilidad/CambiarCuenta")">
                                @Html.AntiForgeryToken()
                                <div class="modal fade" id="Efectivo_@item.M.idCita" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="exampleModalLabel"><b>¿Está seguro de mandar los datos de esta venta a BANCOS?</b></h4>
                                            </div>
                                            <div class="modal-body">
                                                <input type="hidden" name="id" value="@item.M.idCita" />
                                                <input type="hidden" name="cuenta" value="BANCOS" />
                                                <div class="form-group" style="width:60%; min-width:320px">
                                                    <label for="recipient-name" class="col-form-label">Nombre:</label>
                                                    <b>@item.N.Nombre</b><br />
                                                    <label for="recipient-name" class="col-form-label">CURP:</label>
                                                    <b>@item.N.CURP</b><br />
                                                    <label for="recipient-name" class="col-form-label">NoExpediente:</label>
                                                    <b>@item.M.NoExpediente</b><br />
                                                    <label for="recipient-name" class="col-form-label">Fecha:</label>
                                                    <b>@Convert.ToDateTime(item.M.FechaReferencia).ToString("dd-MMMM-yyyy")</b><br />
                                                    <label for="recipient-name" class="col-form-label">Sucursal:</label>
                                                    <b>@item.M.Sucursal</b><br />
                                                    <label for="recipient-name" class="col-form-label">Doctor:</label>
                                                    <b>@item.M.Doctor</b><br />
                                                    <br />
                                                    <label for="recipient-name" class="col-form-label">¿Desea agregar un comentario?:</label>
                                                    <input type="text" class="form-control" name="comentario" />
                                                    <input type="hidden" name="usuario" value="@oUser.Nombre" />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                <input type="submit" value="Enviar" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <!-- OXXO -->
                            <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Contabilidad/CambiarCuenta")">
                                @Html.AntiForgeryToken()
                                <div class="modal fade" id="Anticipos_@item.M.idCita" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="exampleModalLabel"><b>¿Está seguro de mandar los datos de esta venta a ANTICIPOS?</b></h4>
                                            </div>
                                            <div class="modal-body">
                                                <input type="hidden" name="id" value="@item.M.idCita" />
                                                <input type="hidden" name="cuenta" value="ANTICIPOS" />
                                                <div class="form-group" style="width:60%; min-width:320px">
                                                    <label for="recipient-name" class="col-form-label">Nombre:</label>
                                                    <b>@item.N.Nombre</b><br />
                                                    <label for="recipient-name" class="col-form-label">CURP:</label>
                                                    <b>@item.N.CURP</b><br />
                                                    <label for="recipient-name" class="col-form-label">NoExpediente:</label>
                                                    <b>@item.M.NoExpediente</b><br />
                                                    <label for="recipient-name" class="col-form-label">Fecha:</label>
                                                    <b>@Convert.ToDateTime(item.M.FechaReferencia).ToString("dd-MMMM-yyyy")</b><br />
                                                    <label for="recipient-name" class="col-form-label">Sucursal:</label>
                                                    <b>@item.M.Sucursal</b><br />
                                                    <label for="recipient-name" class="col-form-label">Doctor:</label>
                                                    <b>@item.M.Doctor</b><br />
                                                    <br />
                                                    <label for="recipient-name" class="col-form-label">¿Desea agregar un comentario?:</label>
                                                    <input type="text" class="form-control" name="comentario" />
                                                    <input type="hidden" name="usuario" value="@oUser.Nombre" />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                <input type="submit" value="Enviar" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <!-- Efectivo -->
                            <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Contabilidad/CambiarCuenta")">
                                @Html.AntiForgeryToken()
                                <div class="modal fade" id="CXC_@item.M.idCita" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="exampleModalLabel"><b>¿Está seguro de mandar los datos de esta venta a CUENTAS X COBRAR?</b></h4>
                                            </div>
                                            <div class="modal-body">
                                                <input type="hidden" name="id" value="@item.M.idCita" />
                                                <input type="hidden" name="cuenta" value="CUENTAS X COBRAR" />
                                                <div class="form-group" style="width:60%; min-width:320px">
                                                    <label for="recipient-name" class="col-form-label">Nombre:</label>
                                                    <b>@item.N.Nombre</b><br />
                                                    <label for="recipient-name" class="col-form-label">CURP:</label>
                                                    <b>@item.N.CURP</b><br />
                                                    <label for="recipient-name" class="col-form-label">NoExpediente:</label>
                                                    <b>@item.M.NoExpediente</b><br />
                                                    <label for="recipient-name" class="col-form-label">Fecha:</label>
                                                    <b>@Convert.ToDateTime(item.M.FechaReferencia).ToString("dd-MMMM-yyyy")</b><br />
                                                    <label for="recipient-name" class="col-form-label">Sucursal:</label>
                                                    <b>@item.M.Sucursal</b><br />
                                                    <label for="recipient-name" class="col-form-label">Doctor:</label>
                                                    <b>@item.M.Doctor</b><br />
                                                    <br />
                                                    <label for="recipient-name" class="col-form-label">¿Desea agregar un comentario?:</label>
                                                    <input type="text" class="form-control" name="comentario" />
                                                    <input type="hidden" name="usuario" value="@oUser.Nombre" />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                <input type="submit" value="Enviar" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <!-- Efectivo -->
                            <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Contabilidad/CambiarCuenta")">
                                @Html.AntiForgeryToken()
                                <div class="modal fade" id="Aclaracion_@item.M.idCita" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="exampleModalLabel"><b>¿Está seguro de mandar los datos de esta venta a ACLARACIONES?</b></h4>
                                            </div>
                                            <div class="modal-body">
                                                <input type="hidden" name="id" value="@item.M.idCita" />
                                                <input type="hidden" name="cuenta" value="ACLARACIONES" />
                                                <div class="form-group" style="width:60%; min-width:320px">
                                                    <label for="recipient-name" class="col-form-label">Nombre:</label>
                                                    <b>@item.N.Nombre</b><br />
                                                    <label for="recipient-name" class="col-form-label">CURP:</label>
                                                    <b>@item.N.CURP</b><br />
                                                    <label for="recipient-name" class="col-form-label">NoExpediente:</label>
                                                    <b>@item.M.NoExpediente</b><br />
                                                    <label for="recipient-name" class="col-form-label">Fecha:</label>
                                                    <b>@Convert.ToDateTime(item.M.FechaReferencia).ToString("dd-MMMM-yyyy")</b><br />
                                                    <label for="recipient-name" class="col-form-label">Sucursal:</label>
                                                    <b>@item.M.Sucursal</b><br />
                                                    <label for="recipient-name" class="col-form-label">Doctor:</label>
                                                    <b>@item.M.Doctor</b><br />
                                                    <br />
                                                    <label for="recipient-name" class="col-form-label">¿Desea agregar un comentario?:</label>
                                                    <input type="text" class="form-control" name="comentario" />
                                                    <input type="hidden" name="usuario" value="@oUser.Nombre" />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                <input type="submit" value="Enviar" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <!-- Efectivo -->
                            <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Contabilidad/CambiarCuenta")">
                                @Html.AntiForgeryToken()
                                <div class="modal fade" id="Devoluciones_@item.M.idCita" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="exampleModalLabel"><b>¿Está seguro de mandar los datos de esta venta DEVOLUCIONES?</b></h4>
                                            </div>
                                            <div class="modal-body">
                                                <input type="hidden" name="id" value="@item.M.idCita" />
                                                <input type="hidden" name="cuenta" value="DEVOLUCIONES" />
                                                <div class="form-group" style="width:60%; min-width:320px">
                                                    <label for="recipient-name" class="col-form-label">Nombre:</label>
                                                    <b>@item.N.Nombre</b><br />
                                                    <label for="recipient-name" class="col-form-label">CURP:</label>
                                                    <b>@item.N.CURP</b><br />
                                                    <label for="recipient-name" class="col-form-label">NoExpediente:</label>
                                                    <b>@item.M.NoExpediente</b><br />
                                                    <label for="recipient-name" class="col-form-label">Fecha:</label>
                                                    <b>@Convert.ToDateTime(item.M.FechaReferencia).ToString("dd-MMMM-yyyy")</b><br />
                                                    <label for="recipient-name" class="col-form-label">Sucursal:</label>
                                                    <b>@item.M.Sucursal</b><br />
                                                    <label for="recipient-name" class="col-form-label">Doctor:</label>
                                                    <b>@item.M.Doctor</b><br />
                                                    <br />
                                                    <label for="recipient-name" class="col-form-label">¿Desea agregar un comentario?:</label>
                                                    <input type="text" class="form-control" name="comentario" />
                                                    <input type="hidden" name="usuario" value="@oUser.Nombre" />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                <input type="submit" value="Enviar" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </td>
                </tr>
                flag++;
            }
        }

        @{
            foreach (var item in modelo1)
            {
                <tr>
                    <td>
                        @flag
                    </td>
                    <td>
                        @{
                            string[] historico = item.CuentaComentario != null ? item.CuentaComentario.Split('+') : null;
                            int flag0 = 1;

                            if (item.CuentaComentario == null)
                            {
                                <b>@item.Nombre</b>
                            }
                            else
                            {
                                <span class="field-tip">
                                    <b>@item.Nombre</b>
                                    <span class="tip-content">
                                        @{
                                            foreach (var i in historico)
                                            {
                                                <span>@flag0 @i</span><br />
                                                flag0++;
                                            }
                                        }
                                    </span>
                                </span>
                            }
                        }
                    </td>
                    <td>
                        @Convert.ToDateTime(item.FechaCaptura).ToString("dd-MMMM-yyyy")
                    </td>
                    <td>
                        N/A
                    </td>
                    <td>
                        N/A
                    </td>
                    <td>
                        <span class="field-tip">
                            <b>@item.ReferidoPor</b>
                            <span class="tip-content">
                                Canal: @item.CanalTipo
                            </span>
                        </span>
                    </td>
                    <td>
                        N/A
                    </td>
                    <td>
                        @Convert.ToDateTime(item.FechaSolicitud).ToString("dd-MMMM-yyyy")
                    </td>
                    <td>
                        @{
                            if (item.TipoLicencia != "AEREO")
                            {
                                var costo = (from i in db.Referido where i.Nombre == item.ReferidoPor && i.Tipo == item.CanalTipo select i.PrecioNormal).FirstOrDefault();

                                <span><b>$@Convert.ToDouble(costo).ToString("####.##")</b></span>
                            }

                        }
                    </td>
                    <td>
                        @item.Solicita
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Acciones <span class="glyphicon glyphicon-triangle-bottom"></span>
                            </button>

                            <div class="dropdown-menu" style="padding:10px">
                                <a href="#" data-toggle="modal" data-target="#Efectivo1_@item.idPacienteESP"><b>Bancos</b></a>
                                <div class="dropdown-divider"></div>
                                <a href="#" data-toggle="modal" data-target="#Anticipos1_@item.idPacienteESP"><b>Anticipos</b></a>
                                <div class="dropdown-divider"></div>
                                <a href="#" data-toggle="modal" data-target="#CXC1_@item.idPacienteESP"><b>CuentasXCobrar</b></a>
                                <div class="dropdown-divider"></div>
                                <a href="#" data-toggle="modal" data-target="#Aclaracion1_@item.idPacienteESP"><b>Aclaracion</b></a>
                                <div class="dropdown-divider"></div>
                                <a href="#" data-toggle="modal" data-target="#Devoluciones1_@item.idPacienteESP"><b>Devoluciones</b></a>
                                <div class="dropdown-divider"></div>

                            </div>

                            <!-- Efectivo -->
                            <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Contabilidad/CambiarCuentaALT")">
                                @Html.AntiForgeryToken()
                                <div class="modal fade" id="Efectivo1_@item.idPacienteESP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="exampleModalLabel"><b>¿Está seguro de mandar los datos de esta venta a BANCOS?</b></h4>
                                            </div>
                                            <div class="modal-body">
                                                <input type="hidden" name="id" value="@item.idPacienteESP" />
                                                <input type="hidden" name="cuenta" value="BANCOS" />
                                                <div class="form-group" style="width:60%; min-width:320px">
                                                    <label for="recipient-name" class="col-form-label">Nombre:</label>
                                                    <b>@item.Nombre</b><br />
                                                    <label for="recipient-name" class="col-form-label">CURP:</label>
                                                    <b>@item.CURP</b><br />
                                                    <label for="recipient-name" class="col-form-label">NoExpediente:</label>
                                                    <b>@item.NoExpediente</b><br />
                                                    <label for="recipient-name" class="col-form-label">Fecha:</label>
                                                    <b>@Convert.ToDateTime(item.FechaCaptura).ToString("dd-MMMM-yyyy")</b><br />
                                                    <label for="recipient-name" class="col-form-label">Doctor:</label>
                                                    <b>@item.Doctor</b><br />
                                                    <br />
                                                    <label for="recipient-name" class="col-form-label">¿Desea agregar un comentario?:</label>
                                                    <input type="text" class="form-control" name="comentario" />
                                                    <input type="hidden" name="usuario" value="@oUser.Nombre" />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                <input type="submit" value="Enviar" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <!-- OXXO -->
                            <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Contabilidad/CambiarCuentaALT")">
                                @Html.AntiForgeryToken()
                                <div class="modal fade" id="Anticipos1_@item..idPacienteESP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="exampleModalLabel"><b>¿Está seguro de mandar los datos de esta venta a ANTICIPOS?</b></h4>
                                            </div>
                                            <div class="modal-body">
                                                <input type="hidden" name="id" value="@item.idPacienteESP" />
                                                <input type="hidden" name="cuenta" value="ANTICIPOS" />
                                                <div class="form-group" style="width:60%; min-width:320px">
                                                    <label for="recipient-name" class="col-form-label">Nombre:</label>
                                                    <b>@item.Nombre</b><br />
                                                    <label for="recipient-name" class="col-form-label">CURP:</label>
                                                    <b>@item.CURP</b><br />
                                                    <label for="recipient-name" class="col-form-label">NoExpediente:</label>
                                                    <b>@item.NoExpediente</b><br />
                                                    <label for="recipient-name" class="col-form-label">Fecha:</label>
                                                    <b>@Convert.ToDateTime(item.FechaCaptura).ToString("dd-MMMM-yyyy")</b><br />
                                                    <label for="recipient-name" class="col-form-label">Doctor:</label>
                                                    <b>@item.Doctor</b><br />
                                                    <br />
                                                    <label for="recipient-name" class="col-form-label">¿Desea agregar un comentario?:</label>
                                                    <input type="text" class="form-control" name="comentario" />
                                                    <input type="hidden" name="usuario" value="@oUser.Nombre" />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                <input type="submit" value="Enviar" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <!-- Efectivo -->
                            <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Contabilidad/CambiarCuentaALT")">
                                @Html.AntiForgeryToken()
                                <div class="modal fade" id="CXC1_@item.idPacienteESP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="exampleModalLabel"><b>¿Está seguro de mandar los datos de esta venta a CUENTAS X COBRAR?</b></h4>
                                            </div>
                                            <div class="modal-body">
                                                <input type="hidden" name="id" value="@item.idPacienteESP" />
                                                <input type="hidden" name="cuenta" value="CUENTAS X COBRAR" />
                                                <div class="form-group" style="width:60%; min-width:320px">
                                                    <label for="recipient-name" class="col-form-label">Nombre:</label>
                                                    <b>@item.Nombre</b><br />
                                                    <label for="recipient-name" class="col-form-label">CURP:</label>
                                                    <b>@item.CURP</b><br />
                                                    <label for="recipient-name" class="col-form-label">NoExpediente:</label>
                                                    <b>@item.NoExpediente</b><br />
                                                    <label for="recipient-name" class="col-form-label">Fecha:</label>
                                                    <b>@Convert.ToDateTime(item.FechaCaptura).ToString("dd-MMMM-yyyy")</b><br />
                                                    <label for="recipient-name" class="col-form-label">Doctor:</label>
                                                    <b>@item.Doctor</b><br />
                                                    <br />
                                                    <label for="recipient-name" class="col-form-label">¿Desea agregar un comentario?:</label>
                                                    <input type="text" class="form-control" name="comentario" />
                                                    <input type="hidden" name="usuario" value="@oUser.Nombre" />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                <input type="submit" value="Enviar" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <!-- Efectivo -->
                            <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Contabilidad/CambiarCuentaALT")">
                                @Html.AntiForgeryToken()
                                <div class="modal fade" id="Aclaracion1_@item.idPacienteESP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="exampleModalLabel"><b>¿Está seguro de mandar los datos de esta venta a ACLARACIONES?</b></h4>
                                            </div>
                                            <div class="modal-body">
                                                <input type="hidden" name="id" value="@item.idPacienteESP" />
                                                <input type="hidden" name="cuenta" value="ACLARACIONES" />
                                                <div class="form-group" style="width:60%; min-width:320px">
                                                    <label for="recipient-name" class="col-form-label">Nombre:</label>
                                                    <b>@item.Nombre</b><br />
                                                    <label for="recipient-name" class="col-form-label">CURP:</label>
                                                    <b>@item.CURP</b><br />
                                                    <label for="recipient-name" class="col-form-label">NoExpediente:</label>
                                                    <b>@item.NoExpediente</b><br />
                                                    <label for="recipient-name" class="col-form-label">Fecha:</label>
                                                    <b>@Convert.ToDateTime(item.FechaCaptura).ToString("dd-MMMM-yyyy")</b><br />
                                                    <label for="recipient-name" class="col-form-label">Doctor:</label>
                                                    <b>@item.Doctor</b><br />
                                                    <br />
                                                    <label for="recipient-name" class="col-form-label">¿Desea agregar un comentario?:</label>
                                                    <input type="text" class="form-control" name="comentario" />
                                                    <input type="hidden" name="usuario" value="@oUser.Nombre" />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                <input type="submit" value="Enviar" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <!-- Efectivo -->
                            <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Contabilidad/CambiarCuentaALT")">
                                @Html.AntiForgeryToken()
                                <div class="modal fade" id="Devoluciones1_@item.idPacienteESP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="exampleModalLabel"><b>¿Está seguro de mandar los datos de esta venta a DEVOLUCIONES?</b></h4>
                                            </div>
                                            <div class="modal-body">
                                                <input type="hidden" name="id" value="@item.idPacienteESP" />
                                                <input type="hidden" name="cuenta" value="DEVOLUCIONES" />
                                                <div class="form-group" style="width:60%; min-width:320px">
                                                    <label for="recipient-name" class="col-form-label">Nombre:</label>
                                                    <b>@item.Nombre</b><br />
                                                    <label for="recipient-name" class="col-form-label">CURP:</label>
                                                    <b>@item.CURP</b><br />
                                                    <label for="recipient-name" class="col-form-label">NoExpediente:</label>
                                                    <b>@item.NoExpediente</b><br />
                                                    <label for="recipient-name" class="col-form-label">Fecha:</label>
                                                    <b>@Convert.ToDateTime(item.FechaCaptura).ToString("dd-MMMM-yyyy")</b><br />
                                                    <label for="recipient-name" class="col-form-label">Doctor:</label>
                                                    <b>@item.Doctor</b><br />
                                                    <br />
                                                    <label for="recipient-name" class="col-form-label">¿Desea agregar un comentario?:</label>
                                                    <input type="text" class="form-control" name="comentario" />
                                                    <input type="hidden" name="usuario" value="@oUser.Nombre" />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                <input type="submit" value="Enviar" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </td>
                </tr>
                flag++;
            }
        }

    </table>
</div>

@*Tabla Invisible*@

<div class="tablaScroll" style="display: none">
    <table id="tbl_exporttable_to_xls" class="table  table-hover tablas" style="color: #2F2D6B; display: none">
        <thead style="color:white">
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Fecha Cita
                </th>
                <th>
                    Sucursal
                </th>
                <th>
                    Referencia
                </th><!--Referido Por(vía y canal), Tipo de pago (Conekta, BanBajio, Banco Alternativo) / Fecha de pago-->
                <th>
                    ReferidoPor
                </th>
                <th>
                    TipoPago
                </th>
                <th>
                    FechaPago
                </th>
                <th>
                    Precio
                </th>
                <th>
                    Usuario
                </th>
            </tr>
        </thead>

        @{
            foreach (var item in modelo)
            {
                <tr>
                    <td>
                        @{
                            string[] historico = item.M.CuentaComentario != null ? item.M.CuentaComentario.Split('+') : null;
                            int flag0 = 1;

                            if (item.M.CuentaComentario == null)
                            {
                                <b>@item.N.Nombre</b>
                            }
                            else
                            {
                                <span class="field-tip">
                                    <b>@item.N.Nombre</b>
                                    <span class="tip-content">
                                        @{
                                            foreach (var i in historico)
                                            {
                                                <span>@flag0 @i</span><br />
                                                flag0++;
                                            }
                                        }
                                    </span>
                                </span>
                            }
                        }
                    </td>
                    <td>
                        @Convert.ToDateTime(item.M.FechaCita).ToString("dd-MMMM-yyyy")
                    </td>
                    <td>
                        @item.M.Sucursal
                    </td>
                    <td>
                        @item.M.Referencia
                    </td>
                    <td>
                        <span class="field-tip">
                            <b>@item.M.ReferidoPor</b>
                            <span class="tip-content">
                                Canal: @item.M.CanalTipo
                            </span>
                        </span>
                    </td>
                    <td>
                        @{
                            if (item.M.TipoPago == "Referencia OXXO" || item.M.TipoPago == "Pago con Tarjeta")
                            {
                                <span>Conekta</span>
                            }
                            else if (item.M.TipoPago == "Referencia BanBajío" || item.M.TipoPago == "Transferencia vía BanBajío")
                            {
                                <span>BanBajío</span>
                            }
                            else
                            {
                                <span>Banco Alternativo</span>
                            }
                        }
                    </td>
                    <td>
                        @Convert.ToDateTime(item.M.FechaReferencia).ToString("dd-MMMM-yyyy")
                    </td>
                    <td>
                        @{
                            if (item.M.TipoLicencia != "AEREO")
                            {
                                var costo = (from i in db.Referido where i.Nombre == item.M.ReferidoPor && i.Tipo == item.M.CanalTipo select i.PrecioNormal).FirstOrDefault();

                                <span><b>$@Convert.ToDouble(costo).ToString("####.##")</b></span>
                            }

                        }
                        @*@{
                                if (item.M.EstatusPago == "pending_payment")
                                {
                                    <span>Pendiente</span>
                                }
                                else
                                {
                                    <span>@item.M.EstatusPago</span>
                                }
                            }*@
                    </td>
                    <td>
                        @item.M.Recepcionista
                    </td>
                    
                </tr>
            }
        }

        @{
            foreach (var item in modelo1)
            {
                <tr>
                    <td>
                        @{
                            string[] historico = item.CuentaComentario != null ? item.CuentaComentario.Split('+') : null;
                            int flag0 = 1;

                            if (item.CuentaComentario == null)
                            {
                                <b>@item.Nombre</b>
                            }
                            else
                            {
                                <span class="field-tip">
                                    <b>@item.Nombre</b>
                                    <span class="tip-content">
                                        @{
                                            foreach (var i in historico)
                                            {
                                                <span>@flag0 @i</span><br />
                                                flag0++;
                                            }
                                        }
                                    </span>
                                </span>
                            }
                        }
                    </td>
                    <td>
                        @Convert.ToDateTime(item.FechaCaptura).ToString("dd-MMMM-yyyy")
                    </td>
                    <td>
                        N/A
                    </td>
                    <td>
                        N/A
                    </td>
                    <td>
                        <span class="field-tip">
                            <b>@item.ReferidoPor</b>
                            <span class="tip-content">
                                Canal: @item.CanalTipo
                            </span>
                        </span>
                    </td>
                    <td>
                        N/A
                    </td>
                    <td>
                        @Convert.ToDateTime(item.FechaSolicitud).ToString("dd-MMMM-yyyy")
                    </td>
                    <td>
                        @{
                            if (item.TipoLicencia != "AEREO")
                            {
                                var costo = (from i in db.Referido where i.Nombre == item.ReferidoPor && i.Tipo == item.CanalTipo select i.PrecioNormal).FirstOrDefault();

                                <span><b>$@Convert.ToDouble(costo).ToString("####.##")</b></span>
                            }

                        }
                    </td>
                    <td>
                        @item.Solicita
                    </td>                    
                </tr>
            }
        }

    </table>
</div>


