@model SCT_iCare.CheckupEPI

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CheckupEPI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreEPI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreEPI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreArchivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreArchivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoFolio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoFolio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctores.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctores.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sucursales.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sucursales.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idEPI }) |
    @Html.ActionLink("Back to List", "Index")
</p>
