@model SCT_iCare.Solicitudes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Solicitudes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaSolicitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaSolicitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferenciaOXXO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferenciaOXXO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferenciaSPEI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferenciaSPEI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOrden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOrden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TerminacionTarjeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TerminacionTarjeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoAutorizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoAutorizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subtotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comision.idComision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comision.idComision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consultorios.NombreDoctor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consultorios.NombreDoctor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstatusSolicitud.Estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstatusSolicitud.Estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetodoPago.MetodoPago1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetodoPago.MetodoPago1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Productos.NombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productos.NombreProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoTarjeta.TipoTarjeta1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoTarjeta.TipoTarjeta1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idSolicitud }) |
    @Html.ActionLink("Back to List", "Index")
</p>
