@*XLSX*@
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>

@{
    ViewBag.Title = "TablaMetas";

    GMIEntities db = new GMIEntities();

    var oUser = (Usuarios)HttpContext.Current.Session["User"];

    var referido = db.Referido.OrderBy(o => o.Tipo).ThenBy(t => t.Nombre);

    int flag = 1;

    int diaCorrienteHeader = 1;
    int diaCorrienteRow = 1;

    int diaMes = DateTime.Today.Day;

    int episTotal = 0;
    int pausaTotal = 0;
    int dictamenTotal = 0;

    int diferenciaTotal = 0;

    System.Globalization.CultureInfo norwCulture = System.Globalization.CultureInfo.CreateSpecificCulture("es");
    System.Globalization.Calendar cal = norwCulture.Calendar;
    int semana = cal.GetWeekOfYear(DateTime.Today, norwCulture.DateTimeFormat.CalendarWeekRule, norwCulture.DateTimeFormat.FirstDayOfWeek);

    int dia1 = 0;
    DateTime diaPrimero = new DateTime(DateTime.Today.Year, 1, 1);
    DateTime diaUltimo = diaPrimero.AddYears(1).AddDays(-1);

    DateTime fechaInicio = diaPrimero;
    DateTime fechaFinal = new DateTime();

    for (int i = 1; i <= 52; i++)
    {
        if (i == semana + 2)
        {
            break;
        }

        int diaSemana = Convert.ToInt32(fechaInicio.DayOfWeek);

        for (int n = diaSemana; n <= 7; n++)
        {
            dia1++;
            //if(n == 1)
            //{
            //    fechaInicio = diaPrimero.AddDays(dia1);
            //}
            if (n == 7)
            {
                fechaFinal = diaPrimero.AddDays(dia1);
                fechaInicio = fechaFinal.AddDays(-7);
            }
        }


    }
}
<br />
<h2 style="color:white">Lista de Referidos</h2>
<br />

@{
    if (oUser.Nombre != "José Luis Mora")
    {
        <form class="form-inline" method="post" enctype="multipart/form-data" action="@Url.Content("~/Admin/TablaMetas")">
            <div>

                <select name="gestor" style="font-size:2vh" class="form-control">
                    <option>Seleccionar</option>
                    <option value="Diarias">METAS DIARIAS</option>
                    <option value="Semanales">METAS SEMANALES</option>
                    <option value="Sucursales">SUCURSALES</option>
                    @*<option value="CallCenter">CALL CENTER</option>
                        <option value="Gestores">GESTORES</option>*@
                    <option value="Alternativos">ACUMULADO ALT</option>
                    <option value="Comparacion">COMPARACIÓN</option>
                    <option value="Doctores">DOCTORES</option>
                    @{
                        if (oUser.Nombre == "Jesús Zenteno" || oUser.Nombre == "Jorge Rodriguez" || oUser.Nombre == "Administrador" || oUser.Nombre == "Ángel Muñoz")
                        {
                            <option disabled>-------------------------</option>
                            <option value="Metas">ACTUALIZAR METAS</option>
                            <option value="Precios">ACTUALIZAR PRECIOS</option>
                        }
                    }
                </select>
                @*<input type="month" class="form-control" />*@
                <input type="submit" class="btn btn-info" value="Enviar" />
            </div>
        </form>
    }
}



<script>

    function ExportToExcel(type, fn, dl) {
        var elt = document.getElementById('tbl_exporttable_to_xls');
        var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
        return dl ?
            XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
            XLSX.writeFile(wb, fn || ('Actualizar Precios.' + (type || 'xlsx')));
    }

</script>

<br />

<div>
    <button style="background-color:limegreen" class="btn btn-info dropdown-toggle" onclick="ExportToExcel('xlsx')">Exportar Datos a XLSX</button>
</div>

<br />

<div class="tablaScroll" style="max-width:700px">
    <table class="table  table-bordered table-hover tablas" style="color: #2F2D6B">
        <thead>
            <tr style="color:white">
                <th>
                    <b>Referido</b>
                </th>
                <th>
                    Canal
                </th>
                <th>
                    Precio sin IVA
                </th>
                <th>
                    Precio con IVA
                </th>
                <th></th>
            </tr>
        </thead>


        @foreach (var item in referido)
        {

            <tr @*style="border-top-color: black; border-top-width:2px"*@>
                <td class="bg-info">
                    <b>@item.Nombre</b>
                </td>
                <td>
                    @item.Tipo
                </td>
                <td>

                    @{
                        string[] historico = item.HistorialPrecios != null ? item.HistorialPrecios.Split('+') : null;
                        int flag0 = 1;

                        if (item.HistorialPrecios == null)
                        {
                            <b>$@item.PrecioNormal</b>
                        }
                        else
                        {
                            <span class="field-tip">
                                <b>$@item.PrecioNormal</b>
                                <span class="tip-content">
                                    @{
                                        foreach (var i in historico)
                                        {
                                            <span>@flag0 @i</span><br />
                                            flag0++;
                                        }
                                    }
                                </span>
                            </span>
                        }
                    }
                </td>
                <td>

                    @{
                        string[] historico1 = item.HistorialPrecios != null ? item.HistorialPrecios.Split('+') : null;
                        int flag01 = 1;

                        if (item.HistorialPrecios == null)
                        {
                            <b>$@item.PrecioNormalconIVA</b>
                        }
                        else
                        {
                            <span class="field-tip">
                                @{ 
                                    if (item.PrecioNormalconIVA == null || item.PrecioNormalconIVA == "0")
                                    {
                                      <b>$</b>
                                    }

                                    else
                                    { 
                                    
                                      <b>$@item.PrecioNormalconIVA</b>

                                    }

                                }
                                <span class="tip-content">
                                    @{
                                        foreach (var i in historico1)
                                        {
                                            <span>@flag01 @i</span><br />
                                            flag01++;
                                        }
                                    }
                                </span>
                            </span>
                        }
                    }
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#metasCanal_@item.idReferido">Actualizar Precio</button>

                    <!-- Modal -->
                    <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Admin/EditarPrecios")">
                        <div class="modal fade" id="metasCanal_@item.idReferido" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header" style="background-color:aquamarine">
                                        <h3 class="modal-title" id="exampleModalLabel"><span class="glyphicon glyphicon-file"></span> &nbsp; &nbsp;Editar Precio</h3>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="recipient-name" class="col-form-label">Ingrese los nuevos precios para @item.Nombre:</label>
                                            <br />
                                            <label for="recipient-name" class="col-form-label">Precio sin IVA:</label>
                                            <input type="number" class="form-control" id="fecha" name="precio" placeholder="@item.PrecioNormal">
                                            <label for="recipient-name" class="col-form-label">Precio con IVA:</label>
                                            <input type="number" class="form-control" id="fecha" name="precioIVA" placeholder="@item.PrecioNormalconIVA">
                                            <input type="hidden" value="@item.idReferido" name="id" />
                                            <input type="hidden" value="@oUser.Nombre" name="usuario" />
                                        </div>
                                        <div class="form-group">

                                            @{
                                                string[] historicoPrecios = item.HistorialPrecios != null ? item.HistorialPrecios.Split('+') : null;
                                                int flag00 = 1;

                                                if (historicoPrecios != null)
                                                {
                                                    <h4>Histórico de precios </h4>

                                                    foreach (var i in historicoPrecios)
                                                    {
                                                        <span>@flag00 @i</span><br />
                                                        flag00++;
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        <input type="submit" value="Enviar" class="btn btn-primary" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </td>
            </tr>

            flag += 1;

        }

    </table>
</div>


<div class="tablaScroll" style="max-width:700px">
    <table id="tbl_exporttable_to_xls" class="table  table-bordered table-hover tablas" style="color: #2F2D6B; display: none">
        <thead>
            <tr style="color:white">
                <th>
                    <b>Referido</b>
                </th>
                <th>
                    Canal
                </th>
                <th>
                    Precio sin IVA
                </th>
                <th>
                    Precio con IVA
                </th>
            </tr>
        </thead>


        @foreach (var item in referido)
        {

            <tr @*style="border-top-color: black; border-top-width:2px"*@>
                <td class="bg-info">
                    <b>@item.Nombre</b>
                </td>
                <td>
                    @item.Tipo
                </td>
                <td>

                    @{
                        string[] historico = item.HistorialPrecios != null ? item.HistorialPrecios.Split('+') : null;
                        int flag0 = 1;

                        if (item.HistorialPrecios == null)
                        {
                            <b>$@item.PrecioNormal</b>
                        }
                        else
                        {
                            <span class="field-tip">
                                <b>$@item.PrecioNormal</b>
                                <span class="tip-content">
                                    @{
                                        foreach (var i in historico)
                                        {
                                            <span>@flag0 @i</span><br />
                                            flag0++;
                                        }
                                    }
                                </span>
                            </span>
                        }
                    }
                </td>
                <td>

                    @{
                        string[] historico1 = item.HistorialPrecios != null ? item.HistorialPrecios.Split('+') : null;
                        int flag01 = 1;

                        if (item.HistorialPrecios == null)
                        {
                            <b>$@item.PrecioNormalconIVA</b>
                        }
                        else
                        {
                            <span class="field-tip">
                                <b>$@item.PrecioNormalconIVA</b>
                                <span class="tip-content">
                                    @{
                                        foreach (var i in historico1)
                                        {
                                            <span>@flag01 @i</span><br />
                                            flag01++;
                                        }
                                    }
                                </span>
                            </span>
                        }
                    }
                </td>
            </tr>

            flag += 1;

        }

    </table>
</div>










