
@{
    ViewBag.Title = "Administrador";

    GMIEntities db = new GMIEntities();

    var sucursalesLista = from s in db.Sucursales select s;

    int diaHoy = DateTime.Now.Day;
    int mesHoy = DateTime.Now.Month;
    int anioHoy = DateTime.Now.Year;

    DateTime dateToday = new DateTime(anioHoy, mesHoy, diaHoy);

    int diaManana = DateTime.Now.AddDays(1).Day;
    int mesManana = DateTime.Now.AddDays(1).Month;
    int anioManana = DateTime.Now.AddDays(1).Year;

    DateTime dateTomorrow = new DateTime(anioManana, mesManana, diaManana);

    var citasHoy = (from c in db.Cita select c).Where(w => w.FechaCita >= dateToday && w.FechaCita < dateTomorrow);
    int citasHoyConteo = (from c in db.Cita select c).Where(w => w.FechaCita >= dateToday && w.FechaCita < dateTomorrow).Count();

    var episHoy = (from c in db.Captura select c).Where(w => w.FechaExpdiente >= dateToday && w.FechaExpdiente < dateTomorrow);
    int episHoyConteo = (from c in db.Captura select c).Where(w => w.FechaExpdiente >= dateToday && w.FechaExpdiente < dateTomorrow).Count();

    var dictamenHoy = (from c in db.Captura select c).Where(w => w.FechaExpdiente >= dateToday && w.FechaExpdiente < dateTomorrow && w.EstatusCaptura == "Terminado");
    int dictamenHoyConteo = (from c in db.Captura select c).Where(w => w.FechaExpdiente >= dateToday && w.FechaExpdiente < dateTomorrow && w.EstatusCaptura == "Terminado").Count();

    var enProcesoHoy = (from c in db.Captura select c).Where(w => w.FechaExpdiente >= dateToday && w.FechaExpdiente < dateTomorrow && (w.EstatusCaptura == "En captura..." || w.EstatusCaptura == "No iniciado"));
    int enProcesoHoyConteo = (from c in db.Captura select c).Where(w => w.FechaExpdiente >= dateToday && w.FechaExpdiente < dateTomorrow && (w.EstatusCaptura == "En captura..." || w.EstatusCaptura == "No iniciado")).Count();

    var pendientesHoy = (from c in db.Captura select c).Where(w => w.FechaExpdiente >= dateToday && w.FechaExpdiente < dateTomorrow && w.EstatusCaptura == "Pendiente");
    int pendientesHoyConteo = (from c in db.Captura select c).Where(w => w.FechaExpdiente >= dateToday && w.FechaExpdiente < dateTomorrow && w.EstatusCaptura == "Pendiente").Count();
}

<br />

<h3 style="color:white" class="text-center">Administrador </h3>

<br />

<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-warning boton-transparenteIndicadorAz botonesGral col-md-4" data-toggle="modal" data-target="#citasHoy" style="color:white">
    <h4><span class="glyphicon glyphicon-list-alt"></span> &nbsp; &nbsp;Citas Hoy: <b>@citasHoyConteo</b></h4>
</button>

<!-- Modal -->
<div class="modal fade" id="citasHoy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:aquamarine">
                <h3 class="modal-title" id="exampleModalLabel"><span class="glyphicon glyphicon-list-alt"></span> &nbsp; &nbsp;Citas el día de hoy: <b>@citasHoyConteo</b></h3>
            </div>
            <div class="modal-body">
                @{
                    foreach (var item in sucursalesLista)
                    {
                        var elemento = (from e in db.Cita where e.Sucursal == item.Nombre && e.FechaCita >= dateToday && e.FechaCita < dateTomorrow select e).Count();

                        <h4><b>@item.Nombre:</b> @elemento</h4>
                    }
                }
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-warning boton-transparenteIndicadorAz botonesGral col-md-4" data-toggle="modal" data-target="#episHoy" style="color:white">
    <h4><span class="glyphicon glyphicon-duplicate"></span> &nbsp; &nbsp;EPIs Hoy: <b>@episHoyConteo</b></h4>
</button>

<!-- Modal -->
<div class="modal fade" id="episHoy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:aquamarine">
                <h3 class="modal-title" id="exampleModalLabel"><span class="glyphicon glyphicon-duplicate"></span> &nbsp; &nbsp;EPIs el día de hoy: <b>@episHoyConteo</b></h3>
            </div>
            <div class="modal-body">
                @{
                    foreach (var item in sucursalesLista)
                    {
                        var elemento = (from e in db.Captura where e.Sucursal == item.Nombre && e.FechaExpdiente >= dateToday && e.FechaExpdiente < dateTomorrow select e).Count();

                        <h4><b>@item.Nombre:</b> @elemento</h4>
                    }
                }
            </div>
        </div>
    </div>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-warning boton-transparenteIndicadorAz botonesGral col-md-4" data-toggle="modal" data-target="#dictamenesHoy" style="color:white">
    <h4><span class="glyphicon glyphicon-file"></span> &nbsp; &nbsp;Dictámenes Hoy: <b>@dictamenHoyConteo</b></h4>
</button>

<!-- Modal -->
<div class="modal fade" id="dictamenesHoy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:aquamarine">
                <h3 class="modal-title" id="exampleModalLabel"><span class="glyphicon glyphicon-file"></span> &nbsp; &nbsp;Dictámenes generados el día de hoy: <b>@dictamenHoyConteo</b></h3>
            </div>
            <div class="modal-body">
                @{
                    foreach (var item in sucursalesLista)
                    {
                        var elemento = (from e in db.Captura where e.Sucursal == item.Nombre && e.FechaExpdiente >= dateToday && e.FechaExpdiente < dateTomorrow && e.EstatusCaptura == "Terminado" select e).Count();

                        <h4><b>@item.Nombre:</b> @elemento</h4>
                    }
                }
            </div>
        </div>
    </div>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-warning boton-transparenteIndicadorAm botonesGral col-md-4" data-toggle="modal" data-target="#enProcesoHoy" style="color:white">
    <h4><span class="glyphicon glyphicon-list-file"></span> &nbsp; &nbsp;Dictámenes en Proceso: <b>@enProcesoHoyConteo</b></h4>
</button>

<!-- Modal -->
<div class="modal fade" id="enProcesoHoy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:gold">
                <h3 class="modal-title" id="exampleModalLabel"><span class="glyphicon glyphicon-file"></span> &nbsp; &nbsp;Dictámenes en Proceso: <b>@enProcesoHoyConteo</b></h3>
            </div>
            <div class="modal-body">
                @{
                    foreach (var item in sucursalesLista)
                    {
                        var elemento = (from e in db.Captura where e.Sucursal == item.Nombre && e.FechaExpdiente >= dateToday && e.FechaExpdiente < dateTomorrow && (e.EstatusCaptura == "En captura..." || e.EstatusCaptura == "No iniciado") select e).Count();

                        <h4><b>@item.Nombre:</b> @elemento</h4>
                    }
                }
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-warning boton-transparenteIndicadorRo botonesGral col-md-4" data-toggle="modal" data-target="#pendientesHoy" style="color:white">
    <h4><span class="glyphicon glyphicon-file"></span> &nbsp; &nbsp;Dictámenes Pendientes: <b>@pendientesHoyConteo</b></h4>
</button>

<!-- Modal -->
<div class="modal fade" id="pendientesHoy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:crimson">
                <h3 class="modal-title" id="exampleModalLabel"><span class="glyphicon glyphicon-file"></span> &nbsp; &nbsp;Dictámenes Pendientes: <b>@pendientesHoyConteo</b></h3>
            </div>
            <div class="modal-body">
                @{
                    foreach (var item in sucursalesLista)
                    {
                        var elemento = (from e in db.Captura where e.Sucursal == item.Nombre && e.FechaExpdiente >= dateToday && e.FechaExpdiente < dateTomorrow && e.EstatusCaptura == "Pendiente" select e).Count();

                        <h4><b>@item.Nombre:</b> @elemento</h4>
                    }
                }
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-warning boton-transparenteIndicadorAz botonesGral col-md-4" data-toggle="modal" data-target="#citasHoy" style="color:white">
    <h4><span class="glyphicon glyphicon-list-alt"></span> &nbsp; &nbsp;Citas Hoy: <b>@citasHoyConteo</b></h4>
</button>

<!-- Modal -->
<div class="modal fade" id="citasHoy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:aquamarine">
                <h3 class="modal-title" id="exampleModalLabel"><span class="glyphicon glyphicon-list-alt"></span> &nbsp; &nbsp;Citas el día de hoy: <b>@citasHoyConteo</b></h3>
            </div>
            <div class="modal-body">
                @{
                    foreach (var item in sucursalesLista)
                    {
                        var elemento = (from e in db.Cita where e.Sucursal == item.Nombre && e.FechaCita >= dateToday && e.FechaCita < dateTomorrow select e).Count();

                        <h4><b>@item.Nombre:</b> @elemento</h4>
                    }
                }
            </div>
        </div>
    </div>
</div>


